<div *ngIf="showDiagData">
	<div class="close-btn">
		<a href="javascript:void(0)" (click)="closePopup()">
			 Go Back
		</a>
		<a href="javascript:void(0)" (click)="runAgain()">
			 Run Again
		</a>
	</div>	
	<div class="table-container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr> 
					<th>Office Name</th>
					<th>IP</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody>
			
			
			<tr *ngFor="let data of diagData">
					<td><span [innerHTML]="data[2]"></span></td>
					<td><span [innerHTML]="data[1]"></span></td>
					<td><span [innerHTML]="data[0]"></span></td>
				<tr>
				
				
			</tbody>						
		</table>
	</div>
</div>
