<!-- <div *ngIf="showPopup" class="validation-popup"> -->
	<!-- <div class="modal-backdrop fade in"></div> -->
	<!-- <div id="modal-login" class="modal fade-scale" tabindex="-1" style="display:block"> -->
		<!-- <div class="modal-dialog" role="document" style="width: 90%;"> -->
			<!-- <div class="modal-content"> -->
				<!-- <div class="modal-header"> -->
					<!-- <button type="button" class="close" (click)="closePopup()"> -->
						<!-- <span aria-hidden="true">&times;</span> -->
					<!-- </button> -->
					<!-- <h4 class="modal-title" id="myModalLabel">Validation Messages</h4> -->
				<!-- </div> -->
				<!-- <div class="modal-body"> -->
					<!-- <div *ngFor="let key of arrayOfKeys"> -->
						<!-- <h3>{{key}}</h3> -->
						<!-- <ul *ngFor="let data of ivfmData[key]" class="message-container"> -->
							<!-- <li [innerHTML]="data.ruleName +' - '+ data.message"></li> -->
						<!-- </ul> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <!-- <div class="modal-footer"></div> --> 
			<!-- </div> -->
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->


<div *ngIf="showIvfData">
	<div class="close-btn">
		<a href="javascript:void(0)" (click)="closePopup()">
			 Go Back
		</a>
		<a href="javascript:void(0)" (click)="runAgain()">
			 Run Again
		</a>
	</div>	
	<div *ngFor="let key of arrayOfKeys" class="table-container">
		<h3 [innerHTML]="key"></h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr> 
					<th style="min-width: 350px" class="table-heading">Rule Name 
					<span class="label label-success" [ngClass]="{'active':activeClP}" (click)="toggleResult('pass')">PASS: {{ivfmData[key].countP}}</span> 
					<span class="label label-danger" [ngClass]="{'active':activeClF}" *ngIf="ivfmData[key].countF>0" (click)="toggleResult('fail')"> FAIL: {{ivfmData[key].countF}}</span>
					<span class="label label-danger" [ngClass]="{'active':activeClE}" *ngIf="ivfmData[key].countE>0" (click)="toggleResult('exit')"> EXIT: {{ivfmData[key].countE}}</span>
					<span class="label label-info" [ngClass]="{'active':activeClA}" *ngIf="ivfmData[key].countA>0" (click)="toggleResult('alert')">ALERT: {{ivfmData[key].countA}}</span>
					</th>
					<th>Service&nbsp;Codes</th>
					<th>Tooth#</th>
					<th>Surface#</th>
					<th>Messages</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of ivfmData[key] | resultTypeFilter:filterType">
					<td><span [innerHTML]="data.ruleName"></span></td>
					<td><span [innerHTML]="data.serviceCode"></span></td>
					<td><span [innerHTML]="data.tooth"></span></td>
					<td><span [innerHTML]="data.surface"></span></td>
					<td><span [innerHTML]="data.message"></span></td>
					
				<tr>
			</tbody>						
		</table>
	</div>
</div>
