<div class="right-container"[ngClass]="{'setPadding':appService.setPaddingContainer}">
    <ng-container *ngIf="alert.showAlertPopup">
        <div class="alert show my-3 text-center" [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}" role="alert">
            <strong>{{alert.alertMsg}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alert.showAlertPopup=false;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </ng-container>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <div class="main-container">
                    <div class="form-container detail-box ">
                        <ng-container>
                            <label for="changePass">Change User Password</label>
                            <input type="password" [(ngModel)]="user.changedPassword">
                            <button type="button" (click)="changePassword()">Change Password</button>
                        </ng-container>

                        <ng-container *ngIf="isAdmin()">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="findUser">Find User By Email : </label>
                                        <div class="input-group">
                                            <input type="text" [(ngModel)]="user.email" class="form-control" placeholder="User By Email" aria-label="User By Email" aria-describedby="basic-addon2" [ngClass]="{'is-invalid': user.email && (user.email=='' || !(user.email.includes('@'))) }" required="true">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" (click)="findUser()" type="button"><img src="../assets/img/search.png" class="search-icon" /> Find</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  *ngIf="showActionPopup">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                            <select (change)="userAction($event)" class="form-control">
                                                <option selected="true" hidden="true">Action</option>
                                                <option value="changePass">Change Password</option>
                                                <option value="status" *ngIf="this.user.email !== userName">Enable / Disable Status</option>
                                                <!-- <option value="role" *ngIf="this.user.teamNameId != -1 && this.user.email != userName " >Enable / Disable Role</option> -->
                                                <option value="editUser" *ngIf="this.user.teamNameId != -1 && this.user.email != userName " >Edit User</option>
                                            </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="user.showChangePassword">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="changepass">Change Password :</label>
                                        <input type="text" class="form-control" [(ngModel)]="user['changedPassword']" [ngClass]="{'is-invalid': user.changedPassword && (user.changedPassword=='' || user.changedPassword.length<6)}" required="true">
                                    </div>
                                </div>
                                <div class="col-sm-3 find-btn">
                                    <button type="button" class="btn btn-success" (click)="changePassword()">Change Password</button>
                                </div>
                            </div>

                            <div class="row" *ngIf="user.showStatus">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="status">Enable Disable Status :</label>
                                        <div>
                                            <div class="form-check-inline">
                                                <input type="radio" class="form-check-input" id="enable" [checked]="user.active == 1" name="status" (change)="updateSingleUserStatus(1)">
                                                <label class="form-check-label" for="enable">Enable </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="radio" [checked]="user.active == 0" id="disable" class="form-check-input" name="status" (change)="updateSingleUserStatus(0)">
                                                <label class="form-check-label" for="disable">Disabled</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="user.showEditUser">
                                <div class="col-lg-8 px-0">
                                                <div class="col-lg-12 px-2">
                                                    <div class="main-container register-User">
                                                        <div class="form-container">
                                                            <form [formGroup]="editedUserDetails" style="padding-right:20%">
                                                                <div class="row">
                                                                    <div class="col-sm">
                                                                        <div class="form-group">
                                                                            <label for="fname">First Name</label>
                                                                            <input type="text" class="form-control" maxlength="25" formControlName="firstName" [ngClass]="{'is-invalid':editedUserDetails.controls.firstName.invalid && editedUserDetails.controls.firstName.touched,'is-valid':editedUserDetails.controls.firstName.valid}">
                                                                            <small class="text-danger" *ngIf="editedUserDetails.controls['firstName'].touched && editedUserDetails.controls['firstName'].errors?.required">* Please Provide Your First Name.</small>
                                                                            <small class="text-danger" *ngIf="editedUserDetails.controls['firstName'].touched && editedUserDetails.controls['firstName'].errors?.minlength">* Name cannot be less than 3 words.</small>
                                                                            <small class="text-danger" *ngIf="editedUserDetails.controls['firstName'].touched && editedUserDetails.controls['firstName'].errors?.pattern">* Numbers or Spaces are not allowed.</small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm">
                                                                        <div class="form-group">
                                                                            <label for="lname">Last Name</label>
                                                                            <input type="text" class="form-control" maxlength="25" formControlName="lastName" [ngClass]="{'is-invalid':editedUserDetails.controls.lastName.invalid && editedUserDetails.controls.lastName.touched,'is-valid':editedUserDetails.controls.lastName.valid}">
                                                                            <small class="text-danger" *ngIf="editedUserDetails.controls['lastName'].touched && editedUserDetails.controls['lastName'].errors?.required">* Please Provide Your Last Name.</small>
                                                                            <small class="text-danger" *ngIf="editedUserDetails.controls['lastName'].touched && editedUserDetails.controls['lastName']?.errors?.minlength">* Name cannot be less than 3 words.</small>
                                                                            <small class="text-danger" *ngIf="editedUserDetails.controls['lastName'].touched && editedUserDetails.controls['lastName'].errors?.pattern">* Numbers or Spaces are not allowed.</small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm"></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm">
                                                                    </div>
                                                                    <div class="col-sm">
                                                                    </div>
                                                                    <div class="col-sm"></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm">
                                                                        <div class="form-group">
                                                                            <label for="companyId">Role</label>
                                                                            <ng-container >    
                                                                                <div class="spinner-border text-secondary" role="status" *ngIf="showLoader"></div>
                                                                                    <select class="form-control" id="select" (change)="selectUserRole($event)" >
                                                                                        <option  hidden="true" value="" >Select Role</option>
                                                                                        <ng-container *ngFor="let userRole of userRoleData;let idx = index" >
                                                                                            <option value="{{userRole.roleId}}">{{userRole.roleName}}</option>
                                                                                        </ng-container>
                                                                                </select>
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm"> </div>
                                                                    <div class="col-sm"></div>
                                                                </div>
                                                                <div class="row" [ngStyle]="{'visibility': this.editedUserDetails.value.role == 'SUPER_ADMIN' ? 'hidden' : 'visible'}">
                                                                    <div class="col-sm">
                                                                        <div class="form-group">
                                                                            <label for="companyId">Client Name</label>
                                                                            <multi-select-dropdown [list]="this.activeUserClients" [userClientData]="this.user.clientName" (shareCheckedList)="shareCheckedList($event)" [isClient]="true" [isFromUserSetting]="true">
                                                                            </multi-select-dropdown>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm" [ngStyle]="{'visibility':this.editedUserDetails.value.role == 'SUPER_ADMIN' || this.editedUserDetails.value.role == 'ADMIN' || this.editedUserDetails.value.role == 'REPORTING' ? 'hidden' : 'visible' }  ">
                                                                        <div class="form-group">
                                                                            <label for="teamId">Team Name</label>
                                                                            <div class="spinner-border text-secondary" role="status" *ngIf="showLoader"></div>
                                                                            <multi-select-dropdown [list]="teamData" [userTeamData]="this.user.teamNameId" (shareCheckedList)="shareCheckedList($event)" [isTeam]="true" [isFromUserSetting]="true">
                                                                            </multi-select-dropdown>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm"></div>
                                                                </div>
                                                                <div class="my-3">
                                                                    <button type="button" class="btn btn-success" [disabled]="editedUserDetails.invalid" (click)="editRole()">Edit User</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        
                                                    </div>
                                         
                                        </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                </div>

        </div>

    </div>

</div>
