
<table>
<tr><td>
   Select Client Name <select class="form-control" id="" name="cName" [(ngModel)]="cName"
    (change)="fetchLatesClaimLLogs()">
    <option value="-1">Select Client Name</option>
    <option *ngFor="let sta of clients" [value]="sta.uuid">{{sta.clientName}}</option>
</select>
</td></tr>
 </table>   

<table  *ngIf="cName!='-1'">
    Update Through
    <ng-container *ngIf="smilePoint.uuid==cName">

        <input name="options" ng-control="options" type="radio" value="EAGLESOFT"  [(ngModel)]="sourceType" >EAGLESOFT

       <input name="options" ng-control="options" type="radio" value="GOOGLESHEET" [(ngModel)]="sourceType" >GOOGLESHEET
       
    </ng-container>
   
   

  
</table>


<table>
    <tr>
        <td>Office Name</td>
    <td>Database Updation Done?</td>
    <td>Last Updated On</td>
    <td>Source</td>
    <td>Total No. of New Claims Added</td>
    <td>Update </td>
    </tr>

    <tr *ngFor="let lg of log">
        <td>{{lg.officeName}}</td>
        <td>{{lg.status}}</td>
        <td>{{lg.cd | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{lg.source}}</td>
        <td>{{lg.newClaimsCount}}</td>
        <td><input
            type="checkbox"
            [(ngModel)]="lg.update"/></td>
    </tr>

    <input type="button" (click)="pullFreshClaims()" value="update lastest Claims"
     *ngIf="!loader">
</table>
