<div>
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-light"
            href="mailto:{{toAddress}}?subject=RCM%20Tool%20Feedback%20%26%20Assistance%20Request%20-%20{{clientName}}%20-%20{{date}}&body=Hello%20Team,%0D%0A%0D%0AI%20am%20reaching%20out%20to%20you%20today%20via%20the%20feedback%20button%20within%20the%20RCM%20Tool%20interface%20to%20share%20some%20thoughts%20and%20request%20assistance.%0D%0APlease%20see%20below%20details:%0D%0A%0D%0AUser%20Name:%20{{userName}}%0D%0ATeam:%20{{team}}%0D%0APage%20Link:%20{{emailUrl}}%0D%0AConcern:%20%0D%0A%0D%0AYour%20prompt%20attention%20to%20this%20matter%20would%20be%20greatly%20appreciated.%20Thank%20you%20for%20your%20assistance%20in%20advance."
            target="_blank">
            <img src="../../assets/img/feedback-icon.png" />
            Feedback
        </a>
    </li>
</div>