
<div class="claim-detail-container my-2">
    <div class="title">Claim Details:</div>
<table class="table table-striped table-bordered">
<tr class="totalRow">
    <th>Office : {{claimRcm.officeName}}</th>
    <th>Insurance Type : {{claimRcm.officeName}}</th>
    <th>Primary Insurance : {{claimRcm.primInsurance}}</th>
    <th>Primary Insurance Type: {{claimRcm.primaryInsType}}</th>
    <th>Regenerated Claim? : {{claimRcm.regenerated===true?"Yes":"No"}} </th>
</tr>
<tr>
    <td>Billing Status: {{claimRcm.claimStatus==appConstants.BILLING_ID?"Fresh":"Re-Billing"}}</td>
    <td>Member ID:  {{claimRcm.secMemberId}}</td>
    <td>Primary EOB:</td>
    <td>Linked Claim IDs:</td>
    <td></td>
</tr>
<tr>
    <td>ClaimType:</td>
    <td>Patient ID: {{claimRcm.patientId}}</td>
    <td>Secondary Insurance : {{claimRcm.secInsurance}}</td>
    <td>Secondary Type : {{claimRcm.secondaryInsType}}</td>
    <td></td>
</tr>
<tr>
    
    <td>Claim Type:</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

</tr>
<tr>
    <td>Claim ID: {{claimRcm.claimId | claimIdPipe}}</td>
    <td>Patient Name: {{claimRcm.patientName}}</td>
    <td>Treating Provider :</td>
    <td>Assignment of Benefits:</td>
    <td></td>
</tr>

<tr>
    
    <td>DOS: {{claimRcm.dos}}</td>
    <td>Patient DOB: {{claimRcm.patientDob}}</td>
    <td>Provider on Claim: </td>
    <td></td>
    <td></td>

</tr>

<tr>
    
    <td>Billed Amount:</td>
    <td>Subscriber Name:</td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr>
    
    <td>Estimated Amount:</td>
    <td>Submitted Total : {{claimRcm.submittedTotal}}</td>
    <td>Sec Submitted Total : {{claimRcm.primeSecSubmittedTotal}}</td>
    <td>Subscriber DOB:</td>
    <td></td>

</tr>

<tr>
    
    <td>Provider Id : {{claimRcm.providerId}}</td>
    <td>Pulled Date : {{claimRcm.pulledDate}}</td>
    <td></td>
    <td></td>
    <td></td>

</tr>
<tr>
    
    <td>Sec Status : {{(claimRcm.claimId | claimTypeFilter)?claimRcm.primeStatus:claimRcm.secStatus}}</td>
    <td> Timely filling Date : {{claimRcm.timeFilLimitDay}}</td>
    <td> Prime Policy Holder : {{claimRcm.primePolicyHolder}}</td>
    <td> Secondary Policy Holder : {{claimRcm.secPolicyHolder}}</td>
    <td></td>

</tr>

<tr>
    
    <td>Group Number  : {{claimRcm.groupNumber}}</td>
    <td>Source  : {{claimRcm.source}}</td>
    <td></td>
    <td></td>
    <td></td>

</tr>


</table>
</div>


<div class="link-to-related-doc my-3">
    <div  class="title">Links to Related Documents:</div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>IV ID : 213654</th>
            <th>Date of IV : 12/19/2022</th>
            <td><a routerLink="ivf" target="_blank">IV Link</a></td>
        </tr>
        <tr>
            <th>Signed Tx Plan ID: 456321</th>
            <th>Date of Tx. Plan: 12/19/2022</th>
            <td><a routerLink="">Treatment Plan Link</a></td>
        </tr>
    </table>
</div>

<div class="mx-1 my-2">
    <!-- <button class="btn btn-info" (click)="getIVFData()"> IVF DATA </button> -->
    <button class="btn btn-success mx-1"  (click)="getRulesData()"> Rule DATA  </button>
</div>
<ng-container *ngIf="ruleData.length>0">

<div class="rule-detail" >
<span>Claim ID: <span>{{ruleData[0].claimId}} of {{ruleData[0].officeName}} office</span></span>
<span> | Pt.ID: <span>{{ruleData[0].patientId}}</span></span>
<span> | IV.ID: <span>{{ruleData[0].ivId}}</span></span>
<span> | Pt.Name: <span>{{ruleData[0].patientName}}</span></span>
<span> | DOS: <span>{{ruleData[0].dos | date }}</span></span>
<span> | Tx plan Date: <span>{{ruleData[0].dos | date }}</span></span>
<span> | Ins.Type : <span>{{ruleData[0].insuranceType}}</span></span>
</div>
<table class="table table-striped table-bordered">
        <thead>
            <tr class="total-row">
                <th> Rule Name <button type="button" class="btn btn-success" (click)="switchType('pass')">Pass: {{count.pass}}</button> <button type="button" class="btn btn-danger mx-1" (click)="switchType('fail')">Fail: {{count.fail}}</button><button type="button" class="btn btn-info" (click)="switchType('alert')">Alert: {{count.alert}}</button> </th>
                <th> Service Codes</th>
                <th> Tooth#</th>
                <th> Surface#</th>
                <th> Messages</th>
                <th> Remark</th>
            </tr>
           
        </thead>
        <tbody>
            <tr *ngFor="let rule of ruleData;let idx=index">
                <ng-container *ngIf="rule.mtype==mtype">
                    <td>{{rule.ruleName}}</td>
                    <td>{{rule.codes}}</td>
                    <td>{{rule.tooth}} </td>
                    <td>{{rule.surface}}</td>
                    <td [innerHTML]="rule.message"></td>
                    <td> <input type="text" maxlength="30" minlength="3" [required]="mtype==1"> </td>
                </ng-container>
            </tr>
    </tbody>
</table>
</ng-container>
