<div class="right-container" [ngClass]="{'setPadding':appService.setPaddingContainer}">
    <div class="container-fluid cldet">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <div class="main-container">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light" [ngClass]="{active:claimRcm.primary}">
                                    <input type="radio" name="options" value="Primary"
                                        (click)="fetchClaim(claimRcm.assoicatedClaimUuid,claimRcm.primary,'Primary')">
                                    Primary
                                </label>
                                <ng-container *ngIf="claimRcm.assoicatedClaimUuid">
                                    <label class="btn btn-light" [ngClass]="{active:!claimRcm.primary}">
                                        <input type="radio" name="options" value="Secondary"
                                            (click)="fetchClaim(claimRcm.assoicatedClaimUuid,claimRcm.primary,'Secondary')">
                                        Secondary
                                    </label>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <a data-toggle="collapse" (click)="showHide(0)" class="bold-b-text"
                                aria-expanded="true">Claim Details: <span
                                    style="color:#ff00a8">{{infoMessage}}</span></a>
                            <div class="form-row collapse show" id="claimDetails">
                                <div class="col-md-3 mb-2">
                                    <div class="custom-row">
                                        <label for="" class="">Office :</label>
                                        <div>{{claimRcm.officeName}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Billing Status :</label>
                                        <div>{{claimRcm.claimStatus==appConstants.BILLING_ID?"Fresh":"Re-Billing"}}
                                        </div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Client Name :</label>
                                        <div>{{claimRcm.clientName}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Claim ID :</label>
                                        <div>{{claimRcm.claimId | claimIdPipe}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">DOS :</label>
                                        <div>{{claimRcm.dos}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Billed Amount :</label>
                                        <div></div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Estimated Amount :</label>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="custom-row">
                                        <label for="" class="">Insurance Type :</label>
                                        <div>{{claimRcm.officeName}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Member ID :</label>
                                        <div> {{claimRcm.secMemberId}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Patient ID :</label>
                                        <div>{{claimRcm.patientId}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Patient Name :</label>
                                        <div>{{claimRcm.patientName}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Patient DOB :</label>
                                        <div>{{claimRcm.patientDob}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Subscriber Name :</label>
                                        <div></div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Subscriber DOB :</label>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="custom-row">
                                        <label for="" class="">Primary Insurance :</label>
                                        <div class="NA">{{claimRcm.primInsurance}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Primary EOB :</label>
                                        <div></div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Secondary Insurance :</label>
                                        <div>{{claimRcm.secInsurance}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Treating Provider :</label>
                                        <div></div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Provider on Claim :</label>
                                        <div></div>
                                    </div>


                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="custom-row">
                                        <label for="" class="">Regenerated Claim? :</label>
                                        <div [ngClass]="{'yes':claimRcm.regenerated,'no':!claimRcm.regenerated}">
                                            {{claimRcm.regenerated===true?"Yes":"No"}}</div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Linked Claim IDs :</label>
                                        <div></div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Claim Type :</label>
                                        <div></div>
                                    </div>
                                    <div class="custom-row">
                                        <label for="" class="">Claim Assigned To :</label>
                                        <div>{{claimRcm.assignedToName}}</div>
                                    </div>

                                    <div class="custom-row">
                                        <label for="" class="">Team Assigned:</label>
                                        <div [innerHTML]="claimRcm.currentTeam"></div>
                                        <!--[innerHTML]="getTeamName(claimRcm.currentTeam+'')">-->
                                    </div>

                                    <div class="custom-row">
                                        <label for="" class="">Claim Staus:</label>
                                        <div [innerHTML]="claimRcm.pending?'Pending':'Submiited'"></div>
                                    </div>


                                </div>
                            </div>
                            <a data-toggle="collapse" (click)="showHide(1)" class="bold-b-text "
                                aria-expanded="false">Links to Related Documents:</a>
                            <div class="form-row collapse show" id="linksToDocuments">
                                <div class="col-md-3 mb-2">
                                    <div class="custom-row text-number">
                                        <label for="" class="">IV ID :</label>
                                        <div>{{claimRcm.ivfId}}</div>
                                    </div>
                                    <div class="custom-row text-number">
                                        <label for="" class="">Signed Tx Plan ID :</label>
                                        <div>{{claimRcm.tpId}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="custom-row text-number">
                                        <label for="" class="">Date of IV :</label>
                                        <div>{{claimRcm.ivDos}}</div>
                                    </div>
                                    <div class="custom-row text-number">
                                        <label for="" class="">Date of Tx. Plan :</label>
                                        <div>{{claimRcm.tpDos}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div><a [routerLink]="['ivf']" target="_blank" class="flex-center">IV Link<img
                                                src="../../../assets/img/right-arrow-blue.png" /></a></div>
                                    <div><a [routerLink]="['tp']" target="_blank" class="flex-center">Treatment Plan Link<img
                                                src="../../../assets/img/right-arrow-blue.png" /></a></div>
                                </div>
                            </div>
                            <a data-toggle="collapse" (click)="showHide(2)" class="bold-b-text "
                                aria-expanded="false">Remarks by Other RCM Teams:</a>
                            <div class="form-row  collapse show" id="teamRemarks">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Team Name</th>
                                                <th>Date of Remarks</th>
                                                <th class="remark">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="otherTeamRemarks?.length>0">
                                                <tr *ngFor="let rem of otherTeamRemarks ;let idx=index">
                                                    <td>{{idx+1}}</td>
                                                    <td>{{rem.teamName}}</td>
                                                    <td>{{rem.cd}}</td>
                                                    <td>{{rem.comment}}</td>
                                                </tr>
                                            </ng-container>
                                            <ng-container *ngIf="otherTeamRemarks?.length==0 || !otherTeamRemarks">
                                                No Remarks Found.
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <a data-toggle="collapse" (click)="showHide(3)" class="bold-b-text "
                                aria-expanded="false">Additional Requirements for Rebilled Claims:</a>
                            <div class="form-row  collapse show" id="rebilledClaims">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Team Name</th>
                                                <th>Date</th>
                                                <th>Requirement</th>
                                                <th>Requirment Details</th>
                                                <th>Done?</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            Not Found.
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <ng-container *ngIf="smilePoint">
                                <a (click)="reval()" *ngIf="claimRcm.allowEdit && claimRcm.pending"> Re Validate
                                    Automated
                                    Claims</a>
                                <a data-toggle="collapse" (click)="showHide(4)" class="bold-b-text "
                                    aria-expanded="false">Claim Level Validations (Automated):</a>
                                <div class="form-row  collapse show" id="claimValidations">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Number</th>
                                                    <th>Name</th>
                                                    <th>Scope</th>
                                                    <th>Description</th>
                                                    <th>Passed/Failed</th>
                                                    <th>Fail Message</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let rule of claimRules | generalFilter : 'manualAuto':'AUTO';let idx=index">
                                                    <td>{{idx+1}}</td>
                                                    <td>{{rule.ruleName}}</td>
                                                    <td>Full Claim</td>
                                                    <td>{{rule.ruleDesc}}</td>

                                                    <td>

                                                        <div data-toggle="buttons" class="btn-group btn-group-toggle"
                                                            style="display: flex;width: 50%"
                                                            id="CL_P_F_{{rule.ruleId}}">
                                                            <label class="btn btn-light"
                                                                [ngClass]="{active:rule.messageType==2}">
                                                                <input type="radio" name="amant{{idx}}" value="2"> Yes
                                                            </label>
                                                            <label class="btn btn-light"
                                                                [ngClass]="{active:rule.messageType==1}">
                                                                <input type="radio" name="amant{{idx}}" value="1"> No
                                                            </label>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div [innerHTML]="rule.message"></div>
                                                    </td>
                                                    <td><textarea class="form-control" id="" rows="1"
                                                            [(ngModel)]='rule.remark' id="CL_RU{{rule.ruleId}}"
                                                            (keydown)="removeErrorDisplayKey($event)"
                                                            [disabled]="makeReadOnly()"></textarea></td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>
                            <a data-toggle="collapse" (click)="showHide(5)" class="bold-b-text "
                                aria-expanded="false">Claim Level Validations (Manual):</a>
                            <div class="form-row  collapse show" id="claimValidationsManual">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr
                                                *ngFor="let rule of claimRules | generalFilter : 'manualAuto':'MANUAL';let idx=index">
                                                <td>{{idx+1}}</td>
                                                <td>{{rule.ruleName}}</td>
                                                <td>Full Claim</td>
                                                <td>{{rule.ruleDesc}}</td>
                                                <td>

                                                    <div data-toggle="buttons" class="btn-group btn-group-toggle"
                                                        style="display: flex;width: 50%" id="CL_P_F_{{rule.ruleId}}">
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:rule.messageType==2}">
                                                            <input type="radio" name="mant{{idx}}" value="2"
                                                                (click)="rule.messageType=2;removeErrorDisplayKeyById('CL_RU',rule.ruleId);removeErrorDisplayKeyById('CL_P_F_',rule.ruleId)"
                                                                [(ngModel)]='rule.messageType'
                                                                [disabled]="makeReadOnly()"> Yes
                                                        </label>
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:rule.messageType==1}">
                                                            <input type="radio" name="mant{{idx}}" value="1"
                                                                (click)="rule.messageType=1;removeErrorDisplayKeyById('CL_RU',rule.ruleId);removeErrorDisplayKeyById('CL_P_F_',rule.ruleId)"
                                                                [(ngModel)]='rule.messageType'
                                                                [disabled]="makeReadOnly()"> No
                                                        </label>
                                                    </div>

                                                </td>
                                                <td><textarea class="form-control" id="" rows="1"
                                                        [(ngModel)]='rule.remark' id="CL_RU{{rule.ruleId}}"
                                                        (keydown)="removeErrorDisplayKey($event)"
                                                        [disabled]="makeReadOnly()"></textarea></td>
                                            </tr>
                                            <ng-container *ngIf="claimRcm.claimNotes">
                                                <tr>
                                                    <td colspan="2" class="text-right">{{claimRcm.claimNotes[0].key}}
                                                    </td>
                                                    <td colspan="4"><textarea class="form-control mandatory"
                                                            id="CL_N_{{claimRcm.claimNotes[0].id}}" rows="1"
                                                            [(ngModel)]='claimRcm.claimNotes[0].value'
                                                            (keydown)="removeErrorDisplayKey($event)"
                                                            [disabled]="makeReadOnly()"></textarea></td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <ng-container *ngIf="smilePoint">
                                <a data-toggle="collapse" (click)="showHide(6)" class="bold-b-text "
                                    aria-expanded="false">Rule Engine Validations:</a>
                                <div class="form-row  collapse show" id="claimValidationsRE">
                                    <ng-container *ngIf="ruleEngineReport.length>0">
                                        <div class="rule-detail" [innerHTML]="reheading">
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr class="total-row">
                                                        <th>
                                                            <div style="display: flex; width: 455px;"
                                                                class="rule-switch"> Rule Name <button type="button"
                                                                    class="btn btn-success"
                                                                    (click)="switchType('pass')">Pass:
                                                                    {{count.pass}}</button> <button type="button"
                                                                    class="btn btn-danger mx-1"
                                                                    (click)="switchType('fail')">Fail:
                                                                    {{count.fail}}</button><button type="button"
                                                                    class="btn btn-info"
                                                                    (click)="switchType('alert')">Alert:
                                                                    {{count.alert}}</button> </div>
                                                        </th>
                                                        <th> Service Codes</th>
                                                        <th> Tooth#</th>
                                                        <th> Surface#</th>
                                                        <th> Messages</th>
                                                        <th> Remark</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rule of ruleEngineReport;let idx=index">
                                                        <ng-container *ngIf="rule.mtype===mtype">
                                                            <td>{{rule.ruleName}}</td>
                                                            <td>{{rule.codes}}</td>
                                                            <td>{{rule.tooth}} </td>
                                                            <td>{{rule.surface}}</td>
                                                            <td [innerHTML]="rule.message"></td>
                                                            <td> <input type="text" maxlength="100"
                                                                    [(ngModel)]='rule.remark'
                                                                    id="ENG_REP_{{rule.ruleId}}"
                                                                    (click)="removeErrorDisplayKeyById('ENG_REP_',rule.ruleId)"
                                                                    [disabled]="makeReadOnly()"> </td>
                                                        </ng-container>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="ruleEngineReport.length==0">
                                        Rule Not Run in Rule Engine
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="smilePoint">
                                <a data-toggle="collapse" (click)="showHide(7)" class="bold-b-text "
                                    aria-expanded="false" id="serviceCodeValidations">Service Code Level
                                    Validations:</a>
                                <div class="form-row  collapse show">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Number</th>
                                                    <th>Name</th>
                                                    <th>Service Codes</th>
                                                    <th style="width:40%">Description</th>
                                                    <th>Passed/Failed</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="claimServiceLevelModel?.claimFound==false">
                                                    <tr>
                                                        <td colspan="6">Claim Data Not Found..</td>
                                                    </tr>
                                                </ng-container>
                                                <ng-container *ngIf="claimServiceLevelModel?.claimFound">

                                                    <tr *ngFor="let d of claimServiceLevelModel.dto; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>{{d.name}}</td>
                                                        <td>{{d.serviceCode}}</td>
                                                        <td>{{d.description}}</td>
                                                        <td>
                                                            <div data-toggle="buttons"
                                                                class="btn-group btn-group-toggle"
                                                                style="display: flex;width: 50%">
                                                                <label class="btn btn-light"
                                                                    [ngClass]="{active:d.messageType==2}">
                                                                    <input type="radio" name="mt{{i}}" value="2"
                                                                        (click)="d.messageType=2;removeErrorDisplayKeyById('SERV_C_V_',i)"
                                                                        [(ngModel)]='d.messageType'
                                                                        [disabled]="makeReadOnly()"> Yes
                                                                </label>
                                                                <label class="btn btn-light"
                                                                    [ngClass]="{active:d.messageType==1}">
                                                                    <input type="radio" name="mt{{i}}" value="1"
                                                                        (click)="d.messageType=1;removeErrorDisplayKeyById('SERV_C_V_',i)"
                                                                        [(ngModel)]='d.messageType'
                                                                        [disabled]="makeReadOnly()"> No
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td><textarea class="form-control" id="" rows="1"
                                                                [(ngModel)]='d.remark' id="SERV_C_V_{{i}}"
                                                                [disabled]="makeReadOnly()"></textarea></td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>

                            <a data-toggle="collapse" (click)="showHide(8)" class="bold-b-text "
                                aria-expanded="false">Enter Claim Submission Details:</a>
                            <div class="form-row  collapse show" id="claimSubmissionDetails">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Number</th>
                                                <th>Description</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>Date & Time of Claim Processing in Eaglesoft</td>
                                                <td>
                                                    <div class="multi-input-row">
                                                        <input class="form-control" id="" rows="1" id="SUB_DET_DT"
                                                            placeholder="yyyy-mm-dd"
                                                            (click)="removeErrorDisplayKeyById('SUB_DET_DT')"
                                                            [disabled]="makeReadOnly()"
                                                            [(ngModel)]='submissionDto.esDate' type="date" />
                                                        <span class="and-space">&</span> <input class="form-control"
                                                            id="" rows="1" id="SUB_DET_TI"
                                                            (click)="removeErrorDisplayKeyById('SUB_DET_TI')"
                                                            [disabled]="makeReadOnly()"
                                                            [(ngModel)]='submissionDto.esTime' type="time" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td>Channel used to submit the Claim Insurance (Submission type)</td>

                                                <td>
                                                    <div data-toggle="buttons" class="btn-group btn-group-toggle"
                                                        style="display: flex;width: 50%" id="SUB_DET_CHA">
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto.channel=='RemoteLite'}">
                                                            <input type="radio" name="channel" value="RemoteLite"
                                                                (click)="submissionDto.channel='RemoteLite';removeErrorDisplayKeyById('SUB_DET_CHA')"
                                                                [disabled]="makeReadOnly()"> RemoteLite
                                                        </label>
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto?.channel=='Fax'}">
                                                            <input type="radio" name="channel" value="Fax"
                                                                (click)="submissionDto.channel='Fax';removeErrorDisplayKeyById('SUB_DET_CHA')"
                                                                [disabled]="makeReadOnly()"> Fax
                                                        </label>
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto?.channel=='Mail'}">
                                                            <input type="radio" name="channel" value="Mail"
                                                                (click)="submissionDto.channel='Mail';removeErrorDisplayKeyById('SUB_DET_CHA')"
                                                                [disabled]="makeReadOnly()"> Mail
                                                        </label>
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto?.channel=='Portal'}">
                                                            <input type="radio" name="channel" value="Portal"
                                                                (click)="submissionDto.channel='Portal';removeErrorDisplayKeyById('SUB_DET_CHA')"
                                                                [disabled]="makeReadOnly()"> Portal
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>03</td>
                                                <td>Attachment sent with claim </td>
                                                <td>
                                                    <div data-toggle="buttons" class="btn-group btn-group-toggle"
                                                        id="SUB_DET_ATT">
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto.attachmentSend}">
                                                            <input type="radio" name="atch" value=""
                                                                (click)="submissionDto.attachmentSend=true;removeErrorDisplayKeyById('SUB_DET_ATT')"
                                                                [disabled]="makeReadOnly()"> Yes
                                                        </label>
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto.attachmentSend==false}">
                                                            <input type="radio" name="atch" value=""
                                                                (click)="submissionDto.attachmentSend=false;removeErrorDisplayKeyById('SUB_DET_ATT')"
                                                                [disabled]="makeReadOnly()"> No
                                                        </label>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>04</td>
                                                <td>Preauth </td>
                                                <td>
                                                    <div data-toggle="buttons" class="btn-group btn-group-toggle"
                                                        id="SUB_DET_PRE">
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto.preauth}">
                                                            <input type="radio" name="atch" value=""
                                                                (click)="submissionDto.preauth=true;removeErrorDisplayKeyById('SUB_DET_PRE')"
                                                                [disabled]="makeReadOnly()" [disabled]="makeReadOnly()">
                                                            Yes
                                                        </label>
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto.preauth==false}">
                                                            <input type="radio" name="atch" value=""
                                                                (click)="submissionDto.preauth=false;removeErrorDisplayKeyById('SUB_DET_PRE')"
                                                                [disabled]="makeReadOnly()" [disabled]="makeReadOnly()">
                                                            No
                                                        </label>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>05</td>
                                                <td>Refferal Letter </td>
                                                <td>
                                                    <div data-toggle="buttons" class="btn-group btn-group-toggle"
                                                        id="SUB_DET_REF">
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto.refferalLetter}">
                                                            <input type="radio" name="atch" value=""
                                                                (click)="submissionDto.refferalLetter=true;removeErrorDisplayKeyById('SUB_DET_REF')"
                                                                [disabled]="makeReadOnly()"> Yes
                                                        </label>
                                                        <label class="btn btn-light"
                                                            [ngClass]="{active:submissionDto.refferalLetter==false}">
                                                            <input type="radio" name="atch" value=""
                                                                (click)="submissionDto.refferalLetter=false;removeErrorDisplayKeyById('SUB_DET_REF')"
                                                                [disabled]="makeReadOnly()"> No
                                                        </label>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>06</td>
                                                <td>Claim #</td>
                                                <td><textarea class="form-control" id="" rows="1" id="SUB_DET_CLA"
                                                        (click)="removeErrorDisplayKeyById('SUB_DET_CLA')"
                                                        [disabled]="makeReadOnly()"
                                                        [(ngModel)]='submissionDto.claimNumber'></textarea></td>
                                            </tr>
                                            <tr>
                                                <td>07</td>
                                                <td>Preauth #</td>
                                                <td><textarea class="form-control" id="" rows="1" id="SUB_DET_PRENO"
                                                        (click)="removeErrorDisplayKeyById('SUB_DET_PRENO')"
                                                        [disabled]="makeReadOnly()"
                                                        [(ngModel)]='submissionDto.preauthNo'></textarea></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <strong>Remarks if needed</strong>
                                    <div><textarea class="form-control" id="" rows="3"
                                            [(ngModel)]='claimRcm.claimRemarks' [disabled]="makeReadOnly()"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div id="assigment-modal" class="modal">
                            <div class="modal-content">
                                <div _ngcontent-qaa-c48="" class="modal-header">
                                    <h5 class="modal-title">Assign</h5>
                                    <button type="button" (click)="closeModal()" class="close"><span>×</span></button>
                                  </div>
<div class="modal-body">

        <ng-container *ngIf="assignModel.toLead" sytle="">
            <div class="table-responsive">
                <div role="alert" class="alert alert-info"><img src="../../assets/img/info-icon-border.png">Any Data Saved for latter processing will be lost</div>
                <select class="form-control" id="selectLeadName" name=""
                    [(ngModel)]='claimEditModel.assignTouuid'>
                    <option selected="true" value="">Select Lead Name</option>
                    <ng-container *ngFor="let tl of tlUsers">
                        <option value="{{tl.uuid}}">{{tl.firstName}} {{tl.lastName}}
                        </option>
                    </ng-container>
                </select>
                <div class="remark-box"><label>Remark:</label><input name="tlRemark" id="tlRemark" class="form-control" /></div>
                <div [innerHTML]="tlErrormsg" class="success-msg"></div>                
            </div>


        </ng-container>

        <ng-container *ngIf="assignModel.toOtherTeam">
            <div class="table-responsive">
                <div class="team-name-box">
                    <label>Team Name:</label>
                <select class="form-control" id="selectTeam" name="w"
                    [(ngModel)]='claimEditModel.assignToTeam'>
                    <option selected="true" value="-1">Select Team</option>
                    <ng-container *ngFor="let tl of teamsMs">
                        <option value="{{tl.teamId}}">{{tl.teamName}}</option>
                    </ng-container>
                </select>
            </div>
            </div>
            <div class="alert fade show text-center" *ngIf="alert.showAlertPopup"
                [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}"
                role="alert">
                <strong>{{alert.alertMsg}}</strong>
            </div>

        </ng-container>
</div>
<div class="modal-footer">
    <ng-container *ngIf="assignModel.toLead">
        <button type="button" class="btn btn-success"
        (click)="assignToLead()">Assign to Team Lead</button>
    </ng-container>
    <ng-container *ngIf="assignModel.toOtherTeam">
        <button type="button" class="btn btn-success"
        (click)="assignToOtherTeam()">Assign to Other Team</button>
    </ng-container>
    <ng-container *ngIf="alert.showAlertPopup">
        <button type="button" (click)="alert.showAlertPopup=false;" class="close"
        data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </ng-container>
</div>

                            </div>
                        </div>
                        <!-- Modal End -->
                        <div class="action-buttons">
                            <button *ngIf="claimRcm.allowEdit && ( (!claimRcm.primary && !claimRcm.assoicatedClaimStatus && claimRcm.pending) || 
                                                         (claimRcm.primary && claimRcm.pending) 
                                                       )" type="button" class="btn btn-success" [disabled]="inSave"
                                (click)="saveClaim('latter')">Save For Later Processing</button>
                            <button *ngIf="claimRcm.pending && (isRoleLead || smilePoint)" type="button"
                                class="btn btn-success" [disabled]="inSave" (click)="saveClaim('assigntl')">Assign to
                                Team Lead</button>
                            <button *ngIf="claimRcm.allowEdit && ( (!claimRcm.primary && !claimRcm.assoicatedClaimStatus && claimRcm.pending) || 
                                                         (claimRcm.primary && claimRcm.pending) 
                                                       )" type="button" class="btn btn-success" [disabled]="inSave"
                                (click)="saveClaim('submit')">Mark as Submittted</button>
                            <button *ngIf="claimRcm.allowEdit && ( (!claimRcm.primary && !claimRcm.assoicatedClaimStatus && claimRcm.pending) || 
                                                         (claimRcm.primary && claimRcm.pending) 
                                                       )" type="button" class="btn btn-success" [disabled]="inSave"
                                (click)="saveClaim('assign')">Assign to Another Team</button>
                        </div>
                        <div>

                            <div>

                                <div class="alert fade show text-center" *ngIf="alert.showAlertPopup"
                                    [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}"
                                    role="alert">
                                    <strong>{{alert.alertMsg}}</strong>
                                    <button type="button" (click)="alert.showAlertPopup=false;" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>