<div>
    <div (mouseleave)="showDropDown = false">
        <button class="drop-toggle btn flat" (click)="showDropDown=!showDropDown">
            <span *ngIf="clientCheckedList.length<=0 ||  teamCheckedList.length<=0 ">Select</span>
            <span *ngIf="clientCheckedList.length>0 && isClient" >
                <ng-container *ngFor="let item of clientCheckedList; let last = last"> {{ item.name }}{{last ? '': ','}}</ng-container>
            </span>
            <span *ngIf="teamCheckedList.length>0 && isTeam" >
                <ng-container *ngFor="let item of teamCheckedList; let last = last"> {{item.teamName}}{{last ? '': ','}}</ng-container>
            </span>
            <i class="fa fa-angle-down"></i>
        </button>
        <div class="drop-show" *ngIf="showDropDown && isClient">
            <label *ngFor="let a of list;let idx = index">
                <input type="checkbox" [(ngModel)]="a.checked" 
                    (change)="getSelectedValue(a.checked,list[idx],'client')" />
                <span>{{a.name}}</span>
            </label>
        </div>
        <div class="drop-show" *ngIf="showDropDown && isClient && isFromUserSetting">
            <label *ngFor="let a of list;let idx = index">
                <input type="checkbox" [(ngModel)]="a.checked" 
                    (change)="getSelectedValue(a.checked,list[idx],'userSettingClient')" />
                <span>{{a.name}}</span>
            </label>
        </div>
        <div class="drop-show-team" *ngIf="showDropDown && isTeam">
            <label *ngFor="let a of list;let idx = index">
                <input type="checkbox" [(ngModel)]="a.checked" 
                    (change)="getSelectedValue(a.checked,list[idx],'userSettingTeam')" />
                <span>{{a.teamName}}</span>
            </label>
        </div>
    </div>
</div>