.backBtn {
    color: white;
    float: left;
    margin-right: 10px;
    background: #4789ff;
    padding: 2px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.passed,
.failed,
.notRun {
    display: inline-flex;
    align-items: center;
    background: #00915f;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    justify-content: center;
}

.failed {
    background: #ff0000;
}

.notRun {
    background: #ffebb2;
    border: 2px solid #ffebb2;
}

.passed img,
.failed img {
    filter: brightness(0) invert(1);

}

.passedNum {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    margin: 0 1px;
    background: #009f76;
    border-radius: 20px;
    padding: 0 7px;
    margin-left: 2px;
    margin-right: 2px;
}

.passedNum.fail {
    background: #dc3545;
}

.ivUpdate .modal-content {
    width: 50% !important;
}

.no-wrap-text label {
    white-space: nowrap;
}

.sub-content-row {
    background: #f9f9f9;
}

.sub-content-row td:first-child {
    padding-left: 50px !important;
}

.sub-content-td {
    margin-left: 122px;
    width: calc(100% - 122px);
}

.sub-content-td td {
    border-top: 0px !important
}

.sub-content-td td strong {
    margin-right: 5px;
}

.plan-id-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    label {
        min-width: 152px;
    }

}

.detail-box .bold-b-text {
    display: flex !important;
    justify-content: space-between;

    a {
        color: #000;
    }

    .down-icon a.close {
        cursor: pointer;
        background: url('../../assets/img/up-arrow.png') no-repeat right center !important;
    }

    .down-icon a {
        cursor: pointer;
        padding: 13px;
        background: url('../../assets/img/down_icon.png') no-repeat right center !important;
    }
}