.backBtn {
    color: white;
    float: left;
    margin-right: 10px;
    background: #4789ff;
    padding: 2px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.passed,
.failed,
.notRun {
    display: inline-flex;
    align-items: center;

    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    justify-content: center;
}

.failed {
    background: #ff0000;
}

.notRun {
    background: #ffebb2;
    border: 2px solid #ffebb2;
}


.failed img {
    filter: brightness(0) invert(1);

}

.passedNum {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    margin: 0 1px;
    background-color: #4bcd3e;
    border-radius: 20px;
    padding: 0 7px;
    margin-left: 2px;
    margin-right: 2px;
}

.passedNum.fail {
    background: #dc3545;
}

.ivUpdate .modal-content {
    width: 35% !important;
}

.no-wrap-text label {
    white-space: nowrap;
}

.sub-content-row {
    background: #f9f9f9;
}

.sub-content-row td:first-child {
    padding-left: 50px !important;
}

.sub-content-td {
    margin-left: 122px;
    width: calc(100% - 122px);
}

.sub-content-td td {
    border-top: 0px !important;
    height: auto !important;

}

.sub-content-td td strong {
    margin-right: 5px;
}

.plan-id-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    label {
        min-width: 152px;
    }

}

.detail-box .bold-b-text {
    display: flex !important;
    justify-content: space-between;

    a {
        color: #000;
    }

    .down-icon a.close {
        cursor: pointer;
        background: url('../../assets/img/down_icon.png') no-repeat right center !important;
    }

    .down-icon a {
        cursor: pointer;
        padding: 13px;
        background: url('../../assets/img/up-arrow.png') no-repeat right center !important;
    }
}

.form-control {
    width: 100%;
}

.date-control {
    max-width: 300px;

}

.not-found {
    padding-left: 10px;
}

.remark-col {
    width: 270px;
}

.remarkAria strong {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    display: inline-block;
}









.addSteps {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-X: hidden;


    .addSteps-col-1 {
            width: 100%;
            margin-right: 5px;
    
            &.width-reduce {
                width: calc(100% - 286px);
            }
        }

}

.steps-taken {
    padding: 10px;
    background: #fff;
    box-shadow: 0px 1px 3px #d5d5d5;
    margin-bottom: 53px;
    border-radius: 10px;
    margin-top: 43px;
    right: 5px;
    position: fixed;
    padding-top: 45px;
    transition: all 0.3s;
    min-width: 260px;
    overflow-y: auto;
    height: calc(100% - 160px);
    scrollbar-width: thin;
    background: #2c4e6c;
}

.steps-taken ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.steps-taken span.claimDate {
    padding: 0 6px;
    font-weight: normal;
    font-size: 12px;
}

.steps-taken li.waiting {
    &:after {
        background: linear-gradient(180deg, rgba(0, 208, 77, 1) 0%, rgba(208, 208, 208, 1) 100%);
    }

    &:before {
        color: #d0d0d0;
    }
}

.steps-taken.vertical ul {
    flex-flow: column;
}
.steps-taken.vertical ul li{
    padding-left: 20px;
    border-left: 4px solid #567189;
    line-height: normal;
    position: relative;
    margin-left: 10px;

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: #2c4e6c;
        position: absolute;
        left: -11px;
        top: 0px;
        border: 4px solid #fff;
        border-radius: 50%;
    }
    &:last-child:after {
        background: #2c4e6c;
        position: absolute;
        left: -6px;
        bottom: 0px;
        width: 10px;
        height: 58px;
        content: "";
    }
}

.steps-taken.vertical ul li strong {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}
.steps-taken.vertical ul li a{
    background: #567189;
    font-size: 14px;
    color: #f7f7f7;
    position: relative;
    margin-bottom: 40px;
    min-width: 220px;
    border-radius: 10px;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    max-width: 220px;
    text-align: center;
    padding: 0 10px;
}

.steps-taken.vertical li.done{
    border-left: 4px solid #5abe37;
}
.steps-taken.vertical li.done a{
    background: #5abe37;
    color: #ffffff;
}

.steps-taken.vertical li.undone{
    border-left: 4px solid #5abe37;
}
.steps-taken.vertical li.undone a{
    background: #696969;
    color: #ffffff;
}
.steps-taken.vertical li.mk_archive{
    border-left: 4px solid #5abe37;
}
.steps-taken.vertical li.mk_archive a{
    background: #ff0000;
    color: #ffffff;
}

.steps-taken.vertical li.mk_archive a::before {
    content: "";
    width: 21px;
    height: 4px;
    background: #5abe37;
    top: 18px;
    position: absolute;
    z-index: 0;
    left: -23px;
}

.steps-taken.vertical li.done a::before {
    content: "";
    width: 21px;
    height: 4px;
    background: #5abe37;
    top: 18px;
    position: absolute;
    z-index: 0;
    left: -23px;
}

.steps-taken.vertical li.undone a::before {
    content: "";
    width: 21px;
    height: 4px;
    background: #5abe37;
    top: 18px;
    position: absolute;
    z-index: 0;
    left: -23px;
}

.hide_class {
    display: none;
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

.toggleSidebar {
    margin-right: -260px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.for-hide-btn{

    .page-heading{
        margin-top: 20px;
    }

    .steps-taken{
        margin-top: 0px;
    }

    .claim-steps-btn{
        top: 70px !important;
    }

}

@keyframes animateleft {
    from {
        right: 0;
        opacity: 1
    }

    to {
        right: -300px;
        opacity: 0
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.row-grey{
    background-color: lightgray !important;
}
.notes-modal{
    .modal-dialog{
        max-width: 850px;
        margin: 1.75rem auto;
    }
   
    display: block !important;
    .modal-content{
        padding: 0px;
        width: 100%;
        .close{
            font-size: 25px;
        }
    }
    
}

.pdf-viewer {

    border-top: 1px solid #ccc;
    background: #eee;

    .pdf-action-box {
        background: #ddd;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-top: 10px;

        .pdf-search-box {
            display: flex;

            .form-control {
                width: 300px;
            }
        }

        .zoom-action {
            .btn {
                margin-right: 10px;
            }
        }
    }
}

.mutliselect.is-invalid {
    border-color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 0.25rem;
}

.current-billing-heading,.validation-recreate-heading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: -15px;
    background: lightgray;
    padding: 5px 10px;
}
.validation-recreate-heading {

    margin-top: 5px;

}
.validate-btn{
    min-width: 130px;
    height: 38px;
    margin-left: 5px;
}
.multi-action span{
    display:inline-block;
    margin-right: 3px;
}

.multi-action span:last-child{
    display:none;
}

.attach-secondary-width{
    min-width: 148px;
}

.rsType-1 {
    color: green;
}

.rsType-2 {
    color: red;
}

.rsType-3 {
    color: red;
}

.loader-save-data {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px 0;
    color: #FFF;
    left: calc(50% - 5px);
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
}

.claim-detail-fixed{
    position: sticky;
    top: 50px;
    background: #f8f8f9;
    z-index: 9999;
    margin-left: -20px;
    padding-left: 35px;
    padding-top: 15px;
    margin-top: -10px;
    padding-bottom: 20px;
}

.attach-secondary{
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
    font-weight: 700 !important;
    color: #212529 !important;
    white-space: nowrap;
    input {
        margin-right: 7px;
    width: 15px;
    height: 15px;
    }
  }


  .is-invalid {
      .pml_dp {
          border-color: #dc3545 !important;
      }
  }

  .claimDatepicker {
    width: 100%;
    .datepicker-container {
        width: 100%;
        &:after {
            content: "";
            position: absolute;
            background: url('../../assets/img/calendar-icon.png') no-repeat 1px 6px;
            top:5px;
            right: 6px;
            width: 22px;
            height: 22px;
        }
        input {
            font-size: 14px;
            height: 38px;
            padding: .375rem .75rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff!important;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            width: 100%;
 
        }
        .calendar-container {
            top: 40px!important;
            width: 250px!important;
        }
    }
    &.dp-disable {
        pointer-events: none;
        .pml_dp {
        background-color: #E9ECEf!important;
    }
  }
}

.multiselect {
.detail-page-service-codes .drop-toggle,
    .detail-page-required-rebilling .drop-toggle {
        background-color: #E9ECEf !important;
    }
}

.dpWidth {
    .pml_dp{
        min-width: 150px;
    }
}

.dp-disable {
    pointer-events: none;
}
 
.currentAction{
    padding-bottom: 10px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    display: flex;
    color: #333;

    label {
        font-size: 16px;
        font-weight: 700;
        color: #333;
        margin-right: 5px;
    }
}

a.Edit {
    background: url('../../assets/img/edit-gray.png') no-repeat left;
    background-color: #e1e1e1;
    font-size: 14px;
    border-radius: 10px;
    padding: 1px 8px 1px 25px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    background-position: 7px;
    margin-left: 3px;
}

a.Read {
    background: url('../../assets/img/eye_icon.png') no-repeat left;
    background-color: #e1e1e1;
    font-size: 14px;
    border-radius: 10px;
    padding: 1px 8px 1px 28px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    background-position: 7px;
    margin-left: 3px;
}
.alert-message {
    display: flex;
    align-items: center;
}

.btn-align-right{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}



.actPerform {
    border: 0px !important;

    &.actError {
        border: 1px solid #dc3545 !important;
        border-radius: 5px;
    }

    label {
        font-weight: normal !important;
        font-family: "Lato", sans-serif;
        line-height: normal;
        text-align: left;
        font-size: 14px;
        padding: 6px 6px 6px 26px !important;
        color: #778080 !important;
    }
}

.next-action-error{
    margin-right: 10px;
    float: right;
    line-height: normal;
    padding-top: 2px;
}
