<div class="right-container"[ngClass]="{'setPadding':appService.setPaddingContainer}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg-12 pt-3">
                <div class="main-container">
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row withoutLink">
                                <div class="date-range-box">
                                    <label>Client Name </label>
                                    <select class="form-control"
                                            (change)="selectCompany($event)">
                                        <option selected="true" hidden="true">Select Client</option>
                                        <ng-container *ngFor="let comp of companyData">
                                            <option *ngIf="comp.name !== ''" value="{{comp.companyUuid}}">{{comp.name}}</option>
                                        </ng-container>
                                    </select>
                                    <div class="spinner-border text-success" role="status" *ngIf="showLoader"></div>
                                </div>
                                <ng-container *ngIf="selectedCompany?.companyUuid" >
                                    <div class="table-responsive">
                                        <table class="table" id="table">
                                            <tr class="thead-dark">
                                                <th>KEY</th>
                                                <th>Office<span *ngIf="selectedCompany?.name=='Smilepoint'">(View only)</span></th>
                                                <th *ngIf="selectedCompany?.name!='Smilepoint'"></th>
                                                <th *ngIf="selectedCompany?.name!='Smilepoint'"></th>
                                            </tr>
                                            <tr class="totalRow" *ngIf="selectedCompany?.name!='Smilepoint'">
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" (click)="addNewOffice()" [disabled]="!isAnyTLExist">
                                                        <img src="../assets/img/plus-white.png" alt="plus" />
                                                        Add New Office
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr *ngIf="alert.showAlertPopup">
                                                <td colspan="4">
                                                        <div class="alert fade show text-center" [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}" role="alert">
                                                            <strong>{{alert.alertMsg}}</strong>
                                                            <!-- <button type="button" (click)="alert.showAlertPopup=false;" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button> -->
                                                        </div>
                                                </td>
                                            </tr>
                                            <ng-container *ngFor="let office of officeData;let idx= index">
                                                <tr >
                                                    <td scope="col">{{office.key}}</td>
                                                    <td scope="col"> <input type="text" value="{{office.name}}" maxlength="30" [(ngModel)]="office.name" class="form-control" [disabled]="!office.editable" [ngClass]="{'is-invalid': office.editable && office.name==''}"></td>
                                                    <td scope="col" *ngIf="selectedCompany?.name!='Smilepoint'">
                                                        <button type="button" (click)="editOfficeName(office)" class="btn btn-edit" *ngIf="!office['newField'] && !office.editable">
                                                            <img src="../assets/img/edit.png" alt="edit" />
                                                            Edit
                                                        </button>
                                                    </td>
                                                    <td scope="col" *ngIf="selectedCompany?.name!='Smilepoint'">
                                                        <button type="button" class="btn btn-edit" [disabled]="!office.editable" (click)="saveOfficeName(office)">
                                                            <img src="../assets/img/save-data-icon.png" alt="edit" style="margin-top:2px;" />
                                                            {{office['newField'] ? 'Save' : 'Save' }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>