<div class="right-container">
    <app-header-component [isManageOffice]="isManageOffice"></app-header-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-lg-12 pt-3">
                <h2 class="page-heading">Manage-Offices</h2>
                <div class="main-container">
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row withoutLink">
                                <div class="date-range-box">
                                    <label>Company Name :</label>
                                    <select class="form-control"
                                            (change)="getOfficesByCompany($event);selectCompany($event)">
                                        <option selected="true" hidden="true">Select Company</option>
                                        <ng-container *ngFor="let comp of companyData">
                                            <option *ngIf="comp.name !== 'Capline'" value="{{comp.name}}">{{comp.name}}</option>
                                        </ng-container>
                                    </select>
                                    <div class="spinner-border text-success" role="status" *ngIf="showLoader"></div>
                                </div>

                                <!--<div class="form-group">

                        <label for="companyId">Company Name :</label>
                         <select class="form-control"  (change)="getOfficesByCompany($event);selectCompany($event)" [ngClass]="{'is-invalid':userDetails.controls.companyName.invalid && userDetails.controls.companyName.touched}">
                        <select class="form-control"
                                (change)="getOfficesByCompany($event);selectCompany($event)">
                            <option selected="true" hidden="true">Select Company</option>
                            <ng-container *ngFor="let comp of companyData">
                                <option value="{{comp.name}}">{{comp.name}}</option>
                            </ng-container>
                        </select>
                    </div>-->


                                <ng-container *ngIf="companyUuid" >
                                    <div class="table-responsive">
                                        <table class="table" id="table">
                                            <tr class="thead-dark">
                                                <th>Office Name</th>
                                                <th >Edit</th>
                                                <th>Save</th>
                                            </tr>
                                            <tr class="totalRow" >
                                                <td colspan="3">
                                                    <button type="button" class="btn btn-success" (click)="addNewOffice()">
                                                        <img src="../assets/img/plus-white.png" alt="plus" />
                                                        Add New Office
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr *ngIf="alert.showAlertPopup">
                                                <td colspan="3">
                                                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                                                            <strong>{{alert.alertMsg}}</strong>
                                                            <button type="button" (click)="alert.showAlertPopup=false;" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                </td>
                                            </tr>
                                            <ng-container *ngFor="let office of officeData;let idx= index">
                                                <tr >
                                                    <td scope="col"> <input type="text" value="{{office.name}}" [(ngModel)]="office.name" class="form-control" [disabled]="!office.editable" [ngClass]="{'is-invalid': office.editable && office.name==''}"></td>
                                                    <td scope="col" *ngIf="this.companyUuid !== '614c4beb-7df2-11e8-8432-8c16451459cd'">
                                                        <button type="button" (click)="editOfficeName(office,idx)" class="btn btn-edit">
                                                            <img src="../assets/img/edit.png" alt="edit" />
                                                            Edit
                                                        </button>
                                                    </td>
                                                    <td scope="col" *ngIf="this.companyUuid !== '614c4beb-7df2-11e8-8432-8c16451459cd'">
                                                        <button type="button" class="btn btn-edit" [disabled]="!office.editable" (click)="saveOfficeName(office)">
                                                            <img src="../assets/img/save-data-icon.png" alt="edit" style="margin-top:2px;" />
                                                            Save
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>