
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	background: url("../assets/img/bg-2.jpg");
	background-size: 100%;
  	background-attachment: fixed;
}


a, a:hover, a:focus {
	color: #4aaf51;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #555;
	line-height: 50px;
}
.text h1 strong {font-size: 45px;}
h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 140px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {color: #fff;font-size: 37px;line-height: 50px;font-weight: 300;}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
    background: #fff;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0px 0px 6px #555;
        background: rgba(255, 255, 255);
}

.form-top {
	overflow: hidden;
	padding: 0 25px 5px 25px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	padding-top: 15px;
}

.form-top-left h3 {margin-top: 0;font-weight: 500;color: #3d5273;}
button.btn:active:focus, button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #1aabe3;
    color: #fff;
}
.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	margin-top: 0px;
	border-top: 1px solid #c2c2c2;
    background: rgba(238, 238, 238, 0.5);
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
	    background: #29b1e5;
	font-size: 20px;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}
.navbar-brand {
	float: left;
    height: 80px;
    background: url(../assets/img/logo.png) no-repeat 15px 16px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    width:255px;
  }
  .navbar-default .navbar-text {    color: #3d5273;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    position: absolute;
    top: 0px;
    left: 390px; display:none;}

.top-location {    position: absolute;
    right: 500px;
    font-size: 13px;
    line-height: normal;
    text-align: left;
    padding-left:50px;
    background: url("../assets/img/pointer-icon.png") no-repeat left;
        top: 10px;
    color: #555;
    }
    
    
    .top-time{
    position: absolute;
    right: 230px;
    font-size: 13px;
    line-height: normal;
    text-align: left;
    padding-left:50px;
    background: url("../assets/img/clock-icon.png") no-repeat left;
        top: 10px;
    color: #555;
    
    }
    
@media (max-width: 768px) {
	
	.inner-bg .col-sm-offset-3 {
    margin-left: 15%;
}
.inner-bg .col-sm-6 {
    width: 70%;
}
.top-location, .top-time {display: none;}

.ivf-form-validation .form-group {margin-right: 0;}
.ivf-form-validation .login-form {display: block;}
.ivf-form-validation .login-signup-form-field {
    width: 100%;
}
.ivf-form-validation p {
    float: inherit;
}
}


@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }
	.form-box {margin-left:15px; margin-right:15px;}
.navbar-brand {    width: 340px;
    background-size: 100%;
    background-position: 20px;}
    .top-content .navbar-default .navbar-nav>li>a {padding: 10px!important;
    margin: 0px;}
    .navbar-nav {    margin: 0 -15px;}
    .collapse {display: block;}
    .top-content .dropdown .dropdown-menu {    background: #30b3e6;}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    border-bottom: 1px solid #219fd0;
}

	.inner-bg .col-sm-offset-3 {
    margin-left:15px;
}
.inner-bg .col-sm-6 {
    width: auto;
}
.top-location, .top-time {display: none;}


.ivf-form-validation .form-group {margin-right: 0!important;}
.ivf-form-validation .login-form {display: block!important;}
.ivf-form-validation .login-signup-form-field {
    width: 100%!important;
}
.ivf-form-validation p {
    float: inherit!important;
}

}

.top-content .login-signup-form-field {
    height: 38px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: #ffffff;
    border: 1px solid #dadada;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
    color: #888;
    border-radius: 4px;
    box-shadow: none;
    transition: all .3s;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 1px solid #bbb;
    box-shadow: none;
}
.top-content .has-error .error-msg {
	color: #a94442;
    font-size: 13px;
    padding: 4px 5px 0px;
    line-height: normal;
}

.top-content .ivf-title {
	font-size:18px;
}

.top-content .user-tab {
	    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0;
           background: rgb(255, 255, 255);
}

.top-content .navbar-default .navbar-nav>li>a{
	        color: #3d5273;
	        padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eee;
}

.top-content .navbar-default .navbar-nav>li>a:hover {
	    color: #fff;
    background: #3d5273;
}

.top-content .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
    background-color: #3d5273;
}
.top-content .navbar-default .navbar-nav>.open>a:hover {color: #fff;}
.top-content .loader {
  border: 4px solid #fff;
  border-radius: 50%;
  border-top: 4px solid #006afb;
  width: 35px;
  height: 35px;
  -webkit-animation: spin .8s linear infinite; /* Safari */
  animation: spin .8s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.validation-modal .modal-backdrop.in {
	opacity: 0.7;
}


.modal-content {text-align: left;}
.message-container { line-height: 22px; font-size: 14px; margin-bottom: 10px; padding-left: 20px;}
.message-container .error-message-api{color:red;}
.message-container .success-message-api{color:green;}
.message-container .alert-message-api{color:blue;}


.top-content .dropdown .btn-block.dropdown-toggle { 
	text-align: left;    margin-top: 9px;
	background: #fff;
    color: #333;
    font-weight: 400;
 }
.top-content .dropdown .btn-block .caret { float: right; margin-top: 22px; }
.top-content .dropdown .dropdown-menu { width: 100%; }
.top-content .dropdown .dropdown-menu a { padding: 10px 20px; }
.top-content .dropdown .btn-block.dropdown-toggle:hover, .top-content .dropdown .btn-block.dropdown-toggle:focus { opacity: 1; }
.modal-dialog {
    width: 600px;
    margin: 30px auto;
 
}

.modal-body {
    margin: 30px auto;
    max-height: 450px;
    overflow-y: auto;
}
.date-dropdown input {    width: 100%!important;
    height: 38px;
    background: #ffffff;
    border: 1px solid #dadada!important;}
.date-dropdown .day-unit {
    height: 32px!important;     border-radius: inherit!important;}
.date-dropdown .ngx-datepicker-calendar-container {width:100%!important;}


.sr-checkbox {
    font-weight: normal;
    font-size: 14px;
    margin: 0 5px;
    }


.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.table-container {
	background: #fff;
    padding: 20px 20px;
    position: relative;
    font-size: 14px;
	text-align:left;
	color: #494949;
}

.close-btn{    position: fixed;
    width: 100%;
    top: 80px;
	left: 0px;
    z-index: 999;
    background: #fff;
    height: 60px;
    border-top: 2px solid #ccc;
	box-shadow: 0px 5px 7px 0px #eee;
}

.close-btn a{
        float: right;
    color: #1b0cff;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 13px;
}

.close-btn a:hover{
text-decoration: underline;
}

.table-container h3 {
	color: #3d5273;
}
.table-container .table thead {
	background: #3d5273;
    color: #fff;
}
.table-container .table .date-width {
	width:130px;
}

.error-message-api{
	color: red;
}
.success-message-api{
	color:green;
}

.alert-message-api{
	color:blue;
}
	
.ivf-form-validation .inner-bg { padding:0px;}
.ivf-form-validation .container { width: auto; margin:0px;}
.ivf-form-validation .login-form {display:flex; align-items: center;}
.ivf-form-validation .form-box {    margin: 0px;
    box-shadow: inherit;
    width: 100%;
	    border-radius: 0px;
		    background: #eee;
	}
.ivf-form-validation .form-group {
    margin-right: 20px;
}
.ivf-form-validation p {float:left;}
.ivf-form-validation .form-bottom {
    background: #eee;
    border: 0px;
    padding-top: 10px;
}
.ivf-form-validation td.ivf-popup-padding{
	padding:0px!important;
}
.ivf-form-validation .form-bottom form button.btn {    font-size: 16px;
    height: auto;
    line-height: inherit;
    padding: 8px 12px;}
.ivf-form-validation .ivf-title {    margin: 0px;
    font-size: 18px;
    color: #29b1e5;}
	
.table-container  a.ivf-data-anchor{
	color: #0059ff;
    font-weight: bold;
    padding-right: 15px;
    position: relative;
    z-index: 9;
}   
.table-container .glyphicon {
	font-size: 11px;
    color: #0059ff;
    left: -12px;
    position: relative;
}
.ivf-form-validation .login-signup-form-field {
	width: 200px;
}
.ivf-form-validation .table-container .table thead {
	background: #39b7e7;
}

.scope-link {    position: relative;
    top: 25px;
    right: 10px;
    float: right;
        color: #00a5fb;
    text-decoration: underline;
    }
.table-heading {min-width: 350px;}
.table-heading .label  {font-size:14px; margin-right: 3px;}














