<div class="right-container reconciliationContainer">
    <div class="container-fluid my-5">
        <div class="office-box">
            <div class="form-group">
                <div class="d-flex align-items-center m-3">
                    <label for="office" class="me-5">Office</label>
                    <select type="text" id="office" class="form-control mx-2" [(ngModel)] = "reconcilltationRequestModel.officeUuid" required>
                        <option value="" hidden>Select</option>
                        <ng-container *ngFor="let item of officeData">
                            <option [value]="item.uuid">{{item.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="d-flex align-items-center m-3">
                    <label for="dos">Start Date Of Closed Claim</label>
                    <app-date-picker id="startDate" 
                        [inputDate]="reconcilltationRequestModel.startDate" 
                        [parentModel]="'start'"
                        class="mx-2"
                        (emitToParent)="receiveChildEvent($event)">
                    </app-date-picker>
                    <label for="dos">End Date Of Closed Claim</label>
                    <app-date-picker id="endDate" 
                        [inputDate]="reconcilltationRequestModel.endDate" 
                        [parentModel]="'end'"
                        class="mx-2"
                        (emitToParent)="receiveChildEvent($event)">
                    </app-date-picker>
                </div>
            </div>
            <div class="note" *ngIf="!isValidForm()">
                <span class="info">*</span>The Start Date should be less than End Date.<br>
                <span class="info">*</span>Difference between End & Start dates should be less than {{this.datesDiff}} days.
            </div>
            <div class="form-group m-3">
                <button class="btn btn-success" [disabled]="!isValidForm() || this.loader" (click)="getReconcileData()">Submit</button>
            </div>
        </div>

        <div class="detail-box">
            <div class="detail-box-form">
                <div class="form-row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="totalRow" style="text-align: center;">
                                    <th class="text-left" style="width: 10%;">Office</th>
                                    <th class="width-200 min-max-180">Title</th>
                                    <th class="width-200 min-max-180">No. of Claims in ES</th>
                                    <th class="width-200 min-max-180">No. of Claims in RCM Tool</th>
                                    <th class="width-200 min-max-180">Discrepancies Found</th>
                                    <th class="width-200 min-max-180">Claims not Found in RCM Tool</th>
                                    <th class="width-200 min-max-180">Claim in Upload Errors</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="loader">
                                    <td colspan="7" class="text-center">
                                        <span class="loader-data "></span>
                                    </td>
                                </tr>
                                <tr *ngFor="let data of reconcileResponseData" [ngClass]="{'open-toggle': toggleState['discrepancies' + data.title] || toggleState['claimsNotFoundRCM' + data.title] || toggleState['claimInUploadErrors' + data.title]}">
                                    <td class="">{{data.office}}</td>
                                    <td class="alignCenter">{{data.title}}</td>
                                    <td class="alignCenter">{{data.claimsES}}</td>
                                    <td class="alignCenter">{{data.claimsRCM}}</td>
                                    <td class="alignCenter">
                                        <ng-container *ngIf="data.discrepancies.length > 0; else noDiscrepancies">
                                            <div class="d-flex justify-content-center">
                                                <button (click)="toggleText('discrepancies' + data.title)" class="btn btn-link text-decoration-none fixedButtonWidth">
                                                    <i *ngIf="!toggleState['discrepancies' + data.title]" class="arrow-right"></i>
                                                    <i *ngIf="toggleState['discrepancies' + data.title]" class="arrow-down"></i>
                                                    <span class="discrepancies-text">{{data.discrepancies.length}}</span>
                                                </button>
                                            </div>
                                            <div class="toggle-scroll" *ngIf="toggleState['discrepancies' + data.title]">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Patient Name</th>
                                                            <th style="white-space: nowrap;">Patient Id</th>
                                                            <th>Claim Id</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let link of data.discrepancies; let idx = index">
                                                            <td>{{link.patientName}}</td>
                                                            <td>{{link.patientId}}</td>
                                                            <td><a class="btn btn-link text-decoration-none fs-4" target="_blank" href="billing-claims/{{link.claimUUid}}">{{link.claimId}}</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </ng-container>
                                        <ng-template #noDiscrepancies>
                                            <span class="empty-data-text">{{data.discrepancies.length}}</span>
                                        </ng-template>
                                    </td>
                                    <td class="alignCenter">
                                        <ng-container *ngIf="data.claimsNotFoundRCM.length > 0; else noclaimsFound">
                                            <div class="d-flex justify-content-center">
                                                <button (click)="toggleText('claimsNotFoundRCM' + data.title)" class="btn btn-link text-decoration-none fixedButtonWidth">
                                                    <i *ngIf="!toggleState['claimsNotFoundRCM' + data.title]" class="arrow-right"></i>
                                                    <i *ngIf="toggleState['claimsNotFoundRCM' + data.title]" class="arrow-down"></i>
                                                    <span class="discrepancies-text">{{data.claimsNotFoundRCM.length}}</span>
                                                </button>
                                            </div>
                                            <div class="toggle-scroll number-scroll" *ngIf="toggleState['claimsNotFoundRCM' + data.title]">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th style="white-space: nowrap;">Claim Id</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of data.claimsNotFoundRCM; let idx = index">
                                                            <td style="text-align: center;">{{item}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </ng-container>
                                        <ng-template #noclaimsFound>
                                            <span class="empty-data-text">{{data.claimsNotFoundRCM.length}}</span>
                                        </ng-template>
                                    </td>
                                    <td class="alignCenter">
                                        <ng-container *ngIf="data.claimInUploadErrors.length > 0; else noUploadErrors">
                                            <div class="d-flex justify-content-center">
                                                <button (click)="toggleText('claimInUploadErrors' + data.title)" class="btn btn-link text-decoration-none fixedButtonWidth">
                                                    <i *ngIf="!toggleState['claimInUploadErrors' + data.title]" class="arrow-right"></i>
                                                    <i *ngIf="toggleState['claimInUploadErrors' + data.title]" class="arrow-down"></i>
                                                    <span class="discrepancies-text">{{data.claimInUploadErrors.length}}</span>
                                                </button>
                                            </div>
                                            <div class="toggle-scroll" *ngIf="toggleState['claimInUploadErrors' + data.title]">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th style="white-space: nowrap;">Claim Id</th>
                                                            <th style="white-space: nowrap;">Issue</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of data.claimInUploadErrors; let idx = index">
                                                            <td>{{item.claimId}}</td>
                                                            <td>{{item.patientName}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </ng-container>
                                        <ng-template #noUploadErrors>
                                            <span class="empty-data-text">{{data.claimInUploadErrors.length}}</span>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>