
<div class="right-container">
    <div class="container-fluid my-5">

        <div class="office-box">
                <div class="form-group">
                    <div class="d-flex align-items-center m-3">
                        <label for="office" class="me-5">Office</label>
                        <select type="text" id="office" class="form-control mx-2">
                            <option [value]="" [selected]="true">Select</option>
                            <ng-container *ngFor="let item of officeData">
                                <option [value]="item.name">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="d-flex align-items-center m-3">
                        <label for="dos">Enter Dates of Service</label>
                        <input type="date" id="dos" class="form-control mx-2">
                    </div>
                </div>
                <div class="form-group m-3">
                    <button class="btn btn-success" (click)="getReconcileData()">Send</button>
                </div>
        </div>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="totalRow">
                        <th>#</th>
                        <th>No. of Claims in ES</th>
                        <th>No. of Claims in RCM Tool</th>
                        <th>Discrepancies Found</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="loader">
                        <td colspan="4" class="text-center">
                            <span class="loader-data "></span>
                         </td>
                    </tr>
                    <tr *ngFor="let data of reconcilData">
                        <td>{{data.title}}</td>
                        <td class="alignRight">{{data.claimsES}}</td>
                        <td class="alignRight">{{data.claimsRCM}}</td>
                        <td class="alignRight">
                            <div class="d-flex justify-content-between">
                                Discrepancies Found {{data.discrepancies.length}} -:
                                <ng-container *ngFor="let link of data.discrepancies;let idx =index">
                                    <div>
                                        <a class="text-decoration-none fs-4" [href]="link"> Test Link {{idx+1}}</a> 
                                    </div>
                                </ng-container>
                            </div>
                            </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>