
<div class="inner-bg">
	<div *ngIf="!showTreatmentPlanData" class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 form-box">
				<div class="form-top">
					<div class="form-top-left">
						<h3 class="ivf-title">Find {{hd1}} using Patient Id</h3>
					</div>
				</div>

				<div class="form-bottom">
					<form class="login-form" name="form" (ngSubmit)="f.form.valid && generateTreatmentPlanId()" #f="ngForm" novalidate>
						<!--  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>  -->
						<span id="reauth-email" class="reauth-email"></span>
						
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !patientId.valid }">
							<label class="sr-only" for="patientId">Patient Id</label>
							<input type="text" class="login-signup-form-field form-control" name="patientId" id="patientId"
								[(ngModel)]="treatmentplan.patientId" #patientId="ngModel" placeholder="Patient Id..." required />
							<div *ngIf="f.submitted && !patientId.valid" class="error-msg">Please enter Patient Id.</div>
						</div>							
		
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
							<label class="sr-only" for="officeId">Office Name</label> 
							<select class="login-signup-form-field form-control" name="officeId" id="officeId" [(ngModel)]="treatmentplan.officeId">
								<option value="">Office Name...</option>
								<option *ngFor="let title of offices" [value]="title.uuid">{{title.name}}</option>
							</select>
							<div *ngIf="f.submitted && treatmentplan.officeId==''" class="error-msg">Office Name is required</div>
						</div>
						
						<p><button [disabled]="showLoading" type="submit" class="btn">Submit</button></p>
						
						<div *ngIf="showLoading" class="loader"></div>							    
					</form>
				</div> 
			</div>
			
		</div>
		
	</div>
	
	
	
	
	<div *ngIf="showTreatmentPlanData">
		<div class="close-btn">
			<a href="javascript:void(0)" (click)="closeTreatmentPlanDataModal()">
				Go Back
			</a>
		</div>	
		<div *ngFor="let key of arrayOfKeys" class="table-container">
			<h3>{{key}}</h3>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>{{hd2}} Description</th>
						<th>Date Last Updated</th>
						<th>{{hd3}}</th>
					</tr>
				</thead>
				<tbody *ngFor="let data of treatmentplanData[key]; let i=index">
					<tr>
						<td [innerHTML]="data.tDescription"></td>
						<td [innerHTML]="data.dateLastUpdated"></td>
						<td><a class="ivf-data-anchor" href="javascript:void(0)" [innerHTML]="data.treatmentPlanId" (click)="getTPorClaimData(data.treatmentPlanId, i)"></a>
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<div *ngIf="loadingSubdata && selectedSubIndex == i" class="loader"></div>
						</td>
					<tr>
					<tr *ngIf="selectedIndex == i && !mainServiceSelection" class="ivf-form-validation">
					<td colspan="3">
					  <table class="tx-table">
					    <tr>
					     <th>Service</th>
					     <th>Date Planned</th>
					     <th>Description</th>
					     <th>Tooth</th>
					     <th>Surface</th>
					     <th>Status</th>
					     <th>Fee</th>
					     <th>Fee Ins</th>
					     <th><input type="checkbox" (change)="selectDeselectData(data1,data.treatmentPlanId, $event)" [checked]="true" id="sd{{data.treatmentPlanId}}"/>Select TX Performed on Pat.</th>
					     </tr>
					     <tr *ngFor="let data1 of tpclDetail[data.treatmentPlanId]; let ii=index">
					      <td>{{data1.serviceCode}}</td>
					      <td>{{data1.treatmentPlanDetails.dateLastUpdated}}</td>
					      <td>{{data1.treatmentPlanDetails.description}}</td>
					      <td>{{data1.tooth}}</td>
					      <td>{{data1.surface}}</td>
					      <td>{{data1.status}}</td>
					      <td>{{data1.fee}}</td>
					      <td>{{data1.estInsurance}}</td>
					      <td><input type="checkbox" (change)="perPairIngoreData(data1,data.treatmentPlanId,ii, $event)" [checked]="data1.selected"/></td>
					     </tr>
					   </table>
					    </td> 
					     </tr>
					     
					     <tr><td colspan="9" *ngIf="checkFinalArrayLength() && selectedIndex == i && vd" class="tx-action">
					     Are you ready to Run the Run Engine?
					     <button class="btn" (click)=makeMainServiceSelection(true)>YES</button>
					     <button class="btn btn-warning" (click)=makeMainServiceSelection(false)>NO</button>
					     </td>
					     </tr>
					     <tr *ngIf="mainServiceSelection && checkFinalArrayLength() && selectedIndex == i">
					     <td colspan="9" class="tx-message">Enter details for validating the services selected above</td>
					     </tr>
					     <tr>
					     <td colspan="9" (click)="showNextStep()" *ngIf="mainServiceSelection && checkFinalArrayLength() && selectedIndex == i"> 
					     <table class="tx-table">
					      <tr>
					     <th>Service</th>
					     <th>Date Planned</th>
					     <th>Description</th>
					     <th>Tooth</th>
					     <th>Surface</th>
					     <th>Status</th>
					     <th>Fee</th>
					     <th>Fee Ins</th>
					     </tr>
					      <tr *ngFor="let data1 of tpclDetail[data.treatmentPlanId]; let ii=index">
					       <ng-container *ngIf="data1.selected">
					       
					          <td>{{data1.serviceCode}}</td>
						      <td>{{data1.treatmentPlanDetails.dateLastUpdated}}</td>
						      <td>{{data1.treatmentPlanDetails.description}}</td>
						      <td>{{data1.tooth}}</td>
						      <td>{{data1.surface}}</td>
						      <td>{{data1.status}}</td>
						      <td>{{data1.fee}}</td>
						      <td>{{data1.estInsurance}}</td>
						     
					      </ng-container>
					      <ng-container *ngIf="!data1.selected">
					          <td class="tr-strike"><s>{{data1.serviceCode}}</s></td>
						      <td class="tr-strike"><s>{{data1.treatmentPlanDetails.dateLastUpdated}}</s></td>
						      <td class="tr-strike"><s>{{data1.treatmentPlanDetails.description}}</s></td>
						      <td class="tr-strike"><s>{{data1.tooth}}</s></td>
						      <td class="tr-strike"><s>{{data1.surface}}</s></td>
						      <td class="tr-strike"><s>{{data1.status}}</s></td>
						      <td class="tr-strike"><s>{{data1.fee}}</s></td>
						      <td class="tr-strike"><s>{{data1.estInsurance}}</s></td>
						  </ng-container>
					       </tr>
					     </table>
					   </td>
					
					<tr *ngIf="selectedIndex == i && showStep3 && checkFinalArrayLength()" class="ivf-form-validation">
						<td class="ivf-popup-padding" colspan="2"><app-ivf [treatmentPlanId]="treatmentPlanId" [officeId]="officeId" [ignoreDataArray]="ignoreDataArray" (emitToParent)="receiveChildrenEmitter($event)"></app-ivf></td>
					</tr>
				</tbody>						
			</table>
		</div>
		
	</div>	
	
</div>


	
