
/* Draggable*/

.drag-border {
    border: #ff525b dashed 2px;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    border: #3c763d dashed 2px;
}

.drag-over-border {
    border: #fbbc05 dashed 2px;
}

.drag-transit {
    border: #3500FF dashed 2px;
}
.drag-box {
	    display: flex;
    align-items: center;
    height:60px;
  
}

.drag-table {width:98%; margin:0 1%;
margin-bottom: 20px;}
.drag-table td {    border: 1px solid #ddd;
    }
    
    .drag-label{
    vertical-align:top;font-size: 14px;font-family: Roboto,sans-serif;font-weight: 300; line-height:normal; margin-right:5px; text-align:left; padding-left:10px;}
    .drag-table .drag-box .drag-inp {
    width:180px; height:40px; line-height:40px;}

    .drag-pdf-box .drag-label{     height: 60px;
    padding-right: 10px;
    margin-right: 10px;
    background: #eee;
    display: flex;
    align-items: center;
    min-width: 70px;
    border-right: 1px solid #ddd;
    margin: 0px;}