
<div class="inner-bg">
<div style="background:#fff">

<h3>Dynamic IVF FORM DEMO..	</h3>

<form #f="ngForm">

<div>        {{section1.name}} ---
          <table id="section-1" class="drag-table">
                    <tr *ngFor="let d of section1.data">
                      <td *ngFor="let data of d" >
                       <div draggable [dragData]="data" class="drag-box" >
                       <label class="" for="{{data.idn+''+data.idv}}" [innerHTML]="data.name" class="drag-label"></label>
							 <input type="text" class="drag-inp" droppable (onDrop)="onItemDropSection1($event)"
							[(ngModel)]="data.value"	name="{{data.idn+''+data.idv}}" id="{{data.idn+''+data.idv}}"  
								value="{{data.value}}"/>
						
                       </div>
                      </td>
                    </tr>
		  </table>
</div>

	
</form>
<form>

<div>        

       ---------{{section1.name}} ---
          <table id="section-1"  class="drag-table">
                    <tr *ngFor="let d of section1.data">
                      <td *ngFor="let data of d" >
                       <div  class="drag-box drag-pdf-box">
                       <label class="" for="{{data.idn+''+data.idv}}" [innerHTML]="data.name" class="drag-label"></label>
							<div style="display:inline" [innerHTML]="data.value"  class="drag-inp"></div>
						
                       </div>
                      </td>
                    </tr>
		  </table>
</div>

<div>        
----------------------------FINAL SAVE------------------
<a href='javascript:void(0)' (click)="saveFinalData()">SAVE</a>
</div>	
</form>


     

</div>
</div>
