<div class="right-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <div class="main-container">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <div class="Pendancy-label">Pendency From Other Teams</div>
                        </div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row  without-heading">
                                <div class="table-responsive">
                                    <table class="table" id="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Office Name <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With LC3 Team  <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With Internal Audit Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With IV Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With CDP Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With PI Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="totalRow">
                                                <td>Total</td>
                                                <td>Data One</td>
                                                <td>Data One</td>
                                                <td >Data One</td>
                                                <td >Data One</td>
                                                <td >Data One</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <div class="main-container">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <div class="Pendancy-label">Pendency From Other Teams (DOS or Date Pending)</div>
                        </div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row  without-heading">
                                <div class="table-responsive">
                                    <table class="table" id="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Office Name <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With LC3 Team  <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With Internal Audit Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With IV Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With CDP Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pendency With PI Team <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="totalRow">
                                                <td>Total</td>
                                                <td>Data One</td>
                                                <td>Data One</td>
                                                <td >Data One</td>
                                                <td >Data One</td>
                                                <td >Data One</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
</div>
    