<div class="right-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <div class="main-container">
                    <div class="row">
                        <div class="col-md-12 mb-2 mt-2 listClaimBox">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light" style="min-width: 270px;"
                                    [ngClass]="{'active':tabSwitch.withoutDos}">
                                    <input class="form-check-input" type="radio" name="options" id="option1"
                                         (change)="switchTab('withoutDos')">Claims Pending to be BIlled -
                                    Assigned to Other Teams
                                </label>
                                <label class="btn btn-light" style="min-width: 270px;"
                                    [ngClass]="{'active':tabSwitch.withDos}">
                                    <input class="form-check-input" type="radio" (change)="switchTab('withDOS')"
                                        name="options" id="option2">Pendency From Other Teams (DOS)
                                </label>
                                <label class="btn btn-light" style="min-width: 270px;"
                                    [ngClass]="{'active':tabSwitch.withDateOfPending}">
                                    <input class="form-check-input" type="radio" (change)="switchTab('withDOP')"
                                        name="options" id="option3">Pendency From Other Teams (Date
                                    Pending)
                                </label>
                            </div>
                            <!-- <div class="pendancy-label">Pendency From Other Teams</div> -->

                            <div *ngIf="tabSwitch.withoutDos">
                                <button type="button" class="icon-btn" (click)="saveToPdf('table')"
                                    [disabled]="pendencyData?.length==0">
                                    <img src="../../assets/img/pdf.png" /></button><span *ngIf="showLoader.exportPDFLoader"
                                    class="spinner-border text-danger mx-1"></span>
                                <button type="button" class="icon-btn"
                                    (click)="exportToCsv('table')" [disabled]="pendencyData?.length==0">
                                    <img src="../../assets/img/xls.png" /></button><span *ngIf="showLoader.exportCSVLoader"
                                    class="spinner-border text-success mx-1"></span>
                            </div>

                            <div *ngIf="tabSwitch.withDos">
                                <button type="button" class="icon-btn" (click)="saveToPdf('dos-table')"
                                    [disabled]="pendencyData?.length==0">
                                    <img src="../../assets/img/pdf.png" /> </button><span *ngIf="showLoader.exportPDFLoader"
                                    class="spinner-border text-danger mx-1"></span>
                                <button type="button" class="icon-btn"
                                    (click)="exportToCsv('dos-table')" [disabled]="pendencyData?.length==0">
                                    <img src="../../assets/img/xls.png" /></button><span *ngIf="showLoader.exportCSVLoader"
                                    class="spinner-border text-success mx-1"></span>
                            </div>
                            <div *ngIf="tabSwitch.withDateOfPending">
                                <button type="button" class="icon-btn" (click)="saveToPdf('dop-table')"
                                    [disabled]="pendencyData?.length==0">
                                    <img src="../../assets/img/pdf.png" /></button><span *ngIf="showLoader.exportPDFLoader"
                                    class="spinner-border text-danger mx-1"></span>
                                <button type="button" class="icon-btn"
                                    (click)="exportToCsv('dop-table')" [disabled]="pendencyData?.length==0">
                                    <img src="../../assets/img/xls.png" /></button><span *ngIf="showLoader.exportCSVLoader"
                                    class="spinner-border text-success mx-1"></span>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="tabSwitch.withoutDos">
                        <div class="detail-box">
                            <div class="detail-box-form">
                                <div class="form-row  without-heading">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                            id="table">
                                            <thead>
                                                <tr>
                                                    <th style="z-index: 9;">
                                                        <div class="dFlex">
                                                            Office <span class="sorting">
                                                                <a href="javascript:void(0);" class="arrow-up"
                                                                    [ngClass]="{'selected': !isSorted['officeName']}"
                                                                    (click)="sortData(filteredItems,'officeName','asc','string'); isSorted['officeName'] = false"></a>
                                                                <a href="javascript:void(0);" class="arrow-down"
                                                                    [ngClass]="{'selected': isSorted['officeName']}"
                                                                    (click)="sortData(filteredItems,'officeName','desc','string');isSorted['officeName'] = true"></a>
                                                            </span>
                                                            <div class="dropdown">
                                                                <svg  (click)="showHideFilteredDropdown('officeName')"
                                                                    style="cursor:pointer;display: inline-block; float: left;background: #e5e5e5;border-radius: 5px;padding: 1px;/* margin-right: 3px; */margin-left: 6px;"
                                                                    version="1.1" viewBox="0 0 24 24"
                                                                    xml:space="preserve"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="20" fill="#d88627">
                                                                    <style type="text/css">
                                                                        .st0 {
                                                                            opacity: 0.2;
                                                                            fill: none;
                                                                            stroke: #000000;
                                                                            stroke-width: 5.000000e-02;
                                                                            stroke-miterlimit: 10;
                                                                        }
                                                                    </style>
                                                                    <g id="grid_system"></g>
                                                                    <g id="_icons">
                                                                        <path
                                                                            d="M4,17h8.1c0.4,1.7,2,3,3.9,3s3.4-1.3,3.9-3H20c0.6,0,1-0.4,1-1s-0.4-1-1-1h-0.1c-0.4-1.7-2-3-3.9-3s-3.4,1.3-3.9,3H4 c-0.6,0-1,0.4-1,1S3.4,17,4,17z M16,14c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S14.9,14,16,14z">
                                                                        </path>
                                                                        <path
                                                                            d="M4,9h0.1c0.4,1.7,2,3,3.9,3s3.4-1.3,3.9-3H20c0.6,0,1-0.4,1-1s-0.4-1-1-1h-8.1c-0.4-1.7-2-3-3.9-3S4.6,5.3,4.1,7H4 C3.4,7,3,7.4,3,8S3.4,9,4,9z M8,6c1.1,0,2,0.9,2,2s-0.9,2-2,2S6,9.1,6,8S6.9,6,8,6z">
                                                                        </path>
                                                                    </g>
                                                                </svg>
                                                                <div class="dropdown-menu filter-dropdown-menu" (mouseleave)="onMouseLeave($event)"
                                                                    *ngIf="showFilteredDropdown.officeName">
                                                                    <div class="clearClose">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox"
                                                                                [checked]="isFilterAllSelected.officeName"
                                                                                value="selectAll"
                                                                                (change)="selectAll($event,'officeName')">
                                                                            {{isFilterAllSelected.officeName ? 'Clear
                                                                            All':'Select All'}}</label>
                                                                        <button
                                                                            (click)="showFilteredDropdown.officeName=false;"
                                                                            type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close"><span>&times;</span></button>
                                                                    </div>
                                                                    <ng-container
                                                                        *ngFor="let data of this.filteredOfficeName">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox" checked="true"
                                                                                [(ngModel)]="data.checked"
                                                                                value="{{data.name}}"
                                                                                (change)="filterOfficeName($event,'officeName')">
                                                                            {{data.name}}
                                                                        </label>
                                                                    </ng-container>
                                                                </div>
                                                            </div> <span class="sorting">
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <ng-container *ngFor="let data of teamData;let last = last;">
                                                        <th *ngIf="currentTeamId != data.teamId">
                                                            <div class="dFlex">
                                                                {{data.teamName == 'Internal_Audit' ? 'Internal Audit' :
                                                                data.teamName}} <span class="sorting">
                                                                    <a href="javascript:void(0);" class="arrow-up"
                                                                        [ngClass]="{'selected': !isSorted[data.teamName]}"
                                                                        (click)="sortData(filteredItems,'count','asc','nestedCount',data.teamName); isSorted[data.teamName] = false"></a>
                                                                    <a href="javascript:void(0);" class="arrow-down"
                                                                        [ngClass]="{'selected': isSorted[data.teamName]}"
                                                                        (click)="sortData(filteredItems,'count','desc','nestedCount',data.teamName);isSorted[data.teamName] = true"></a>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th *ngIf="last"></th>
                                                    </ng-container>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="totalRow">
                                                    <td>Total</td>
                                                    <ng-container *ngFor="let ct of totalCount;let last;">
                                                        <ng-container *ngIf="ct.teamId != currentTeamId">
                                                            <td class="alignRight">{{ct.count}}</td>
                                                        </ng-container>
                                                    </ng-container>
                                                    <td></td>
                                                </tr>
                                                <tr *ngIf="showLoader.loader">
                                                    <td colspan="7" class="text-center"><span
                                                            class="loader-data"></span> </td>
                                                </tr>
                                                <ng-container
                                                    *ngFor="let office of filteredItems;let id= index;let last;">
                                                    <tr>
                                                        <td>{{office.officeName}}</td>
                                                        <ng-container *ngFor="let team of teamData;">
                                                            <ng-container *ngIf="team.teamId != currentTeamId">
                                                                <td class="alignRight">
                                                                    {{office.counts1[team.teamName|uppercase]}}
                                                                </td>
                                                            </ng-container>
                                                        </ng-container>
                                                        <td *ngIf="last"></td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-container *ngIf="pendencyData?.length == 0 && !showLoader.loader">
                                            <div class="text-center mt-5">
                                                <h5 class="text-light bg-secondary p-1"> No Data Available!</h5>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tabSwitch.withDos">

                        <div class="detail-box">
                            <div class="detail-box-form">
                                <div class="form-row  without-heading">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                            id="dos-table">
                                            <thead>
                                                <tr>
                                                    <th style="z-index: 9;">
                                                        <div class="dFlex">
                                                            Office <span class="sorting">
                                                                <a href="javascript:void(0);" class="arrow-up"
                                                                    [ngClass]="{'selected': !isSorted['officeName']}"
                                                                    (click)="sortData(filteredItems,'officeName','asc','string'); isSorted['officeName'] = false"></a>
                                                                <a href="javascript:void(0);" class="arrow-down"
                                                                    [ngClass]="{'selected': isSorted['officeName']}"
                                                                    (click)="sortData(filteredItems,'officeName','desc','string');isSorted['officeName'] = true"></a>
                                                            </span>
                                                            <div class="dropdown">
                                                                <svg (click)="showHideFilteredDropdown('officeName')"
                                                                    style="cursor:pointer;display: inline-block; float: left;background: #e5e5e5;border-radius: 5px;padding: 1px;/* margin-right: 3px; */margin-left: 6px;"
                                                                    version="1.1" viewBox="0 0 24 24"
                                                                    xml:space="preserve"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="20" fill="#d88627">
                                                                    <style type="text/css">
                                                                        .st0 {
                                                                            opacity: 0.2;
                                                                            fill: none;
                                                                            stroke: #000000;
                                                                            stroke-width: 5.000000e-02;
                                                                            stroke-miterlimit: 10;
                                                                        }
                                                                    </style>
                                                                    <g id="grid_system"></g>
                                                                    <g id="_icons">
                                                                        <path
                                                                            d="M4,17h8.1c0.4,1.7,2,3,3.9,3s3.4-1.3,3.9-3H20c0.6,0,1-0.4,1-1s-0.4-1-1-1h-0.1c-0.4-1.7-2-3-3.9-3s-3.4,1.3-3.9,3H4 c-0.6,0-1,0.4-1,1S3.4,17,4,17z M16,14c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S14.9,14,16,14z">
                                                                        </path>
                                                                        <path
                                                                            d="M4,9h0.1c0.4,1.7,2,3,3.9,3s3.4-1.3,3.9-3H20c0.6,0,1-0.4,1-1s-0.4-1-1-1h-8.1c-0.4-1.7-2-3-3.9-3S4.6,5.3,4.1,7H4 C3.4,7,3,7.4,3,8S3.4,9,4,9z M8,6c1.1,0,2,0.9,2,2s-0.9,2-2,2S6,9.1,6,8S6.9,6,8,6z">
                                                                        </path>
                                                                    </g>
                                                                </svg>
                                                                <div class="dropdown-menu filter-dropdown-menu" (mouseleave)="onMouseLeave($event)"
                                                                    *ngIf="showFilteredDropdown.officeName">
                                                                    <div class="clearClose">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox"
                                                                                [checked]="isFilterAllSelected.officeName"
                                                                                value="selectAll"
                                                                                (change)="selectAll($event,'officeName')">
                                                                            {{isFilterAllSelected.officeName ? 'Clear
                                                                            All':'Select All'}}</label>
                                                                        <button
                                                                            (click)="showFilteredDropdown.officeName=false;"
                                                                            type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close"><span>&times;</span></button>
                                                                    </div>
                                                                    <ng-container
                                                                        *ngFor="let data of filteredOfficeName">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox" checked="true"
                                                                                [(ngModel)]="data.checked"
                                                                                value="{{data.name}}"
                                                                                (change)="filterOfficeName($event,'officeName')">
                                                                            {{data.name}}
                                                                        </label>
                                                                    </ng-container>
                                                                </div>
                                                            </div> <span class="sorting">
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <ng-container *ngFor="let data of teamData;let last=last">
                                                        <th *ngIf="currentTeamId != data.teamId">
                                                            <div class="dFlex">
                                                                {{data.teamName == 'Internal_Audit' ? 'Internal Audit' :
                                                                data.teamName}} <span class="sorting">
                                                                    <a href="javascript:void(0);" class="arrow-up"
                                                                        [ngClass]="{'selected': !isSorted[data.teamName]}"
                                                                        (click)="sortData(filteredItems,'count','asc','nestedDate',data.teamName); isSorted[data.teamName] = false"></a>
                                                                    <a href="javascript:void(0);" class="arrow-down"
                                                                        [ngClass]="{'selected': isSorted[data.teamName]}"
                                                                        (click)="sortData(filteredItems,'count','desc','nestedDate',data.teamName);isSorted[data.teamName] = true"></a>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th *ngIf="last"></th>
                                                    </ng-container>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngIf="showLoader.loader">
                                                    <td colspan="7" class="text-center"><span
                                                            class="loader-data"></span> </td>
                                                </tr>
                                                <ng-container
                                                    *ngFor="let office of filteredItems;let id= index;let last;">
                                                    <tr>
                                                        <td>{{office.officeName}}</td>
                                                        <ng-container *ngFor="let team of teamData">
                                                            <ng-container *ngIf="team.teamId != currentTeamId">
                                                                <td>
                                                                    {{office.dates1[team.teamName|uppercase] ?
                                                                    (office.dates1[team.teamName|uppercase]| date: 'MMM dd, YYYY') : "-"}}
                                                                </td>
                                                            </ng-container>
                                                        </ng-container>
                                                        <td *ngIf="last"></td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-container *ngIf="pendencyData?.length == 0 && !showLoader.loader">
                                            <div class="text-center mt-5">
                                                <h5 class="text-light bg-secondary p-1"> No Data Available!</h5>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tabSwitch.withDateOfPending">

                        <div class="detail-box">
                            <div class="detail-box-form">
                                <div class="form-row  without-heading">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                            id="dop-table">
                                            <thead>
                                                <tr>
                                                    <th style="z-index: 9;">
                                                        <div class="dFlex">
                                                            Office <span class="sorting">
                                                                <a href="javascript:void(0);" class="arrow-up"
                                                                    [ngClass]="{'selected': !isSorted['officeName']}"
                                                                    (click)="sortData(filteredItems,'officeName','asc','string'); isSorted['officeName'] = false"></a>
                                                                <a href="javascript:void(0);" class="arrow-down"
                                                                    [ngClass]="{'selected': isSorted['officeName']}"
                                                                    (click)="sortData(filteredItems,'officeName','desc','string');isSorted['officeName'] = true"></a>
                                                            </span>
                                                            <div class="dropdown">
                                                                <svg (click)="showHideFilteredDropdown('officeName')"
                                                                    style="cursor:pointer;display: inline-block; float: left;background: #e5e5e5;border-radius: 5px;padding: 1px;/* margin-right: 3px; */margin-left: 6px;"
                                                                    version="1.1" viewBox="0 0 24 24"
                                                                    xml:space="preserve"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="20" fill="#d88627">
                                                                    <style type="text/css">
                                                                        .st0 {
                                                                            opacity: 0.2;
                                                                            fill: none;
                                                                            stroke: #000000;
                                                                            stroke-width: 5.000000e-02;
                                                                            stroke-miterlimit: 10;
                                                                        }
                                                                    </style>
                                                                    <g id="grid_system"></g>
                                                                    <g id="_icons">
                                                                        <path
                                                                            d="M4,17h8.1c0.4,1.7,2,3,3.9,3s3.4-1.3,3.9-3H20c0.6,0,1-0.4,1-1s-0.4-1-1-1h-0.1c-0.4-1.7-2-3-3.9-3s-3.4,1.3-3.9,3H4 c-0.6,0-1,0.4-1,1S3.4,17,4,17z M16,14c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S14.9,14,16,14z">
                                                                        </path>
                                                                        <path
                                                                            d="M4,9h0.1c0.4,1.7,2,3,3.9,3s3.4-1.3,3.9-3H20c0.6,0,1-0.4,1-1s-0.4-1-1-1h-8.1c-0.4-1.7-2-3-3.9-3S4.6,5.3,4.1,7H4 C3.4,7,3,7.4,3,8S3.4,9,4,9z M8,6c1.1,0,2,0.9,2,2s-0.9,2-2,2S6,9.1,6,8S6.9,6,8,6z">
                                                                        </path>
                                                                    </g>
                                                                </svg>
                                                                <div class="dropdown-menu filter-dropdown-menu" (mouseleave)="onMouseLeave($event)"
                                                                    *ngIf="showFilteredDropdown.officeName">
                                                                    <div class="clearClose">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox"
                                                                                [checked]="isFilterAllSelected.officeName"
                                                                                value="selectAll"
                                                                                (change)="selectAll($event,'officeName')">
                                                                            {{isFilterAllSelected.officeName ? 'Clear
                                                                            All':'Select All'}}</label>
                                                                        <button
                                                                            (click)="showFilteredDropdown.officeName=false;"
                                                                            type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close"><span>&times;</span></button>
                                                                    </div>
                                                                    <ng-container
                                                                        *ngFor="let data of filteredOfficeName">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox" checked="true"
                                                                                [(ngModel)]="data.checked"
                                                                                value="{{data.name}}"
                                                                                (change)="filterOfficeName($event,'officeName')">
                                                                            {{data.name}}
                                                                        </label>
                                                                    </ng-container>
                                                                </div>
                                                            </div> <span class="sorting">
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <ng-container *ngFor="let data of teamData;let last=last">
                                                        <th *ngIf="currentTeamId != data.teamId">
                                                            <div class="dFlex">
                                                                {{data.teamName == 'Internal_Audit' ? 'Internal Audit' :
                                                                data.teamName}} <span class="sorting">
                                                                    <a href="javascript:void(0);" class="arrow-up"
                                                                        [ngClass]="{'selected': !isSorted[data.teamName]}"
                                                                        (click)="sortData(filteredItems,'count','asc','nestedDate',data.teamName); isSorted[data.teamName] = false"></a>
                                                                    <a href="javascript:void(0);" class="arrow-down"
                                                                        [ngClass]="{'selected': isSorted[data.teamName]}"
                                                                        (click)="sortData(filteredItems,'count','desc','nestedDate',data.teamName);isSorted[data.teamName] = true"></a>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th *ngIf="last"></th>
                                                    </ng-container>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngIf="showLoader.loader">
                                                    <td colspan="7" class="text-center"><span
                                                            class="loader-data"></span> </td>
                                                </tr>
                                                <ng-container
                                                    *ngFor="let office of filteredItems;let id= index;let last;">
                                                    <tr>
                                                        <td>{{office.officeName}}</td>
                                                        <ng-container *ngFor="let team of teamData">
                                                            <ng-container *ngIf="team.teamId != currentTeamId">
                                                                <td>
                                                                    {{office.datesPending[team.teamName|uppercase] ?
                                                                    (office.datesPending[team.teamName|uppercase]| date: 'MMM dd, YYYY') : "-"}}
                                                                </td>
                                                            </ng-container>
                                                        </ng-container>
                                                        <td *ngIf="last"></td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-container *ngIf="pendencyData?.length == 0 && !showLoader.loader">
                                            <div class="text-center mt-5">
                                                <h5 class="text-light bg-secondary p-1"> No Data Available!</h5>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>


</div>