<div class=" navbar-dark sticky-top bg-dark">
    <div class="topbar">
        <h1>Revenue cycle management (RCM)</h1>
        <ul class="navbar-nav px-3">
            <li><img src="../../assets/img/user-blue.png" /> Welcome, {{loggedInUserName}}</li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><img src="../../assets/img/help.png" /> Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="logout();"><img src="../../assets/img/logout.png" /> Sign out</a>
            </li>
        </ul>
    </div>

    <div class="gray-bar">
        <ul>
            <li *ngIf="staticUtil.checkAdmin()"><a href="javascript:void(0);" [routerLink]="['/register']" [ngClass]="{'active':isRegister}"><img [src]="isRegister? '../../assets/img/register.png':'../../assets/img/register-gray.png'" />Register New User</a></li>
            <li *ngIf="staticUtil.checkAdmin()"><a href="javascript:void(0);" [routerLink]="['/user-setting']" [ngClass]="{'active':isUserSetting}"><img [src]="isUserSetting ? '../../assets/img/user-setting.png' : '../../assets/img/user-setting-gray.png'" />User Settings</a></li>
            <li *ngIf="staticUtil.checkAdmin()"><a href="javascript:void(0);" [routerLink]="['/manage-office']" [ngClass]="{'active':isManageOffice}"><img [src]="isManageOffice? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Manage Offices</a></li>
            <li *ngIf="staticUtil.checkAdmin()"><a href="javascript:void(0);" [routerLink]="['/users-status']" [ngClass]="{'active':isUsersStatus}"><img [src]="isUsersStatus? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Users Status</a></li>
            <li *ngIf="staticUtil.checkAdmin()"><a href="javascript:void(0);" [routerLink]="['/manage-client']" [ngClass]="{'active':isManageClient}"><img [src]="isManageClient? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Manage Client</a></li>
            <li *ngIf="loggedInUserRole === 'ROLE_BILLING_ASSO,ROLE_BILLING_TL' || loggedInUserRole === 'ROLE_BILLING_TL,ROLE_BILLING_ASSO'"><a href="javascript:void(0);" [routerLink]="['/claim-assignment']" [ngClass]="{'active':isClaimAssign}"><img [src]="isClaimAssign? '../../assets/img/team-pendency-green-icon.png':'../../assets/img/team-pendency-gray-icon.png'" />Pendency</a></li>
            <li *ngIf="staticUtil.isBillingLead() && staticUtil.isSmilePoint()"><a href="javascript:void(0);" [routerLink]="['/tool-update']" [ngClass]="{'active':isToolUpdate}"><img [src]="isToolUpdate? '../../assets/img/update-database.png':'../../assets/img/update-gray-database.png'" />Tool to Update Database</a></li>
            <li *ngIf="staticUtil.isBillingLead() || staticUtil.isBillingAsso()"><a href="javascript:void(0);" [routerLink]="['/fetch-claims']" [ngClass]="{'active':isToolUpdate}"><img [src]="isToolUpdate? '../../assets/img/update-database.png':'../../assets/img/update-gray-database.png'" />Billing Pendency Dashboard</a></li>
        </ul>

    </div>
</div>