
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}


.navbar-dark .navbar-brand {
    box-shadow: none;
    padding-top: 5px;
    margin-right: 10px;
}

.sticky-top {
    text-align: right;
    z-index: 9999999;
    position: fixed;
    width: 100%;
    left: 0px;
    background: #0c0e14 !important;
    height: 87px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
}


.sticky-top .navbar-nav {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.sticky-top li {
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

.sticky-top .topbar li img {
    margin-right: 3px;
}

.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    position: relative;
    left: 0px;
    border-radius: 0px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 20px;
}

    .topbar h1 {
        font-size: 21px;
        color: #fff;
        margin: 0px;
    }

.gray-bar {
    padding: 8px 20px;
    clear: both;
    background: #1c212d;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 14px;
}

    .gray-bar ul {
        margin: 0px;
        padding: 0px;
    }

        .gray-bar ul li {
            margin-left: 0px;
        }

            .gray-bar ul li img {
                margin-right: 5px;
            }

            .gray-bar ul li a {
                padding: 7px 12px;
                border-radius: 5px;
                color: #b9b9b9;
                text-decoration: none;
                display: inline-flex;
                align-items: center;
                margin-right: 10px;
            }

                .gray-bar ul li a:hover {
                    background: #161a24;
                }

                .gray-bar ul li a.active {
                    color: #33d89f;
                    background: #0c0e14;
                }

                .gray-bar ul li.update-pass{
                    vertical-align: bottom !important;
                }

.navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}

.navbar.fixed-left .navbar-nav .nav-item.show .dropdown-toggle:after {
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: none;
    border-right: .3em solid transparent;
    margin-top: 9px;
}



.navbar .navbar-collapse {
    overflow: auto;
}

@media only screen and (max-width: 767px) {
    .navbar-dark .navbar-brand {
        padding: 0px;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #navbarsDefault {
        border-top: 2px solid #d0d0d0;
        margin: 0px;
    }

    .right-container {
        padding-top: 110px;
    }

    .navbar-expand-md.navbar-dark .logo img {
        width: 100px;
        margin-bottom: 5px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
        border-bottom: 1px solid #cacaca;
    }
}

.activeUserDetails{
    font-size: 16px;
    background: #009f76;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
}
.activeUsername {
    background: #00c290;
    border-radius: 5px 0px 0px 5px;
    padding: 2px 8px 3px 10px;
    margin-right: 10px;

}
.activeUserDetails span{
    
    margin-right: 10px;
    border-right: 2px solid #00d088;
    padding-right: 10px;
    line-height: 14px;
    display: inline-block;
}

.activeUserDetails span:last-child {
    border:none;
}

.modal-backdrop.fade.show{
    display: none;
}
.modal-backdrop.fade.modalShow{
    display: block;
}

.modal{
    top: 90px !important;
}
.modal-footer{
    justify-content: center !important;
}