<div class=" navbar-dark sticky-top bg-dark">
    <div class="topbar">
        <h1>Revenue cycle management (RCM)</h1>
        <ul class="navbar-nav px-3">
            <li><img src="../../assets/img/user-blue.png" /> Welcome, {{loggedInUserName}}</li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><img src="../../assets/img/help.png" /> Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="logout();"><img src="../../assets/img/logout.png" /> Sign out</a>
            </li>
        </ul>
    </div>

    <div class="gray-bar">
        <ul>
            <li *ngIf="loggedInUserRole === 'ROLE_ADMIN'"><a href="javascript:void(0);" [routerLink]="['/register']" [ngClass]="{'active':isRegister}"><img [src]="isRegister? '../../assets/img/team-pendency-green-icon.png':'../../assets/img/team-pendency-gray-icon.png'" />Register New User</a></li>
            <li *ngIf="loggedInUserRole === 'ROLE_ADMIN'"><a href="javascript:void(0);" [routerLink]="['/user-setting']" [ngClass]="{'active':isUserSetting}"><img [src]="isUserSetting ? '../../assets/img/team-pendency-green-icon.png' : '../../assets/img/team-pendency-gray-icon.png'" />User Setting</a></li>
            <li *ngIf="loggedInUserRole === 'ROLE_ADMIN'"><a href="javascript:void(0);" [routerLink]="['/manage-office']" [ngClass]="{'active':isManageOffice}"><img [src]="isManageOffice? '../../assets/img/team-pendency-green-icon.png':'../../assets/img/team-pendency-gray-icon.png'" />Manage Offices</a></li>
        </ul>

    </div>
</div>