<div class=" navbar-dark sticky-top bg-dark">
    <div class="topbar">
        <h1>Revenue Cycle Management(RCM)</h1>
            <div class="activeUsername">
            <span> <strong>Client:</strong>  {{userInfo.currentClientName}}</span>
            <span><strong>Role:</strong> {{userInfo.currentRoleName?.roleName}}</span>
            <span *ngIf="userInfo.currentRoleName?.roleId != 'ADMIN' && (userInfo.currentRoleName?.roleId != 'SUPER_ADMIN' || loginUserType != 'Admin') && userInfo.currentRoleName?.roleId != 'REPORTING' "> <strong>Team:</strong>  {{userInfo.currentTeamId?.teamName}}</span>
        </div>
        <ul class="navbar-nav px-3">
            <li> <button type="button" class="btn btn-success btn-sm" title="Switch Account" (click)="openPopUp(true)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
              </svg></button> </li>
            <li><img src="../../assets/img/user-blue.png" /> Welcome, {{loggedInUserName}}</li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><img src="../../assets/img/help.png" /> Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="logout();"><img src="../../assets/img/logout.png" /> Sign out</a>
            </li>
        </ul>
    </div>

    <div class="gray-bar">
        <ul>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Admin') ||staticUtil.checkAdmin() "><a href="javascript:void(0);" [routerLink]="['/register']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/register.png':'../../assets/img/register-gray.png'" />Register New User</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Admin') ||staticUtil.checkAdmin() "><a href="javascript:void(0);" [routerLink]="['/user-setting']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive ? '../../assets/img/user-setting.png' : '../../assets/img/user-setting-gray.png'" />User Settings</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Admin')"><a href="javascript:void(0);" [routerLink]="['/manage-office']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Manage Offices</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Admin') ||staticUtil.checkAdmin() "><a href="javascript:void(0);" [routerLink]="['/users-status']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Users Status</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Admin')"><a href="javascript:void(0);" [routerLink]="['/manage-client']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Manage Client</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Normal') || staticUtil.isRoleLead() "><a href="javascript:void(0);" [routerLink]="['/claim-assignment']"  routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/team-pendency-green-icon.png':'../../assets/img/team-pendency-gray-icon.png'" />Pendency</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Normal') || staticUtil.isRoleLead() "><a href="javascript:void(0);" [routerLink]="['/tool-update']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/update-database.png':'../../assets/img/update-gray-database.png'" />Tool to Update Database</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Normal') || staticUtil.isRoleLead() || staticUtil.isRoleAsso()"><a href="javascript:void(0);" [routerLink]="['/fetch-claims']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/update-database.png':'../../assets/img/update-gray-database.png'" />Billing Pendency Dashboard</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Normal') || staticUtil.isRoleLead() || staticUtil.isRoleAsso()"><a href="javascript:void(0);" [routerLink]="['/list-of-claims']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/update-database.png':'../../assets/img/update-gray-database.png'" />List Of Claims</a></li>
            <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Normal') || staticUtil.isRoleLead() || staticUtil.isRoleAsso()"><a href="javascript:void(0);" [routerLink]="['/all-pendency']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/update-database.png':'../../assets/img/update-gray-database.png'" />All Pendency</a></li>
            <li ><a href="javascript:void(0);" [routerLink]="['/update-pass']" routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Update Password</a></li> 
           <li *ngIf="(staticUtil.checkRoleSuperAdmin() && loginUserType== 'Normal') || staticUtil.isRoleLead()"><a href="javascript:void(0);" [routerLink]="['/production']"routerLinkActive="active" #rla="routerLinkActive"><img [src]="rla.isActive? '../../assets/img/manage-office.png':'../../assets/img/manage-office-gray.png'" />Production</a></li>
        </ul>

    </div>
    
    <!-- Switch Account popup-->

    <div class="modal" id="switch-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{modelTitle}}</h5>
              <button (click)="modelElement.modal.style.display = 'none'; showPopup= false;" *ngIf="modelTitle == 'Switch Account'" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span  >&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group d-flex justify-content-around">
                            <label class="font-weight-bolder">Client Names:</label>
                            <select class="form-control" id="selectClientAC" name="selectClientAC" (change)="checkBtnDisabled()" [(ngModel)]="selectedClient">
                                <option selected="true" hidden="true" value="">Select Client Name</option>
                                <ng-container *ngFor="let tl of cwModel?.companies">
                                    <option value="{{tl.name}}">{{tl.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group d-flex justify-content-around">
                            <label class="font-weight-bolder">Select Roles:</label>
                            <select class="form-control"  id="selectRolesAC" name="selectRolesAC" (change)="checkBtnDisabled()" [(ngModel)]="selectedRole" [disabled]="cwModel?.roles?.length == 1 ? true : false">
                                <option selected="true" hidden="true" value="">Select Roles</option>
                                <ng-container *ngFor="let tl of cwModel?.roles">
                                    <option  value="{{tl.roleId}}">{{tl.roleName}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group d-flex justify-content-around">
                            <label class="font-weight-bolder">Team Name:</label>
                            <select class="form-control" id="selectTeamAC" name="selectTeamAC" (change)="checkBtnDisabled()" [(ngModel)]="selectedTeam"
                                [disabled]="cwModel?.teams?.length==0 || loginUserType=='Admin'">
                                <option selected="true" hidden="true" value="">Select Team</option>
                                <ng-container *ngFor="let tl of cwModel?.teams">
                                    <option value="{{tl.id ? tl.id : tl.teamId}}">{{tl.name ? tl.name : tl.teamName}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <ng-container *ngIf="selectedRole == 'SUPER_ADMIN'"
                            style="align-items: flex-start;">
                            <div class="form-group d-flex justify-content-around">
                                <label class="font-weight-bolder">Login As:</label>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="admin">Admin</label>
                                    <input class="form-check-input" type="radio" (change)="selectLoginType($event)" value="Admin" name="loginAs" id="admin">
                                    <label class="form-check-label" for="enable">Tool User</label>
                                    <input class="form-check-input" type="radio" (change)="selectLoginType($event)" value="Normal" name="loginAs"  id="normal">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" [disabled]="btnDisabled"
                (click)="switchAccount()">{{modelTitle}}</button>
                <!-- <button type="button" class="btn btn-success" [disabled]="(cwModel?.teams?.length==0 && !this.selectedRole &&  !this.selectedClient)  ||  (!this.selectedRole  ||  !this.selectedClient) "
                (click)="switchAccount()">{{modelTitle}}</button> -->
            </div>
          </div>
        </div>
      </div>
    <!-- Switch Account popup END -->

    <div class="modal-backdrop fade show" [ngClass]="{'modalShow':showPopup}"></div>
</div>