<div class="sticky-top bg-dark">
    <div class="topbar" style="justify-content: flex-start;">
        <a class="backBtn" (click)="goToClaimDetailPage()"><img src="../../assets/img/arrow-back.png"
                [style]="{width:'16px'}"></a>
        <h1>Capline RCM</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pt-5">
            <h6 class="page-heading">Upload Errors</h6>
            <ng-container *ngIf="showMessage.msg">
            <div id="alert" class="alert" [ngClass]="{'alert-success' : showMessage.status == '200', 'alert-danger' : showMessage.status == '400'}">
                {{showMessage.msg}}
            </div>
            </ng-container>
            <div class="main-container">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="detail-box">
                            <div class="detail-box-form">
                                <div class="form-row collapse show" style="border-radius: 10px 10px 0px 0px;">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-bottom: 10px;">
                                        <label class="btn btn-light"  [ngClass]="{'active':tabSwitch.IssueClaims}">
                                            <input class="form-check-input" type="radio" name="options" id="option1"
                                            (click)="switchTab('IssueClaims')">Issue
                                            Claims
                                        </label>
                                        <label class="btn btn-light" [ngClass]="{'active':tabSwitch.ArchiveClaims}">
                                            <input class="form-check-input" type="radio" name="options" id="option2"
                                            (click)="switchTab('Archive Claim')">Archived Claims
                                        </label>
                                    </div>
                                    <div class="d-flex" style="align-items: center;">
                                    <h6 style="color: black; margin-bottom: 0px;">Upload Errors  
                                        <span class="number-of-claims" style="pointer-events:none;" *ngIf="showIssueClaim">Number of Claims Not Uploaded: {{issueClaimConfig.issueCount}}</span> 
                                        <span class="number-of-claims" style="pointer-events:none;" *ngIf="!showIssueClaim">Number of Archive Claims: {{archiveClaimConfig.archiveCount}}</span>
                                         
                                    </h6>
                                    <div *ngIf="((loginUserType == 'TL' && !showIssueClaim) || (loginUserType == 'SUPER_ADMIN' && !showIssueClaim)) && archiveClaimConfig.archiveCount > 0" class="dFlex nowrap-text unarchiveAll">  
                                        <label class="no-css-checkbox-container" for="unarchive" (change)="UnarchiveClaimsConfirmModal()">
                                            <input type="checkbox" id="unarchive" #unArchiveSelectBox>
                                            <div class="checkmark"></div>
                                          </label>  &nbsp;<strong> UnArchive All Claims</strong> 
                                    </div>
                                </div>
                                    <div>
                                        <button type="button" class="icon-btn" (click)="downloadPdf()" [disabled]="(showIssueClaim ? issueClaimConfig.issueCount ==0  : archiveClaimConfig.archiveCount==0) || loader.exportPDFLoader">
                                            <img src="../../assets/img/pdf.png" /></button><span *ngIf="loader.exportPDFLoader"
                                            class="spinner-border text-danger mx-1"></span>
                                        <button type="button" class="icon-btn" (click)="exportToCsv()" [disabled]="(showIssueClaim ? issueClaimConfig.issueCount ==0  : archiveClaimConfig.archiveCount==0)">
                                            <img src="../../assets/img/xls.png" /></button><span *ngIf="loader.exportCSVLoader"
                                            class="spinner-border text-success mx-1"></span>
                                    </div>
                                    <div class="table-responsive" >
                                        <table class="table table-wrapper-scroll-y table-inner-scrollbar" #modalElement (scroll)="onModalScroll()"   id="issuetable" >
                                            <thead>
                                                <tr class="totalRow">
                                                    <th colspan="6">
                                                        <div class="dFlex">
                                                            Office Name <div class="dropdown">
                                                                <img  (click)="showHideFilteredDropdown('officeName')" src="../../assets/img/filterIcon.png" style="cursor: pointer; margin-left: 6px;"/>
                                                                <div class="dropdown-menu filter-dropdown-menu" (mouseleave)="onMouseLeave($event)"
                                                                    *ngIf="showFilteredDropdown.officeName">
                                                                    <div class="clearClose">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox"
                                                                                [checked]="isFilterAllSelected.officeName"
                                                                                value="selectAll"
                                                                                (change)="selectAll($event,'officeName')">
                                                                            {{isFilterAllSelected.officeName ? 'Clear All':'Select All'}}</label>
                                                                        <button
                                                                            (click)="showFilteredDropdown.officeName=false;"
                                                                            type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close"><span>&times;</span></button>
                                                                    </div>
                                                                    <ng-container *ngFor="let data of this.filteredOfficeName">
                                                                        <label class="mx-1">
                                                                            <input type="checkbox" checked="true"
                                                                            [(ngModel)]="data.checked"
                                                                                value="{{data.name}}"
                                                                                (change)="filterOfficeName($event,'officeName')">
                                                                            {{data.name}}
                                                                        </label>
                                                                    </ng-container>
                                                                </div>
                                                            </div><span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['officeName']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'officeName','asc','string'); isSorted['officeName'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['officeName']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'officeName','desc','string');isSorted['officeName'] = true"></a>
                                                        </span>                                                         
                                                        </div>
                                                    </th>
                                                    <th colspan="6" >
                                                        <div class="dFlex">Claim ID</div>
                                                    </th>
                                                    <th colspan="6">
                                                        <div class="dFlex">  
                                                            Upload Date <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['createdDate']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'createdDate','asc','dateOnly'); isSorted['createdDate'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['createdDate']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'createdDate','desc','dateOnly');isSorted['createdDate'] = true"></a>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th colspan="6" style="min-width: 170px;">
                                                        <div class="dFlex">  
                                                        Issue due to which Claim could not be Uploaded <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['issue']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'issue','asc','string'); isSorted['issue'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['issue']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'issue','desc','string');isSorted['issue'] = true"></a>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th colspan="6">
                                                        <div class="dFlex">  
                                                        Source <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['source']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'source','asc','string'); isSorted['source'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['source']}"
                                                                (click)="sortData(showIssueClaim ? filteredItems : filtertedArchiveItems,'source','desc','string');isSorted['source'] = true"></a>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th colspan="6" *ngIf="(loginUserType == 'TL' && showIssueClaim) || (loginUserType == 'SUPER_ADMIN' && showIssueClaim)">
                                                        <div class="dFlex nowrap-text">  
                                                            <label class="no-css-checkbox-container"  (change)="selectAllArchieveClaims($event)">
                                                                <input type="checkbox" #archiveSelectBox>
                                                                <div class="checkmark"></div>
                                                              </label>  &nbsp;
                                                              {{selectedClaimsToArchiveData.length ==0 ? 'Select All' : 'Unselect All'}} Archive Claims
                                                             <!-- <button class="btn btn-danger"
                                                            style="min-width: 105px;justify-content: center;"
                                                            (click)="selectAllArchieveClaims(archiveClaimsData.length==0 ? true : false)">{{archiveClaimsData.length==0
                                                                ? 'Select All' : 'Unselect All'}}</button> -->
                                                        </div>
                                                        
                                                    </th>
                    
                                                    <th colspan="6" *ngIf="(loginUserType == 'TL' && !showIssueClaim) || (loginUserType == 'SUPER_ADMIN' && !showIssueClaim)">UnArchive  
            
                                                    </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngIf="loader.showLoader">
                                                    <td colspan="25" class="text-center"><span class="loader-data"></span></td>
                                                </tr>
                                                <ng-container *ngIf="showIssueClaim">
                                                    <tr *ngFor="let lg of filteredItems">
                                                        <td colspan="6">{{lg.officeName}}</td>
                                                        <td colspan="6">{{lg.claimId}}</td>
                                                        <td colspan="6">{{lg.createdDate | date:'MMM dd, YYYY HH:mm:ss'}}</td>
                                                        <td colspan="6">{{lg.issue}}</td>
                                                        <td colspan="6">{{lg.source}}</td>
                                                        <td colspan="6" *ngIf="(loginUserType == 'TL' || loginUserType == 'SUPER_ADMIN')">
                                                            <a href="javascript:void(0);"></a><input type="checkbox" [(ngModel)]="lg.archive"
                                                                (change)="selectClaimsToArchive(lg.archive,lg.id)" />
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-container *ngIf="!showIssueClaim">
                                                    <tr *ngFor="let aCl of filtertedArchiveItems;">
                                                        <td colspan="6">{{aCl.officeName}}</td>
                                                        <td colspan="6">{{aCl.newClaimId}}</td>
                                                        <td colspan="6">{{aCl.createdDate | date:'MMM dd, YYYY HH:mm:ss'}}</td>
                                                        <td colspan="6">{{aCl.issue}}</td>
                                                        <td colspan="6">{{aCl.source}}</td>
                                                        <td colspan="6"><button *ngIf="(loginUserType == 'TL' || loginUserType=='SUPER_ADMIN')" type="button"
                                                                class="btn btn-danger file-button" (click)="UnarchiveClaims(aCl,false)">UnArchive</button></td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
            
    </div>
    </div>
    
      <pagination *ngIf="!showIssueClaim && totalArchivePages > 1" [paginationPages]="paginationPages" (emitToParent)="receiveChildEvent($event)"></pagination> 
    <div class="text-center" *ngIf="showIssueClaim"><button *ngIf="(loginUserType == 'TL' || loginUserType=='SUPER_ADMIN')" type="button" class="btn btn-success file-button" [disabled]="selectedClaimsToArchiveData.length==0" (click)="archiveSelectedClaims()"><span *ngIf="loader.showLoader" class="spinner-grow spinner-grow-sm" role="status"
        aria-hidden="true"></span>Archive</button></div>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="modal-backdrop fade show" [ngClass]="{'modalShow':loader.unarchive}"></div>

<div class="modal" tabindex="-1" role="dialog"  *ngIf="showUnArchiveModal">
    <div class="modal-dialog delete-modal" role="document">
     <div class="modal-content">
       <div class="modal-header flex-row">
         <h4 class="modal-title w-100">Are you sure?</h4>	
                 <button (click)="closeConfirmationModal(false)" type="button" class="btn btn-sm btn-ligt close">&times;</button>
       </div>
       <div class="modal-body">
         <p>Do you really want to unarchive all the claims?</p>
       </div>
       <div class="modal-footer justify-content-center">
         <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeConfirmationModal(false)">Cancel</button>
         <button type="button" class="btn btn-danger" (click)="UnarchiveClaims('',true)">UnArchive</button>
       </div>
     </div>
   </div>
</div>