
<div class="inner-bg">
	<div *ngIf="!showIvfData" class="container"> 
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 form-box">
				<div class="form-top">
					<div class="form-top-left">
						<h3 class="ivf-title">Enter Details for Validating {{hd1}}</h3>
					</div>
				</div>

				<div class="form-bottom">
					<form class="login-form" name="form"
						(ngSubmit)="f.form.valid && validateIVF()" #f="ngForm" novalidate>
						<!-- <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div> -->
						<span id="reauth-email" class="reauth-email"></span>

						<div class="form-group"
							[ngClass]="{ 'has-error': f.submitted && !treatmentPlanId.valid }">
							<label class="sr-only" for="treatmentPlanId">{{hd2}}</label> <input type="text"
								class="login-signup-form-field form-control"
								name="treatmentPlanId" id="treatmentPlanId"
								[(ngModel)]="ivfm.treatmentPlanId" #treatmentPlanId="ngModel"
								placeholder="{{hd2}}..." required />
							<div *ngIf="f.submitted && !treatmentPlanId.valid"
								class="error-msg">Please enter {{hd2}}.</div>
						</div>						

						<div class="form-group" *ngIf="ut=='1'"
							[ngClass]="{ 'has-error': f.submitted && !ivfId.valid }">
							<label class="sr-only" for="ivfId">IVF Form Id</label> <input 
								type="text" class="login-signup-form-field form-control"
								name="ivfId" id="ivfId" [(ngModel)]="ivfm.ivfId" 
								#ivfId="ngModel" placeholder="IVF Id... (This is optional. Only enter if you have valid IVF)"/>
								<!-- 
							   <div *ngIf="f.submitted && !ivfId.valid && ut=='1'" class="error-msg">Please
								enter IVF Id.</div>
								 -->
						</div>

                         <div class="form-group" *ngIf="ut=='2'"
						 >
							<label class="sr-only" for="ivfId">IVF Form Id</label> <input 
								type="text" class="login-signup-form-field form-control"
								name="ivfId" id="ivfId" [(ngModel)]="ivfm.ivfId" 
								#ivfId="ngModel" placeholder="IVF Id... (This is optional. Only enter if you have valid IVF)"  />
							
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
							<label class="sr-only" for="officeId">Office Name</label> <select
								name="officeId" [(ngModel)]="ivfm.officeId"
								class="login-signup-form-field form-control" id="officeId">
								<option value="">Office Name...</option>
								<option *ngFor="let title of offices" [value]="title.uuid">{{title.name}}</option>
							</select>
							<div *ngIf="f.submitted && ivfm.officeId==''" class="error-msg">The
								Office Name is required</div>
						</div>
						<div class="form-group">
							 <input
								type="checkbox" class=""
								name="debugMode" id="debugMode" [(ngModel)]="ivfm.debugMode"
								#debugMode="ngModel"  />
							<label class="sr-checkbox" for="debugMode">Detailed Log </label>
                         <ng-container *ngIf="ut=='1'">
							 <input
								type="checkbox" class=""
								name="inputModeD" id="inputModeModeD" [(ngModel)]="ivfm.inputModeD"
								#debugMode="ngModel"  />
							<label class="sr-checkbox" for="inputModeD">Input Mode </label>
                         </ng-container>
                          <div>
                        	<select
								name="insType" [(ngModel)]="ivfm.insType"
								class="instype-form-field form-control" id="insType">
								<option value="">Insurance type...</option>
								<option *ngFor="let sta of ivfm.insTypes" [value]="sta.key">{{sta.value}}</option>
								
							</select>
                        </div>
                        <div>
                         <select
								name="status" [(ngModel)]="ivfm.status"
								class="status-form-field form-control" id="status">
								<option value="">Status...</option>
								<option *ngFor="let sta of ivfm.statses" [value]="sta.key">{{sta.value}}</option>
								
						</select>
						</div>
                         </div>
                        

						<p>
							<button [disabled]="showLoading" type="submit" class="btn">Validate {{hd1}}
								</button>
						</p>

						<div *ngIf="showLoading" class="loader"></div>

					</form>
				</div>
			</div>
		</div>

	</div>
	
	<app-ivfpopup *ngIf="showPopup" [ivfm]="ivfm" (emitToParent)="receiveChildrenEmitter($event)" 
		[ivfValidateName]="'validateTreatmentPlan'" [showIvfData]="showIvfData" [ignoreDataArray]="ignoreDataArray"></app-ivfpopup>	
	
	<app-questionformpopup *ngIf="showPopupInput" [questionData]="questionData" (emitToParent)="receiveChildrenEmitter($event)"
	[showValidation]="'1'" 
	></app-questionformpopup>	
</div>
