
<div class="inner-bg">
	<div *ngIf="!showIvfData" class="container">

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 form-box">
				<div class="form-top">
					<div class="form-top-left">
						<h3 class="ivf-title">Enter Details for Validating IV in Batch</h3>
					</div>
				</div>

				<div class="form-bottom">
					<form class="login-form" name="form"
						(ngSubmit)="(patientId.valid  || ivfId.valid) && validateIVF()" #f="ngForm" novalidate>
						<!-- <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div> -->
						<span id="reauth-email" class="reauth-email"></span>


						<div class="form-group"
							[ngClass]="{ 'has-error': f.submitted && (!ivfId.valid && !patientId.valid ) }">
							<label class="sr-only" for="ivfId">IVF Form Id</label>
							<textarea rows="150" cols="20"
								class="login-signup-form-field1 form-control" name="ivfId"
								id="ivfId" [(ngModel)]="ivfm.ivfId" #ivfId="ngModel"
								(paste)="onPasteI($event)"
								(ngModelChange)="getDataFromPasteEvent($event)"
								placeholder="IV Ids : 1,2,3,4,5,6" required>
								</textarea>
							<div *ngIf="f.submitted && !ivfId.valid" class="error-msg">Please
								enter Either IVF Id or Patient Id.</div>
						</div>
        				<div class="form-group orclass"> OR </div>
						<div class="form-group"
							[ngClass]="{ 'has-error': f.submitted && (!ivfId.valid && !patientId.valid ) }">
							<label class="sr-only" for="patientId">Patient Id</label>
							<textarea rows="150" cols="20"
								class="login-signup-form-field1 form-control" name="patientId"
								id="patientId" [(ngModel)]="ivfm.patientId" #patientId="ngModel"
								(paste)="onPasteP($event)"
								(ngModelChange)="getDataFromPasteEvent($event)"
								placeholder="Patient Ids: 1,2,3,4,5,6" required>
								</textarea>
							<div *ngIf="f.submitted && !patientId.valid" class="error-msg">Please
								enter Either Patient Id or IVF Id.</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
							<label class="sr-only" for="officeId">Office Name</label> <select
								name="officeId" [(ngModel)]="ivfm.officeId"
								class="login-signup-form-field form-control" id="officeId">
								<option value="">Office Name...</option>
								<option *ngFor="let title of offices" [value]="title.uuid">{{title.name}}</option>
							</select>
							<div *ngIf="f.submitted && ivfm.officeId==''" class="error-msg">The
								Office Name is required</div>
							<div>
                        	<select
								name="insType" [(ngModel)]="ivfm.insType"
								class="instype-form-field form-control" id="insType">
								<option value="">Insurance type...</option>
								<option *ngFor="let sta of ivfm.insTypes" [value]="sta.key">{{sta.value}}</option>
								
							</select>
                            </div>	
								
						</div>


						<p>
							<button [disabled]="showLoading" type="submit" class="btn"> Validate IVs</button>
						</p>

						<div *ngIf="showLoading" class="loader"></div>

					</form>
				</div>
			</div>
		</div>

	</div>
	
	<app-ivfpopup *ngIf="showPopup" [ivfm]="ivfm" (emitToParent)="receiveChildrenEmitter($event)" 
		[ivfValidateName]="'validateTreatmentPlanPreBatch'" [showIvfData]="showIvfData"> </app-ivfpopup>
	
</div>
