        <div class="right-container" [ngClass]="{'setPadding':setPaddingContainer}">
        <ng-container *ngIf="alert.showAlertPopup">
            <div class="alert fade show my-3 text-center" [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}" role="alert">
                <strong>{{alert.alertMsg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" (click)="alert.showAlertPopup=false;">&times;</span>
                </button>
            </div>
        </ng-container>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pt-3">
                    <h2 class="page-heading">Register User Account</h2>
                    <div class="main-container register-User">
                        <div class="form-container">
                            <form [formGroup]="userDetails" style="padding-right:20%">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="fname">First Name</label>
                                            <input type="text" class="form-control" maxlength="25" formControlName="firstName" [ngClass]="{'is-invalid':userDetails.controls.firstName.invalid && userDetails.controls.firstName.touched,'is-valid':userDetails.controls.firstName.valid}">
                                            <small class="text-danger" *ngIf="userDetails.controls['firstName'].touched && userDetails.controls['firstName'].errors?.required">* Please Provide Your First Name.</small>
                                            <small class="text-danger" *ngIf="userDetails.controls['firstName'].touched && userDetails.controls['firstName'].errors?.minlength">* Name cannot be less than 3 words.</small>
                                            <small class="text-danger" *ngIf="userDetails.controls['firstName'].touched && userDetails.controls['firstName'].errors?.pattern">* Numbers or Spaces are not allowed.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="lname">Last Name</label>
                                            <input type="text" class="form-control" maxlength="25" formControlName="lastName" [ngClass]="{'is-invalid':userDetails.controls.lastName.invalid && userDetails.controls.lastName.touched,'is-valid':userDetails.controls.lastName.valid}">
                                            <small class="text-danger" *ngIf="userDetails.controls['lastName'].touched && userDetails.controls['lastName'].errors?.required">* Please Provide Your Last Name.</small>
                                            <small class="text-danger" *ngIf="userDetails.controls['lastName'].touched && userDetails.controls['lastName']?.errors?.minlength">* Name cannot be less than 3 words.</small>
                                            <small class="text-danger" *ngIf="userDetails.controls['lastName'].touched && userDetails.controls['lastName'].errors?.pattern">* Numbers or Spaces are not allowed.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" maxlength="100" formControlName="email" [ngClass]="{'is-invalid':userDetails.controls.email.invalid && userDetails.controls.email.touched,'is-valid':userDetails.controls.email.valid}">
                                            <small class="text-danger" *ngIf="userDetails.controls['email'].touched && userDetails.controls['email'].errors?.required">* Please Provide Your Email.</small>
                                            <small class="text-danger" *ngIf="userDetails.controls['email'].touched && userDetails.controls['email']?.errors?.email">* Please Enter Valid Email.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input [type]="showPassword ? 'text' : 'password' " class="form-control" formControlName="password" [ngClass]="{'is-invalid':userDetails.controls.password.invalid && userDetails.controls.password.touched,'is-valid':userDetails.controls.password.valid}">
                                            <small class="text-danger" *ngIf="userDetails.controls['password'].touched && userDetails.controls['password'].errors?.required">* Please Provide Your Password.</small>
                                            <small class="text-danger" *ngIf="userDetails.controls['password'].touched && userDetails.controls['password']?.errors?.minlength">* Must be atleast 6 characters.</small>
                                            <small class="text-danger" *ngIf="userDetails.controls['password'].touched && userDetails.controls['password']?.errors?.maxlength">* Length cannot exceed 20.</small>
                                           <!-- <span (click)="showPassword = !showPassword">
                                            <ng-container *ngIf="showPassword">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                </svg>
                                            </ng-container>
                                            <ng-container *ngIf="!showPassword">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                                </svg>
                                            </ng-container>
                                            </span>  -->
                                        </div>
                                        <ng-container *ngIf="userDetails.controls.password.invalid && userDetails.controls.password.touched">
                                            <div  class="popover fade show bs-popover-right" style="left: 316px ; width: 300px !important;"><div class="arrow" style="top: 34px;"></div><h3 class="popover-header">Password Tips</h3><div class="popover-body">
                                                <ul>
                                                    <li>Min Length of 6 characters.</li>
                                                    <li>Max Length 20 characters.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        </ng-container>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="companyId">Client Name</label>
                                            <select class="form-control"  (change)="selectCompany($event);getRolesByCompany($event);" [ngClass]="{'is-invalid':userDetails.controls.companyName.invalid && userDetails.controls.companyName.touched,'is-valid':userDetails.controls.companyName.valid}">
                                                <option selected="true" hidden="true" >Select Client</option>
                                                <ng-container *ngFor="let comp of companyData">
                                                    <option value="{{comp.name}}">{{comp.name}}</option>
                                                </ng-container>
                                            </select>
                                            <!-- <small class="text-danger" *ngIf="userDetails.controls['companyName'].touched && userDetails.controls['companyName'].errors?.required">* Please Select Client Name.</small> -->
                                        </div>
                                    </div>
                                    <ng-container *ngIf="defaulUserRoleData.length>0 || userRoleByTeam.length>0">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="userRole">User Role :</label>
                                                <br>
                                                <div class="user-role-box">
                                                <div *ngFor="let userRole of defaulUserRoleData;let idx=index;" style="display: inline-block;">
                                                    <ng-container *ngIf="userRole.roleId == 'ADMIN'">
                                                        <strong>
                                                            {{userRole.roleName}}
                                                        </strong>
                                                        <div style="display: inline-flex;gap:5px">
                                                            
                                                            <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="role{{userRole.roleId}}" value="true" id="{{userRole.roleId}}" (change)="selectDefaultUserRole($event)">
                                                            <label class="form-check-label" >
                                                          Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="role{{userRole.roleId}}" value="false" id="{{userRole.roleId}}" (change)="selectDefaultUserRole($event)">
                                                        <label class="form-check-label" >
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="userRole.roleId !== 'ADMIN'">
                                                <div class="form-check  form-check-inline custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" name="role" id="{{userRole.roleId}}"
                                                    (change)="selectDefaultUserRole($event)">
                                                    <label class="custom-control-label" for="{{userRole.roleId}}">
                                                        {{userRole.roleName}}
                                                    </label>
                                                </div>
                                            </ng-container>
                                            
                                                </div>
                                                <ng-container *ngFor="let userRole of userRoleByTeam">    
                                                    <div class="form-check  form-check-inline custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" name="role" id="{{userRole.roleId}}"
                                                            (change)="selectUserRole($event)" [checked]="userRoles.includes('TL')" >
                                                        <label class="custom-control-label" for="{{userRole.roleId}}">
                                                            {{userRole.roleName}}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                     </div>
                                </div>

                                </ng-container>
                            </div>
                            <ng-container *ngIf="teamData.length>0">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="teamId">Team Name</label>
                                            <div class="spinner-border text-secondary" role="status" *ngIf="showLoader"></div>
                                            <select class="form-control" id="select" (change)="selectTeamName($event)" [ngClass]="{'is-invalid':userDetails.controls.teamId.invalid && userDetails.controls.teamId.touched && userDetails.teamId.value == '','is-valid': userDetails.controls.teamId.touched && userDetails.controls.teamId.valid}">
                                        <option selected="true"  value="">Select Team</option>
                                        <option *ngFor="let team of teamData" value="{{team.teamId}}">{{team.teamName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        </ng-container>
                            <div class="action-buttons">
                                <button type="button" class="btn btn-success" (click)="registerNewUser()">Submit</button>
                            </div>
                            
                            </form>

                        </div>

                    </div>
                        </div>
                        
                    </div>

                </div>
            </div>