        <div class="right-container">
        <app-header-component [isRegister]="isRegister"></app-header-component>
        <ng-container *ngIf="alert.showAlertPopup">
            <div class="alert fade show my-3 text-center" [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}" role="alert">
                <strong>{{alert.alertMsg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" (click)="alert.showAlertPopup=false;">&times;</span>
                </button>
            </div>
        </ng-container>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pt-3">
                    <h2 class="page-heading">Register User Account</h2>
                    <div class="main-container register-User">
                        <div class="form-container">
                            <form [formGroup]="userDetails" style="padding-right:20%">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="fname">First Name</label>
                                            <input type="text" class="form-control" maxlength="25" formControlName="firstName" [ngClass]="{'is-invalid':userDetails.controls.firstName.invalid && userDetails.controls.firstName.touched}">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="lname">Last Name</label>
                                            <input type="text" class="form-control" maxlength="25" formControlName="lastName" [ngClass]="{'is-invalid':userDetails.controls.lastName.invalid && userDetails.controls.lastName.touched}">
                                        </div>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" maxlength="100" formControlName="email" [ngClass]="{'is-invalid':userDetails.controls.email.invalid && userDetails.controls.email.touched}">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control"  formControlName="password" [ngClass]="{'is-invalid':userDetails.controls.password.invalid && userDetails.controls.password.touched}">
                                        </div>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="companyId">Client Name</label>
                                            <select class="form-control"  (change)="getTeamsData($event);selectCompany($event);getRolesByCompany($event);" [ngClass]="{'is-invalid':userDetails.controls.companyName.invalid && userDetails.controls.companyName.touched}">
                                                <option selected="true" hidden="true" >Select Client</option>
                                                <ng-container *ngFor="let comp of companyData">
                                                    <option value="{{comp.name}}">{{comp.name}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm">
                                        <div class="form-group">
                                            <label for="officeId">Office Name</label>
                                            <div class="spinner-border text-secondary" role="status" *ngIf="showLoader"></div>
                                            <select class="form-control" (change)="selectOffice($event);"  [ngClass]="{'is-invalid':userDetails.controls.officeId.invalid && userDetails.controls.officeId.touched,'disabled':officeData.length==0}">
                                                <option selected="true" hidden="true" *ngIf="!showLoader">Select Office</option>
                                                <option *ngFor="let office of officeData" value="{{office.uuid}}">{{office.name}}</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="teamId">Team Name</label>
                                        <div class="spinner-border text-secondary" role="status" *ngIf="showLoader"></div>
                                            <select class="form-control" (change)="selectTeamName($event);getRolesByTeam($event);" [ngClass]="{'is-invalid':userDetails.controls.teamId.invalid && userDetails.controls.teamId.touched,'disabled':teamData.length==0}">
                                                <option selected="true" value="">Select Team</option>
                                                <option *ngFor="let team of teamData" value="{{team.teamId}}">{{team.teamName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>
                                <ng-container *ngIf="defaulUserRoleData.length>0 || userRoleByTeam.length>0">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group">
                                                <label for="userRole">User Role :</label>
                                                <ng-container *ngFor="let userRole of defaulUserRoleData">
                                                    <div class="form-check  form-check-inline custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" name="role" id="{{userRole.roleId}}"
                                                            (change)="selectUserRole($event)">
                                                        <label class="custom-control-label" for="{{userRole.roleId}}">
                                                            {{userRole.roleName}}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngFor="let userRole of userRoleByTeam">    
                                                    <div class="form-check  form-check-inline custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" name="role" id="{{userRole.roleId}}"
                                                            (change)="selectUserRole($event)" [checked]="userRoles.includes('TL')" >
                                                        <label class="custom-control-label" for="{{userRole.roleId}}">
                                                            {{userRole.roleName}}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                                <div class="action-buttons">
                                    <button type="button" class="btn btn-success" [disabled]="userDetails.invalid" (click)="registerNewUser()">Submit</button>
                                </div>

                            </form>

                        </div>

                    </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js"></script>
        </body>
        </html> -->
