
    .register-User .form-group .spinner-border {
        position: absolute;
        left: 10px;
        top: 35px;
        width: 24px;
        height: 24px;
    }
.form-group label {
    font-weight:600;
}
.form-group .custom-control-label {
    font-weight: 500;
}
.custom-control-label::before, .custom-control-label::after {
    top: 0.18rem;
    left: -1.3rem;
}

.bs-popover-right .arrow{
    left: calc((0.5rem + 1px) * -1);
    width: 0.5rem;
    height: 1rem;
    margin: 0.3rem 0;
}
.popover-header{
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.popover-body {
    padding: 0.5rem 0.75rem;
    color: #212529;
}
.user-role-box{
    display:flex;
    align-items: center;
    margin-top: 7px;
}
.user-role-box label{
    margin-bottom: 0px !important;
}

.setPadding{
    padding-top:115px !important;
}
.disabled{
    pointer-events: none !important;
    opacity: 0.5 !important;
    background: #b3b3b3 !important;
}