.form-control.inner-inp-2 {height: 38px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: #ffffff;
    border: 1px solid #dadada;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
    color: #888;
    border-radius: 4px;
    box-shadow: none;
    transition: all .3s;}
    
    .form-horizontal .control-label {    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;}