<div class="reset-pwd-container">
<h3>Reset Password</h3>

			<form class="login-form" name="form"
				(ngSubmit)="f.form.valid && updatePassword()" #f="ngForm" novalidate>
				<div class="form-group"
					[ngClass]="{ 'has-error': f.submitted && !password1.valid }">
					<label class="sr-only" for="password1">Password</label> <input
						type="password" class="login-signup-form-field form-control"
						name="password1" id="password1" [(ngModel)]="password"
						#password1="ngModel" placeholder="Password..." required
						minlength="4" />
					<div *ngIf="f.submitted && !password1.valid" class="error-msg">
						<div *ngIf="password1.errors.required">Please enter a
							password.</div>
						<div *ngIf="password1.errors.minlength">Password must be at
							least 4 characters long.</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
					<label class="sr-only" for="passwordAgain1">Retype Password</label>
					<input type="password" class="login-signup-form-field form-control"
						name="passwordAgain1" id="passwordAgain1"
						[(ngModel)]="passwordAgain" #repassword1="ngModel"
						placeholder="Retype Password..." />
					<div *ngIf="f.submitted && password!=passwordAgain && password!=''"
						class="error-msg">The two passwords you entered don't match.
						Please try again.</div>
				</div>
				<p>
					<button type="submit" class="btn">Reset Password</button>
				</p>
				<p *ngIf="p_s">Password updated Successfully.</p>
			</form>
</div>