<div class="right-container">
    <app-header-component [isClaimAssign]="isClaimAssign"></app-header-component>
    <div class="container-fluid">
        <ng-container *ngIf="alert.showAlertPopup">
            <div class="alert alert-success alert-dismissible fade show my-3 text-center" role="alert">
                <strong>{{alert.alertMsg}}</strong>
                <button type="button" (click)="alert.showAlertPopup=false;" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </ng-container>
        <div class="row">
            <div class="col-lg-12 pt-3">
                <h2 class="page-heading">Billing Pendency Dashboard</h2>
                <div class="main-container">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <div class="billingDropdown">
                                <select class="form-control" id="" name="bType" [(ngModel)]="bType"
                                    (change)="fetchClaimAssignments()">
                                    <option *ngFor="let sta of bl.bills" [value]="sta.key">{{sta.value}}</option>
                                </select>
                                <select (change)="fetchClaimAssignments()" class="form-control" id="" name="insType" [(ngModel)]="insType">
                                    <option *ngFor="let sta of bl.insTypes" [value]="sta.key">{{sta.value}}</option>
                                </select>
                                <button type="button" class="btn btn-success" (click)="saveToPdf('table')" [disabled]="claimData.length==0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16"  style="margin-right: 3px;">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"></path>
                    </svg>Export to PDF</button><span *ngIf="showExportLoader" class="spinner-border spinner-primary mx-1"></span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row without-heading">
                                <div class="table-responsive">
                                    <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar" id="table">
                                        <thead>
                                            <tr>
                                                <th class="width-200">
                                                    <div class="dFlex">
                                                        Office Name
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimData,'officeName','officeName','asc','name','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(claimData,'officeName','officeName','desc','name','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-200">
                                                    <div class="dFlex">
                                                        Office Assigned To
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimData,'fname','officeAssigned','asc','name','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(claimData,'fname','officeAssigned','desc','name','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-200">
                                                    <div class="dFlex">
                                                        Oldest Pending Date
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimData,'opdt','opdt','asc','date','date'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(claimData,'opdt','opdt','desc','date','date');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-200">
                                                    <div class="dFlex">
                                                        Oldest Pending DOS
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimData,'opdos','opdos','asc','date','date'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(claimData,'opdos','opdos','desc','date','date');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Number of Pending Claims to be Billed
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimData,'count','count','asc','number','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(claimData,'count','count','desc','number','number');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        No. of RemoteLite Rejections Pending to be Handled
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimData,'remoteLiteRejections','remoteLiteRejections','asc','number','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(claimData,'remoteLiteRejections','remoteLiteRejections','desc','number','number');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Total (Pending For Billing & Remote Lite Rejections)
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimData,'remoteLiteRejections','countAndRemLiteReject','asc','number','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(claimData,'remoteLiteRejections','countAndRemLiteReject','desc','number','number');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr class="totalRow">
                                                <td>Total</td>
                                                <td></td>
                                                <!-- <td>10/30/2022</td>
                                                <td>10/30/2022</td> -->
                                                <td></td>
                                                <td></td>
                                                <td>{{totalClaimData.totalCount}}</td>
                                                <td>{{totalClaimData.totalRemLiteReject}}</td>
                                                <td>{{totalClaimData.totalcountAndRemLiteReject}}</td>
                                            </tr>
                                            <tr *ngIf="showLoader"><td colspan="7" class="text-center"><span class="loader-data "></span> </td></tr>
                                            <ng-container *ngIf="!showLoader">

                                            <tr *ngFor="let lg of claimData">
                                                <td>{{lg.officeName}}</td>
                                                <td> 
                                                    <a href="javascript:void(0);">
                                                        <select class="form-control select-editable" name="" id="" (change)="selectNewAssignedUser($event,lg.officeUuid);"
                                                            >
                                                            <option value="{{lg.assignedUser}}">{{lg.fname}} {{lg.lname}}</option>
                                                            <ng-container *ngFor="let user of userByTeam;">
                                                                <!-- <option *ngIf="lg.assignedUser !== user.uuid" value="{{user.fullName}},{{user.uuid}},{{lg.officeUuid}}">{{user.fullName}}</option> -->
                                                                <option *ngIf="lg.assignedUser !== user.uuid" value="{{user.uuid}}">{{user.fullName}}</option>
                                                            </ng-container>
                                                        </select>
                                                    </a>
                                                </td>
                                                <td>{{lg.opdt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td>{{lg.opdos | date: 'dd/MM/yyyy'}}</td>
                                                <td>{{lg.count}}</td>
                                                <td>{{lg.remoteLiteRejections}}</td>
                                                <td>{{lg.remoteLiteRejections+lg.count}}</td>
                                            </tr>
                                        </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="action-buttons" *ngIf="!showLoader">
                            <button type="button" class="btn btn-success"   [disabled]="assignOfficeDetails.assignOfficeDetails.length==0" (click)="saveAssignments()">Save
                                Assignment</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>