<div class="right-container">
    <div class="container-fluid">
        <ng-container *ngIf="alert.showAlertPopup">
            <div class="alert fade show text-center my-3"
                [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}" role="alert">
                <strong>{{alert.alertMsg}}</strong>
                <button type="button" (click)="alert.showAlertPopup=false;" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </ng-container>
        <div class="row">
            <div class="col-lg-12 pt-3">
                <!-- <h2 class="page-heading">Billing Pendency Dashboard</h2> -->
                <div class="main-container">
                    <div class="row">
                        <div class="col-md-12 mb-1 listClaimBox">
                            <div class="billingDropdown labelText">
                                Billing Type&nbsp;&nbsp;<select class="form-control" id="" name="bType" [(ngModel)]="bType"
                                    (change)="fetchClaimAssignments()">
                                    <option *ngFor="let sta of bl.bills" [value]="sta.key">{{sta.value}}</option>
                                </select>
                                Insurance Type&nbsp;&nbsp;<select (change)="fetchClaimAssignments()" class="form-control" id="" name="insType"
                                    [(ngModel)]="insType">
                                    <option *ngFor="let sta of bl.insTypes" [value]="sta.key">{{sta.value}}</option>
                                </select>
                            </div>
                            <div>
                                <button type="button" class="icon-btn" (click)="downloadPdf()"
                                    [disabled]="claimData.length==0  || loader.exportPDFLoader">
                                    <img src="../../assets/img/pdf.png" /></button><span *ngIf="loader.exportPDFLoader"
                                    class="spinner-border text-danger mx-1"></span>
                                <button type="button" class="icon-btn" (click)="exportToCsv()"
                                    [disabled]="filteredItems.length==0">
                                    <img src="../../assets/img/xls.png" /> </button><span *ngIf="loader.exportCSVLoader"
                                    class="spinner-border text-success mx-1"></span>
                            </div>

                        </div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row without-heading">
                                <div class="table-responsive">
                                    <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                        id="table">
                                        <thead>
                                            <tr>
                                                <th class="width-200 min-max-180" style="z-index: 9;">
                                                    <div class="dFlex">
                                                        Clients
                                                         <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['companyName']}"
                                                                (click)="sortData(filteredItems,'companyName','asc','string'); isSorted['companyName'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['companyName']}"
                                                                (click)="sortData(filteredItems,'companyName','desc','string');isSorted['companyName'] = true"></a>
                                                        </span>
                                                        <div class="dropdown">
                                                            <img  (click)="showHideFilteredDropdown('companyName')" src="../../assets/img/filterIcon.png" style="cursor: pointer; margin-left: 6px;"/>
                                                            <div class="dropdown-menu filter-dropdown-menu" (mouseleave)="onMouseLeave($event)"
                                                                *ngIf="showFilteredDropdown.companyName">
                                                                <div class="clearClose">
                                                                    <label class="mx-1">
                                                                        <input type="checkbox"
                                                                            [checked]="isFilterAllSelected.companyName"
                                                                            value="selectAll"
                                                                            (change)="selectAll($event,'companyName')">
                                                                        {{isFilterAllSelected.companyName ? 'Clear All':'Select All'}}</label>
                                                                    <button
                                                                        (click)="showFilteredDropdown.companyName=false;"
                                                                        type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close"><span>&times;</span></button>
                                                            </div>
                                                                <ng-container
                                                                    *ngFor="let data of filteredCompanyName">
                                                                    <label class="mx-1">
                                                                        <input type="checkbox" checked="true"
                                                                            [(ngModel)]="data.checked"
                                                                            value="{{data.companyName}}"
                                                                            (change)="filterCompanyName($event,'companyName')">
                                                                        {{data.companyName}}
                                                                    </label>
                                                                </ng-container>
                                                            </div>
                                                        </div> <span class="sorting">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-200 min-max-180">
                                                    <div class="dFlex">
                                                        Office
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['officeName']}"
                                                                (click)="sortData(filteredItems,'officeName','asc','string'); isSorted['officeName'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['officeName']}"
                                                                (click)="sortData(filteredItems,'officeName','desc','string');isSorted['officeName'] = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-200">
                                                    <div class="dFlex">
                                                        {{currentTeamId == 5 ? 'POC Assigned':'User Assignment' }}
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['fname']}"
                                                                (click)="sortData(filteredItems,'fname','asc','string'); isSorted['fname'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['fname']}"
                                                                (click)="sortData(filteredItems,'fname','desc','string');isSorted['fname'] = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-200" [ngStyle]="{'z-index':showTooltipConfig.tooltipOne ? 99 : 9}">
                                                    <div class="dFlex">
                                                        Days Since Oldest Pending Claim (Upload Date)
                                                        <ng-container *ngIf="showTooltipConfig.tooltipOne">
                                                            <div class="tooltip-backdrop" ></div>
                                                        </ng-container>
                                                            <div class="tooltip2" >
                                                                <img src="../../assets/img/question-icon.png" (click)="showTooltipConfig.tooltipOne=!showTooltipConfig.tooltipOne;" />
                                                                <span class="tooltiptext" *ngIf="showTooltipConfig.tooltipOne">
                                                                    <span (click)="showTooltipConfig.tooltipOne=false;" class="tooltip-cross-btn">×</span>
                                                                    It shows the number of days the claim is pending to be billed since the claim was
                                                                    uploaded to the RCM tool</span>
                                                                </div>
                                                
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted['opdtd']}"
                                                                (click)="sortData(filteredItems,'opdtd','asc','number'); isSorted['opdtd'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted['opdtd']}"
                                                                (click)="sortData(filteredItems,'opdtd','desc','number');isSorted['opdtd'] = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-200" [ngStyle]="{'z-index':showTooltipConfig.tooltipTwo ? 99: 9}">
                                                    <div class="dFlex">
                                                        Days Since Oldest Pending Claim (DOS)
                                                        <ng-container *ngIf="showTooltipConfig.tooltipTwo">
                                                            <div class="tooltip-backdrop" ></div>
                                                        </ng-container>
                                                            <div class="tooltip2" >
                                                                <img src="../../assets/img/question-icon.png" (click)="showTooltipConfig.tooltipTwo=!showTooltipConfig.tooltipTwo;" />
                                                                <span class="tooltiptext"  *ngIf="showTooltipConfig.tooltipTwo">
                                                                       <span class="tooltip-cross-btn" (click)="showTooltipConfig.tooltipTwo=false;">×</span>
                                                                           It shows the number of days the claim is pending to be billed since the date of service
                                                                </span>
                                                            </div>
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['opdosd']}"
                                                                (click)="sortData(filteredItems,'opdosd','asc','number'); isSorted['opdosd'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['opdosd']}"
                                                                (click)="sortData(filteredItems,'opdosd','desc','number');isSorted['opdosd'] = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex" style="justify-content: center;">
                                                        # of Claims to be Billed
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['count']}"
                                                                (click)="sortData(filteredItems,'count','asc','number'); isSorted['count'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['count']}"
                                                                (click)="sortData(filteredItems,'count','desc','number');isSorted['count'] = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th *ngIf="teamId == 7">
                                                    <div class="dFlex">
                                                        # of RemoteLite Rejections
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['remoteLiteRejections']}"
                                                                (click)="sortData(filteredItems,'remoteLiteRejections','asc','number'); isSorted['remoteLiteRejections'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['remoteLiteRejections']}"
                                                                (click)="sortData(filteredItems,'remoteLiteRejections','desc','number');isSorted['remoteLiteRejections'] = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th *ngIf="teamId == 7">
                                                    <div class="dFlex">
                                                        Total Pendency
                                                        <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up"
                                                                [ngClass]="{'selected': !isSorted['totalBillingRejection']}"
                                                                (click)="sortData(filteredItems,'totalBillingRejection','asc','number'); isSorted['totalBillingRejection'] = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down"
                                                                [ngClass]="{'selected': isSorted['totalBillingRejection']}"
                                                                (click)="sortData(filteredItems,'totalBillingRejection','desc','number');isSorted['totalBillingRejection'] = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr class="totalRow">
                                                <td>Total</td>
                                                <td></td>
                                                <!-- <td>10/30/2022</td>
                                                <td>10/30/2022</td> -->
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">{{totalClaimData.totalCount}}</td>
                                                <td *ngIf="teamId == 7" class="text-center">{{totalClaimData.totalRemLiteReject}}</td>
                                                <td  *ngIf="teamId == 7" class="text-center">{{totalClaimData.totalcountAndRemLiteReject}}
                                                </td>
                                            </tr>
                                            <tr *ngIf="loader.showLoader">
                                                <td colspan="7" class="text-center"><span class="loader-data "></span>
                                                </td>
                                            </tr>
                                            <ng-container *ngIf="!loader.showLoader">

                                                <tr *ngFor="let lg of filteredItems">
                                                    <td>{{lg.companyName}}</td>
                                                    <td>{{lg.officeName}}</td>
                                                    <td>
                                                        <select class="form-control select-editable" name="" id="" [ngClass]="{'border-red':!lg.assignedUser}"
                                                            (change)="selectNewAssignedUser($event,lg.officeUuid);" [disabled]="isRoleAssociate">
                                                            <option value="{{lg.assignedUser}}">{{lg.fname}}
                                                                {{lg.lname}}</option>

                                                            <ng-container *ngFor="let user of userByTeam">
                                                                <ng-container *ngIf="user.clientName === lg.companyName">
                                                                    <ng-container *ngFor="let users of user.users">
                                                                        <option *ngIf="users.uuid != lg.assignedUser"
                                                                        value="{{users.uuid}}">{{users.fullName}}</option>
                                                                    </ng-container>
                                                                </ng-container>
                                                                <!-- <option *ngIf="lg.assignedUser !== user.uuid" value="{{user.fullName}},{{user.uuid}},{{lg.officeUuid}}">{{user.fullName}}</option> -->
                                                             
                                                            </ng-container>
                                                        </select>

                                                    </td>
                                                    <td class="text-center" [ngClass]="{'opac-zero':lg.opdtd == 0 }">{{lg.opdtd}}</td>
                                                    <td class="text-center" [ngClass]="{'opac-zero':lg.opdosd == 0 }">{{lg.opdosd}}</td>
                                                    <td class="text-center" [ngClass]="{'opac-zero':lg.count == 0 }">  {{lg.count}}</td>
                                                    <td *ngIf="teamId == 7" class="text-center" [ngClass]="{'opac-zero':lg.remoteLiteRejections == 0 }">{{lg.remoteLiteRejections}}</td>
                                                    <td *ngIf="teamId == 7" class="text-center" [ngClass]="{'opac-zero':lg.totalBillingRejection == 0 }">{{lg.totalBillingRejection}}</td>
                                                     <!-- <td class="text-center" [ngClass]="{'opac-zero':lg.opdtd == 0 }"> <a href="javascript:void(0);"  (click)="openSpecificPendencyData(lg,'opdtd')" >{{lg.opdtd}}</a></td>
                                                    <td class="text-center" [ngClass]="{'opac-zero':lg.opdosd == 0 }"> <a href="javascript:void(0);" (click)="openSpecificPendencyData(lg,'opdosd')" >{{lg.opdosd}}</a></td>
                                                    <td class="text-count" [ngClass]="{'opac-zero':lg.count == 0 }">   <a href="javascript:void(0);" (click)="openSpecificPendencyData(lg,'count')" >{{lg.count}}</a></td>
                                                    <td *ngIf="teamId == 7" class="text-count" [ngClass]="{'opac-zero':lg.remoteLiteRejections == 0 }"> <a href="javascript:void(0);" (click)="openSpecificPendencyData(lg,'remoteLiteRejections')" >{{lg.remoteLiteRejections}}</a></td>
                                                    <td *ngIf="teamId == 7" class="text-count" [ngClass]="{'opac-zero':lg.totalBillingRejection == 0 }"> <a href="javascript:void(0);" (click)="openSpecificPendencyData(lg,'total')" >{{lg.totalBillingRejection}}</a></td> -->
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                        <ng-container *ngIf="filteredItems.length==0 && !loader.showLoader">
                                            <div class="text-center mt-5">
                                                <h5 class="text-light bg-secondary p-1"> No Data Available!</h5>
                                            </div>
                                        </ng-container>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="action-buttons" *ngIf="!loader.showLoader && !isRoleAsso">
                            <button type="button" class="btn btn-success"
                                [ngClass]="{'disabled':assignOfficeDetails.assignOfficeDetails.length==0}"
                                (click)="saveAssignments()">
                                <span *ngIf="loader.assignLoader" class="spinner-grow spinner-grow-sm" role="status"
                                    aria-hidden="true"></span> Save Assignment</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>