.colorred
{
	color:#ff0000;
}
.newff{
	color:#0000ff;
}

.yellow{
	background:#efff00;
}
table#data-scroll-t th, table#data-scroll-tre th{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  line-height: 32px;
  text-align: center;
  background: #BBDEFB;
  z-index:1;
  width:10%;
  border:1px solid;
  
}
table#data-scroll-t tr, table#data-scroll-tre tr{
  border:1px solid;
  
}
table#data-scroll-t td, table#data-scroll-tre td{
  border:1px solid;
  
}
#data-scroll-t .data-scroll-thd ,#data-scroll-tre .data-scroll-thdtre{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
 font-weight: 300;
}

table#data-scroll-t,table#data-scroll-tre {
  border-collapse: collapse;
  width:100%
}

th#table#data-scroll-thd ,th#table#data-scroll-thdtre {
  background-color: #1976D2;
  color: #fff;
}

th#table#data-scroll-thd,
td#table#data-scroll-thdtre {
  padding: 1.1em 1.5em;
}

table#data-scroll-t tr,table#data-scroll-tre tr {
  color: #212121;
}

table#data-scroll-t tr:nth-child(odd) {
  background-color: #BBDEFB;
}

table#data-scroll-t1 th, table#data-scroll-t1re th{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  line-height: 32px;
  text-align: center;
  background: #BBDEFB;
  z-index:1;
  width:10%;
  border:1px solid;
  
}
table#data-scroll-t1 tr, table#data-scroll-t1re tr{
  border:1px solid;
  
}
table#data-scroll-t1 td, table#data-scroll-t1re td{
  border:1px solid;
  
}
#data-scroll-t1 .data-scroll-t1hd ,#data-scroll-t1re .data-scroll-t1hdtre{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
 font-weight: 300;
}

table#data-scroll-t1,table#data-scroll-t1re {
  border-collapse: collapse;
  width:100%
}

th#table#data-scroll-t1hd ,th#table#data-scroll-t1hdtre {
  background-color: #1976D2;
  color: #fff;
}

th#table#data-scroll-t1hd,
td#table#data-scroll-t1hdtre {
  padding: 1.1em 1.5em;
}

table#data-scroll-t1 tr,table#data-scroll-t1re tr {
  color: #212121;
}

table#data-scroll-t1 tr:nth-child(odd) {
  background-color: #BBDEFB;
}

/* NEW ORTHO CSS */



.oral-surgery-container .tableHeading {
  font-size: 14px;
  background-color: #3d85c6;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}


.oral-surgery-container .sub-heading {
  font-size: 12px;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.oral-surgery-container .rowHeading {
  background-color: #666666;
  color: #fff;
  font-size: 14px;
}

.oral-surgery-container .table {
  border-collapse: collapse;
  width: 100%
}

  .oral-surgery-container .table td {
      border: 1px solid #000;
      border-collapse: collapse;
      padding: 2px 4px;
      vertical-align: top;
  }

.oral-surgery-container .lightGray {
  background-color: #f3f3f3;
}

.oral-surgery-container .yellow {
  background-color: #ff0;
}

.oral-surgery-container .red {
  background-color: #f00;
  color: #fff;
}

.oral-surgery-container .white {
  background-color: #fff;
}

.oral-surgery-container .dullBlue {
  background-color: #a2c4c9;
  color: #000;
}

.oral-surgery-container .dullGreen {
  background-color: #b6d7a8;
}

.oral-surgery-container .text-white {
  color: #fff;
}


.oral-surgery-container .width-7 {
  width: 7%;
}

.oral-surgery-container .width-8 {
  width: 8%;
}

.oral-surgery-container .width-10 {
  width: 10%;
}

.oral-surgery-container .width-13 {
  width: 13%;
}

.oral-surgery-container .width-15 {
  width: 15%;
}
.oral-surgery-container .width-17 {
  width: 17%;
}
.oral-surgery-container .width-32 {
  width: 32%;
}
.oral-surgery-container .width-20 {
  width: 20%;
}
.oral-surgery-container .width-21 {
  width: 21%;
}
.oral-surgery-container .white-22 {
  width: 22%;
}
.oral-surgery-container .text-left {
  text-align: left;
}

.oral-surgery-container .text-center {
  text-align: center;
}

.oral-surgery-container .table td.borderNone {
  border: 0px;
  background:#fff;
}
.oral-surgery-container .blackClr {
  color:#000;
}
.oral-surgery-container .align-right {
  text-align:right;
}
.oral-surgery-container .notCover {
  display: inline-block;
  background: #ffcdc7;
  border-radius: 5px;
  padding: 3px 5px;
  color: #d80000;
}
.oral-surgery-container .quaterly {
  display: inline-block;
  background: #e7eaed;
  border-radius: 5px;
  padding: 3px 5px;
  color: #000;
}



.ivf-form .tableHeading {
  font-size: 14px;
  background-color: #3d85c6;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}


.ivf-form .sub-heading {
  font-size: 12px;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.ivf-form .rowHeading {
  background-color: #007ad8;
  color: #fff;
  font-size: 14px;
}
.ivf-form .darkYellow {
  background-color: #f78d2c;
  color: #fff;
  font-size: 14px;
}
.ivf-form .table {
  border-collapse: collapse;
  width: 100%
}

.ivf-form .table td {
      border: 1px solid #000;
      border-collapse: collapse;
      padding: 2px 4px;
      vertical-align: top;
      word-wrap: break-word;
      max-width:200px;
      text-align: left;
  }

  .ivf-form .lightGray {
  background-color: #f3f3f3;
}

.ivf-form .lightBrown {
  background-color: #f9cb9c;
}

.ivf-form .yellow {
  background-color: #ff0;
}

.ivf-form .red {
  background-color: #f00;
  color: #fff;
}

.ivf-form .white {
  background-color: #fff;
}

.ivf-form .dullBlue {
  background-color: #a2c4c9;
  color: #000;
}

.ivf-form .dullYellow {
  background-color: #ffe599;
  color: #000;
}

.ivf-form .dullRed {
  background-color: #dd7e6b;
  color: #000;
}

.ivf-form .dullGreen {
  background-color: #b6d7a8;
}
.ivf-form .redText {
  color: red;
}
.ivf-form .text-white {
  color: #fff;
}

.ivf-form .width-5 {
  width: 5%;
  border: 0px;
}
.ivf-form .width-6 {
  width: 6%;
}
.ivf-form .width-7 {
  width: 7%;
}

.ivf-form .width-8 {
  width: 8%;
}

.ivf-form .width-10 {
  width: 10%;
}

.ivf-form .width-12 {
  width: 12%;
}
.ivf-form .width-13 {
  width: 13%;
}
.ivf-form .width-14 {
  width: 14%;
}

.ivf-form .width-15 {
  width: 15%;
}

.ivf-form .width-16 {
  width: 16%;
}

.ivf-form .width-17 {
  width: 17%;
}

.ivf-form .text-left {
  text-align: left;
}

.ivf-form .text-center {
  text-align: center;
}

.ivf-form .table td.borderNone {
  border: 0px;
  background:#fff;
}
.ivf-form .blackClr {
  color:#000;
}
.ivf-form .align-right {
  text-align:right;
}
.ivf-form .align-middle {
  vertical-align:middle!important;
}

.ivf-form {
  background-color: white;
  padding-top: 25px;
  padding-left:20px;
  
}
