<div class="question-form table-container">
	<div class="close-btn">
		<a href="javascript:void(0)" (click)="closePopup()">
			Go Back
		</a>
	</div>	
	<div *ngIf="arrayOfKeys.length==0">
	  NO DATA FOUND. Please Run Rule First with the Corresponding TP / TP is invalid.
	</div>
	<div *ngFor="let key of arrayOfKeys">
		<h3>{{key}}</h3>
		
		<div *ngIf = "key == 'RULE_10'">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th *ngFor="let data of questionFormData[key]">{{data.question}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td *ngFor="let data of questionFormData[key]">
							<table>
								<tr *ngFor="let answer of data.questionAnswers">
									<td *ngIf="data.questionType == 'TEXT' || data.questionType == 'STRING'">
										<input class="inp-custom" type="text" [(ngModel)]="answer.answer" (change)="saveChanges(answer)" [disabled]="data.canChangeAnswer == 0" />
									</td>
									<td *ngIf="data.questionType == 'Y_N'" class="yes-no">
										<input type="radio" [checked]="answer.answer=='Yes'" value="Yes" id="yes_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'Yes')" />
										<label for="yes_{{answer.answerId}}">Yes</label>										
										<input type="radio" [checked]="answer.answer=='No'" value="No" id="no_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'No')" />
										<label for="no_{{answer.answerId}}">No</label>
									</td>
								</tr>
							</table>						
						</td>
					<tr>
				</tbody>						
			</table>
		<hr/>
		</div>
		
		<div *ngIf = "key == 'OVERALL'">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th *ngFor="let data of questionFormData[key]">{{data.question}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td *ngFor="let data of questionFormData[key]">
							<table>
								<tr *ngFor="let answer of data.questionAnswers">
									<td *ngIf="data.questionType == 'TEXT' || data.questionType == 'STRING'">
										<input class="inp-custom" type="text" [(ngModel)]="answer.answer" (change)="saveChanges(answer)" [disabled]="data.canChangeAnswer == 0" />
									</td>
									<td *ngIf="data.questionType == 'Y_N'" class="yes-no">
										<input type="radio" [checked]="answer.answer=='Yes'" value="Yes" id="yes_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'Yes')" />
										<label for="yes_{{answer.answerId}}">Yes</label>										
										<input type="radio" [checked]="answer.answer=='No'" value="No" id="no_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'No')" />
										<label for="no_{{answer.answerId}}">No</label>
									</td>
								</tr>
							</table>						
						</td>
					<tr>
				</tbody>						
			</table>
		<hr/>
		</div>
		
		<div *ngIf = "key == 'RULE_ORTHO'">
			<div *ngFor="let data of questionFormData[key]">
				{{data.questionOrder}}. {{data.question}} {{data.answerAppenderPosition == '1'? data.answerAppender: ''}}
				<span *ngFor="let answer of data.questionAnswers">
					<span *ngIf="data.questionType == 'TEXT' || data.questionType == 'STRING'">
						<input class="inp-custom fill-blanks" type="text" [(ngModel)]="answer.answer" (change)="saveChanges(answer)" [disabled]="data.canChangeAnswer == 0" />
					</span>
				</span>
				{{data.answerAppenderPosition == '3'? data.answerAppender: ''}}
			</div>
		<hr/>
		</div>
		
		<div *ngIf = "key == 'RULE_PREAUTH'">
			<div *ngFor="let data of questionFormData[key]">
				{{data.question}}
				<span *ngFor="let answer of data.questionAnswers">
					<span *ngIf="data.questionType == 'TEXT' || data.questionType == 'STRING'">
						<input class="inp-custom fill-blanks" type="text" [(ngModel)]="answer.answer" (change)="saveChanges(answer)" [disabled]="data.canChangeAnswer == 0" />
					</span>
					<span *ngIf="data.questionType == 'Y_N'" class="yes-no">
						<input type="radio" [checked]="answer.answer=='Yes'" value="Yes" id="yes_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'Yes')" />
						<label for="yes_{{answer.answerId}}">Yes</label>										
						<input type="radio" [checked]="answer.answer=='No'" value="No" id="no_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'No')" />
						<label for="no_{{answer.answerId}}">No</label>
					</span>
				</span>
			</div>
		<hr/>
		</div>
		
		<div *ngIf = "key == 'RULE_PC'">
			<div *ngFor="let data of questionFormData[key]">
				{{data.questionOrder}}. {{data.question}}
				<span *ngFor="let answer of data.questionAnswers">
					<span *ngIf="data.questionType == 'C_B'">
						<label class="checbox-container">
							<input type="checkbox" [(ngModel)]="answer.answer" (change)="saveChanges(answer)">
							<span class="checkmark"></span>
						</label>
					</span>
					<span *ngIf="data.questionType == 'C_B_A'">
						<label class="checbox-container">
							<input type="checkbox" [(ngModel)]="answer.answer1" (change)="mergeAnswer(answer)">
							<span class="checkmark"></span>
						</label>
						<input class="inp-custom fill-blanks" type="text" [(ngModel)]="answer.answer2" (change)="mergeAnswer(answer)" [disabled]="data.canChangeAnswer == 0" />
					</span>
				</span>
			</div>
		<hr/>
		</div>
		
		<div *ngIf = "key == 'RULE_BONE_GRAFT'">
			<div *ngFor="let data of questionFormData[key]">
				{{data.question}}
				<span *ngFor="let answer of data.questionAnswers">
					<span *ngIf="data.questionType == 'Y_N'" class="yes-no">
						<input type="radio" [checked]="answer.answer=='Yes'" value="Yes" id="yes_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'Yes')" />
						<label for="yes_{{answer.answerId}}">Yes</label>										
						<input type="radio" [checked]="answer.answer=='No'" value="No" id="no_{{answer.answerId}}" (change)="saveRadioChanges(answer, 'No')" />
						<label for="no_{{answer.answerId}}">No</label>
					</span>
				</span>
			</div>
		<hr/>
		</div>
		
	</div>
	
	<p class="text-center" *ngIf="arrayOfKeys.length>0">
		<button [disabled]="showQuestionSaveLoading" type="submit" class="btn" (click)="saveFormData()">Save</button>		
	</p>
	<div *ngIf="showQuestionSaveLoading" class="loader"></div>
	<div class="clear"></div>
	
</div>	
