<div class="right-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <!-- <h2 class="page-heading">
                   List Of Claims
                </h2> -->
                <div class="main-container">
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row " id="ruleEngine">
                                <div class="table-responsive" style="min-height:600px;">
                                    <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                        id="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Client Name
                                                    </div>
                                                </th>
                                                <th class="width-90">
                                                    <div class="dFlex">
                                                        Office Name
                                                    </div>
                                                </th>
                                                <th class="width-115">
                                                    <div class="dFlex">
                                                        Claim ID
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Patient ID
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        DOS Range
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Age Category
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Claim Status
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Type
                                                    </div>
                                                </th>
                                                <th class="insuranceName">
                                                    <div class="dFlex">
                                                        Provider Type
                                                    </div>
                                                </th>
                                                <th class="insuranceType">
                                                    <div class="dFlex">
                                                        Provider Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Currently Responsible Team
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Show Archived?
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <input type="text" class="no-css-input-box"> </td>
                                                <td> <input type="text" class="no-css-input-box"> </td>
                                                <td> <input type="date" name="" id="" class="no-css-input-box"> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td><div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                                  </div> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row my-3">
                                        <div class="col-sm-12">
                                            <a href="javascript:void(0);"
                                                class="btn text-light btn-sm btn-secondary">60+ AR</a>
                                            <a href="javascript:void(0);"
                                                class="btn text-light btn-sm btn-secondary mx-2">Overdue Unbilled
                                                Medicaid</a>
                                            <a href="javascript:void(0);"
                                                class="btn text-light btn-sm btn-secondary">Overdue Unbilled
                                                Non-Medicaid</a>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <a href="javascript:void(0);"
                                                class="btn text-light btn-sm btn-secondary">Search</a>
                                        </div>
                                    </div>

                                    <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                        id="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Office
                                                    </div>
                                                </th>
                                                <th class="width-90">
                                                    <div class="dFlex">
                                                        Claim ID
                                                    </div>
                                                </th>
                                                <th class="width-115">
                                                    <div class="dFlex">
                                                        Patient ID
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Patient Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        DOS
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Claim Age
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Age Bracket
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        TFL
                                                    </div>
                                                </th>
                                                <th class="insuranceName">
                                                    <div class="dFlex">
                                                        Claim Type
                                                    </div>
                                                </th>
                                                <th class="insuranceType">
                                                    <div class="dFlex">
                                                        Action Required
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pending Since
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Type
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Estimated Amount
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>