<div class="right-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <!-- <h2 class="page-heading">
                   List Of Claims
                </h2> -->
                <div class="main-container">
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row d-block" id="ruleEngine">
                                <div class="box d-flex justify-content-between">
                                <div class="btn-group filterButtons my-2 mb-2" role="group" aria-label="" style="border:0px;">
                                    <button type="button" class="btn btn-info" [class.active]="activeFilter==1" (click)="quickFilter(1)"><img _ngcontent-fcp-c53="" src="../assets/img/filterIcon.png" class="filteraicon"> 60+ AR</button>
                                    <button type="button" class="btn btn-info" [class.active]="activeFilter==2" (click)="quickFilter(2)"><img _ngcontent-fcp-c53="" src="../assets/img/filterIcon.png" class="filteraicon"> Overdue Unbilled Medicaid </button>
                                    <button type="button" class="btn btn-info" [class.active]="activeFilter==3" (click)="quickFilter(3)"><img _ngcontent-fcp-c53="" src="../assets/img/filterIcon.png" class="filteraicon"> Overdue Unbilled Non-Medicaid </button>
                                </div>
                                <div class="download-btn" *ngIf="!isRoleAssociate"> <!--hide for associate-->
                                    <button type="button" class="icon-btn" (click)="downloadPdf()"
                                        [disabled]="listOfClaimsData.length==0 || loader.exportPDFLoader">
                                        <img src="../../assets/img/pdf.png" /></button><span
                                        *ngIf="loader.exportPDFLoader"
                                        class="spinner-border text-danger mx-1"></span>
                                    <button type="button" class="icon-btn" (click)="exportToCsv()"
                                        [disabled]="listOfClaimsData.length==0">
                                        <img src="../../assets/img/xls.png" /></button><span
                                        *ngIf="loader.exportCSVLoader"
                                        class="spinner-border text-success mx-1"></span>
                                        <button type="button" style="height: 30px;
                                        margin-top: 9px;" [disabled]="exportPDFLoader" [ngClass]="{'disabled':searchClaimConfig.clientUuid.length==0}" (click)="searchClaimsPdf()" class="btn text-light btn-success btn-sm" hidden="true">PDF</button>
                                </div>
                            </div>

                                <div class="rowContainer wrap">
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Client Name  <span class="text-danger">*</span>
                                    </div>
                                    <div class="colAction" *ngIf="clients.length>0"><multi-select-dropdown [inputConfig]="{'clients':clients,'isSearchClaims':true,'subType':'clients','emitAction':'getSelectClientName'}" (emitToParent)="receiveChildrenEvent($event)"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Office Name
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'officeData':offices,'isSearchClaims':true,'subType':'offices','emitAction':'selectedClientsOffices'}">"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Claim ID
                                    </div>
                                    <div class="colAction"><input type="text" class="no-css-input-box claim-width" [(ngModel)]="searchClaimConfig['claimId']"> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Patient ID
                                    </div>
                                    <div class="colAction"><input type="text" class="no-css-input-box" [(ngModel)]="searchClaimConfig['patientId']"> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                DOS Range
                                    </div>
                                    <div class="colAction dateRange"><app-date-range [isSearchClaimsPage]="true" (emitToParent)="receiveChildrenEvent($event)"></app-date-range> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Age Category
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'ageCategory':constants.ageCategory,'isSearchClaims':true,'subType':'ageCategory'}"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Claim Status
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'claimStatus':constants.claimStatus,'isSearchClaims':true,'subType':'claimStatus'}"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Insurance Name
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'insuranceNames':searchParamModel?.insuranceNames,'isSearchClaims':true,'subType':'insuranceNames','emitAction':'getinsuranceNames'}"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Insurance Type
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'insuranceTypes':searchParamModel?.insuranceTypes,'isSearchClaims':true,'subType':'insuranceTypes','emitAction':'getinsuranceTypes'}"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Provider Name
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'providerNames':searchParamModel?.providerNames,'isSearchClaims':true,'subType':'providerNames','emitAction':'getproviderNames'}"></multi-select-dropdown> </div>
                                    </div>
                                    
                                     
                                    
                                                                        <div class="colBox">
                                    <div class="colName">
                                                                                Provider Type
                                    </div>
                                    <div class="colAction"><multi-select-dropdown  [inputConfig]="{'providerTypes':searchParamModel?.providerTypes,'isSearchClaims':true,'subType':'providerTypes','emitAction':'getproviderTypes'}"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Currently Responsible Team
                                    </div>
                                    <div class="colAction">
                                    <multi-select-dropdown [inputConfig]="{'teams':teamData,'isSearchClaims':true,'subType':'teams','emitAction':'getSelectedTeams'}"></multi-select-dropdown>
                                    </div>
                                    </div>
                                    <div class="colBox">
                                        <div class="colName">
                                            Show Archived?
                                        </div>
                                        <div class="colAction">
                                            <!-- <div class="custom-control custom-switch custom-switch-lg">
                                                <input type="checkbox" [(ngModel)]="searchClaimConfig.showArchive" class="custom-control-input"
                                                    id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1"></label>
                                            </div> -->
                                            <select class="form-control" style="width: 180px;"  #archiveSelect (change)="selectArchiveState($event)">
                                                <option value="true">Archived</option>
                                                <option selected='true' value="false">Unarchived</option>
                                                <option value="all">All</option>
                                            </select>
                                        </div>
                                    
                                    </div>
                                    <div class="colBox filterAction" style="margin-top:30px" >
                                        <div  class="colAction">
                                            <a href="javascript:void(0);" [ngClass]="{'disabled':searchClaimConfig.clientUuid.length==0}" (click)="searchClaims()" class="btn text-light btn-success btn-lg"><img _ngcontent-fcp-c53="" src="../assets/img/search.png" class="search-icon">Search</a>
                                            <a href="javascript:void(0);" [ngClass]="{'disabled':searchClaimConfig.clientUuid.length==0}" (click)="resetClaims()" class="btn text-light btn-danger btn-lg ml-3">Reset</a>
                                            </div>
                                    </div>

                                    </div>

                                <!-- <div class="table-responsive">

                                    <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                           id="table" style="display:none;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Office
                                                    </div>
                                                </th>
                                                <th class="width-90">
                                                    <div class="dFlex">
                                                        Claim ID
                                                    </div>
                                                </th>
                                                <th class="width-115">
                                                    <div class="dFlex">
                                                        Patient ID
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Patient Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        DOS
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Claim Age
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Age Bracket
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        TFL
                                                    </div>
                                                </th>
                                                <th class="insuranceName">
                                                    <div class="dFlex">
                                                        Claim Type
                                                    </div>
                                                </th>
                                                <th class="insuranceType">
                                                    <div class="dFlex">
                                                        Action Required
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pending Since
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Type
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Estimated Amount
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> -->

                            </div>

                        </div>
                    </div>

                </div>
                <app-search-claims-pagination *ngIf='listOfClaimsData.length>0' [searchInputConfig]="{'listOfClaimsData':listOfClaimsData,'selectedOffices':selectedOffices,'selectedClients':selectedClients}"  ></app-search-claims-pagination>
                <div *ngIf="listOfClaimsData.length==0 && !loader" class="d-flex justify-content-center align-items-center">No Data Found</div>
               <pagination *ngIf='listOfClaimsData.length>0' [isSearchClaimsPage]="true" [currentPage]="pageNumber"[totalPages]="totalPages" (emitToParent)="receiveChildrenEvent($event)"></pagination>
            </div> 
        </div>
    </div>
</div>
