<div class="right-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <!-- <h2 class="page-heading">
                   List Of Claims
                </h2> -->
                <div class="main-container">
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row " id="ruleEngine">
                                <div class="btn-group filterButtons my-2 mb-2" role="group" aria-label="" style="border:0px;">
                                    <button type="button" class="btn btn-info"><img _ngcontent-fcp-c53="" src="../assets/img/filterIcon.png" class="filteraicon"> 60+ AR</button>
                                    <button type="button" class="btn btn-info active"><img _ngcontent-fcp-c53="" src="../assets/img/filterIcon.png" class="filteraicon"> Overdue Unbilled Medicaid </button>
                                    <button type="button" class="btn btn-info"><img _ngcontent-fcp-c53="" src="../assets/img/filterIcon.png" class="filteraicon"> Overdue Unbilled Non-Medicaid </button>
                                </div>
                                <div class="rowContainer wrap">
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Client Name
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'clientData':clients,'isSearchClaims':true}"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Office Name
                                    </div>
                                    <div class="colAction"><multi-select-dropdown [inputConfig]="{'officeData':offices,'isSearchClaims':true}"></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Claim ID
                                    </div>
                                    <div class="colAction"><input type="text" class="no-css-input-box claim-width"> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Patient ID
                                    </div>
                                    <div class="colAction"><input type="text" class="no-css-input-box"> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                DOS Range
                                    </div>
                                    <div class="colAction dateRange"><app-date-range></app-date-range> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Age Category
                                    </div>
                                    <div class="colAction"><multi-select-dropdown></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Claim Status
                                    </div>
                                    <div class="colAction"><multi-select-dropdown></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Insurance Name
                                    </div>
                                    <div class="colAction"><multi-select-dropdown></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Insurance Type
                                    </div>
                                    <div class="colAction"><multi-select-dropdown></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Provider Type
                                    </div>
                                    <div class="colAction"><multi-select-dropdown></multi-select-dropdown> </div>
                                    </div>
                                    
                                     
                                    
                                                                        <div class="colBox">
                                    <div class="colName">
                                                                                Provider Name
                                    </div>
                                    <div class="colAction"><multi-select-dropdown></multi-select-dropdown> </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Currently Responsible Team
                                    </div>
                                    <div class="colAction">
                                    <multi-select-dropdown [inputConfig]="{'teamData':teamData,'isSearchClaims':true}"></multi-select-dropdown>
                                    </div>
                                    </div>
                                    <div class="colBox">
                                    <div class="colName">
                                                                                Show Archived?
                                    </div>
                                    <div class="colAction">
                                    <div class="custom-control custom-switch custom-switch-lg">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="mb-2 mt-2">
                                    <a href="javascript:void(0);"
                                                                               class="btn text-light btn-secondary "><img _ngcontent-fcp-c53="" src="../assets/img/search.png" class="search-icon">Search</a>
                                    </div>
                                <div class="table-responsive">


                                    <!-- <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                           id="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Client Name
                                                    </div>
                                                </th>
                                                <th class="width-90">
                                                    <div class="dFlex">
                                                        Office Name
                                                    </div>
                                                </th>
                                                <th class="width-115">
                                                    <div class="dFlex">
                                                        Claim ID
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Patient ID
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        DOS Range
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Age Category
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Claim Status
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                       Insurance Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Type
                                                    </div>
                                                </th>
                                                <th class="insuranceName">
                                                    <div class="dFlex">
                                                        Provider Type
                                                    </div>
                                                </th>
                                                <th class="insuranceType">
                                                    <div class="dFlex">
                                                        Provider Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Currently Responsible Team
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Show Archived?
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> <multi-select-dropdown [inputConfig]="{'clientData':clients,'isSearchClaims':true}"></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown [inputConfig]="{'officeData':offices,'isSearchClaims':true}"></multi-select-dropdown> </td>
                                                <td> <input type="text" class="no-css-input-box claim-width" style="width:120px;"> </td>
                                                <td> <input type="text" class="no-css-input-box"> </td>
                                                <td> <app-date-range></app-date-range> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown></multi-select-dropdown> </td>
                                                <td> <multi-select-dropdown [inputConfig]="{'teamData':teamData,'isSearchClaims':true}"></multi-select-dropdown> </td>
                                                <td>
                                                    <div class="custom-control custom-switch custom-switch-lg">
                                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                                        <label class="custom-control-label" for="customSwitch1"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> -->

                                    <!-- <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <a href="javascript:void(0);"
                                               class="btn text-light btn-secondary ml-2"><img _ngcontent-fcp-c53="" src="../assets/img/search.png" class="search-icon">Search</a>
                                        </div>
                                    </div> -->

                                    <table class="table table-striped table-wrapper-scroll-y table-inner-scrollbar"
                                           id="table" style="display:none;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Office
                                                    </div>
                                                </th>
                                                <th class="width-90">
                                                    <div class="dFlex">
                                                        Claim ID
                                                    </div>
                                                </th>
                                                <th class="width-115">
                                                    <div class="dFlex">
                                                        Patient ID
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Patient Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        DOS
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Claim Age
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Age Bracket
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        TFL
                                                    </div>
                                                </th>
                                                <th class="insuranceName">
                                                    <div class="dFlex">
                                                        Claim Type
                                                    </div>
                                                </th>
                                                <th class="insuranceType">
                                                    <div class="dFlex">
                                                        Action Required
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Pending Since
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Type
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Estimated Amount
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>