<div class="right-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-3">
                <h2 class="page-heading">
                    Billing Pendency Dashboard
                </h2>
                <div class="main-container">
                    <div class="row">
                        <div class="col-md-12 mb-2">

                            <div class="switchButtons">
                                <div class="switchBox">
                                    <a href="javascript:void(0);" 
                                        (click)="fetchClaimsByBillingType(appConstants.BILLING_ID)"
                                        [ngClass]="{'active':switchBox.billing,'disabled':log.length==0}">Billing</a>
                                    <a href="javascript:void(0);" 
                                        (click)="fetchClaimsByBillingType(appConstants.RE_BILLING_ID)"
                                        [ngClass]="{'active':switchBox.reBilling,'disabled':log.length==0}">Re-billing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-box-form">
                            <div class="form-row  without-heading">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Office Name <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(log,'officeName','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(log,'officeName','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Oldest Pending Date <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(log,'opdt','asc','date'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(log,'opdt','desc','date');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Oldest Pending DOS <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(log,'opdos','asc','date'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(log,'opdos','desc','date');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <ng-container *ngIf="selectedBtype==appConstants.BILLING_ID">
                                                    <th>
                                                        <div class="dFlex">
                                                            Number of Pending Fresh Cases <span class="sorting">
                                                                <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(log,'count','asc','number'); isSorted = false"></a>
                                                                <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(log,'count','desc','number');isSorted = true"></a>
                                                            </span>
                                                        </div>
                                                    </th>
                                                </ng-container>
                                                <ng-container *ngIf="selectedBtype==appConstants.RE_BILLING_ID">
                                                    <th>
                                                        <div class="dFlex">
                                                            Number of Pending Rebilling Cases <span class="sorting">
                                                                <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(log,'count','asc','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(log,'count','desc','number');isSorted = true"></a>
                                                            </span>
                                                        </div>
                                                    </th>
                                                </ng-container>
                                                <th>
                                                    <div class="dFlex">
                                                        Number of Pending Remotelite Rejections <span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(log,'remoteLiteRejections','asc','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}"  (click)="sortData(log,'remoteLiteRejections','desc','number');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="totalRow">
                                                <td>Total</td>
                                                <td>10/30/2022</td>
                                                <td>10/30/2022</td>
                                                <td >{{totalClaimData.totalCount}}</td>
                                                <td *ngIf="selectedBtype==appConstants.BILLING_ID">{{totalClaimData.totalRemLiteReject}}</td>
                                                <td *ngIf="selectedBtype==appConstants.RE_BILLING_ID">{{totalClaimData.totalRemLiteReject}}</td>
                                            </tr>
                                            <tr *ngIf="loader.billingLoader"><td colspan="7" class="text-center"><span class="loader-data "></span> </td></tr>
                                            <ng-container *ngIf="!loader.billingLoader">

                                            <ng-container *ngFor="let lg of log">
                                                <tr>
                                                    <td>{{lg.officeName}}</td>
                                                    <td>{{lg.opdt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                                    <td>{{lg.opdos | date: 'dd/MM/yyyy'}}</td>
                                                    <td>{{lg.count}}</td>
                                                    <td>{{lg.remoteLiteRejections}}</td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <a data-toggle="collapse" href="javascript:void(0);" class="bold-b-text " [ngClass]="{'collapsed':!expandCollapse}" (click)="expandCollapse=!expandCollapse" aria-expanded="false">List
                                of
                                Claims:</a>
                            <div class="form-row  collapse"  [ngClass]="{'show':expandCollapse}" id="ruleEngine" >
                                <div class="listClaimBox">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1" (change)="fetchClaims('Fresh')" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">Fresh Claims</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault2" (click)="fetchClaims('sendBack')">
                                        <label class="form-check-label" for="flexRadioDefault2">Claims Sent back by
                                            Other
                                            Teams</label>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="dFlex">
                                                        Office<span class="sorting">
                                                            <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'officeName','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'officeName','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-90">
                                                    <div class="dFlex">
                                                        Patient ID<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'patientId','asc','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'patientId','desc','number');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="width-115">
                                                    <div class="dFlex">
                                                        Patient Name<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'patientName','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'patientName','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Date of Service<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'dos','asc','date'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'dos','desc','date');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Claim Age<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'claimAge','asc','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'claimAge','desc','number');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Timely Filing Limit (Days)<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Claim Type<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'officeName','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'officeName','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Action Required<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'officeName','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'officeName','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Name<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'primaryInsurance','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'primaryInsurance','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Insurance Type<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'prName','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'prName','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dFlex">
                                                        Estimated Amount<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'primTotal','asc','number'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'primTotal','desc','number');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <ng-container *ngIf="selectedSubtype!='Fresh'">
                                                    <th>
                                                        <div class="dFlex">
                                                            Billing Amount<span class="sorting">
                                                                <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'billedAmount','asc','number'); isSorted = false"></a>
                                                                <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'billedAmount','desc','number');isSorted = true"></a>
                                                            </span>
                                                        </div>
                                                    </th>
                                                </ng-container>
                                                <th class="lc3Row">
                                                    <div class="dFlex">
                                                        Last Team that Worked on this claim<span class="sorting">
                                                          <a href="javascript:void(0);" class="arrow-up" [ngClass]="{'selected': !isSorted}" (click)="sortData(claimDetail,'lastTeam','asc','string'); isSorted = false"></a>
                                                            <a href="javascript:void(0);" class="arrow-down" [ngClass]="{'selected': isSorted}" (click)="sortData(claimDetail,'lastTeam','desc','string');isSorted = true"></a>
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="!loader.listClaimLoader">

                                            <ng-container *ngFor="let det of claimDetail">
                                                <tr *ngIf="loader.listClaimLoader"><td colspan="7" class="text-center"><span class="loader-data "></span> </td></tr>
                                                
                                                <tr>
                                                    <td>{{det.officeName}}</td>
                                                    <td><a [routerLink]="['/billing-claims/', det.uuid]"
                                                            target="_blank">{{det.patientId}}</a></td>
                                                    <td><a [routerLink]="['/billing-claims/', det.uuid]"
                                                            target="_blank">{{det.patientName}}</a></td>
                                                    <td>{{det.dos | date: 'dd/MM/yyyy'}}</td>
                                                    <td>{{det.claimAge}}</td>
                                                    <td>{{det.timelyFilingLimitData}}</td>
                                                    <!-- Claim Type START-->
                                                    <td *ngIf="det.claimId | claimTypeFilter">Primary</td>
                                                    <td *ngIf="! (det.claimId | claimTypeFilter)">Secondary</td>
                                                    <!-- Claim Type END-->
                                                    <!-- Action Required START-->
                                                    <td *ngIf="det.statusType == appConstants.BILLING_ID">Billing</td>
                                                    <td *ngIf="det.statusType == appConstants.RE_BILLING_ID">Re-Billing</td>
                                                    <!--Action Required END -->
                                                    <!-- Insurance Name START-->
                                                    <td *ngIf="det.claimId | claimTypeFilter">{{det.primaryInsurance}}
                                                    </td>
                                                    <td *ngIf="! (det.claimId | claimTypeFilter)">
                                                        {{det.secondaryInsurance}}</td>
                                                    <!-- Insurance Name END -->
                                                    <!-- Insurance Type START-->
                                                    <td *ngIf="det.claimId | claimTypeFilter">{{det.prName}}</td>
                                                    <td *ngIf="! (det.claimId | claimTypeFilter)">{{det.secName}}</td>
                                                    <!-- Insurance Type START-->
                                                    <!-- Insurance Type START-->
                                                    <td *ngIf="det.claimId | claimTypeFilter">{{det.primTotal}}</td>
                                                    <td *ngIf="! (det.claimId | claimTypeFilter)">{{det.secTotal}}</td>
                                                    <!-- Insurance Type START-->
                                                    <td *ngIf="selectedSubtype!='Fresh'">{{det.billedAmount}}</td>
                                                    <td class="NA">{{det.lastTeam==null?'N/A':det.lastTeam}}</td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    