

<input type="button" value="Billing" (click)="fetchClaimsByBillingType(appConstants.BILLING_ID)"/><br>
<input type="button" value="Re-Billing" (click)="fetchClaimsByBillingType(appConstants.RE_BILLING_ID)"/>
<br>
<table>
<tr>
    <td>Office Name</td>
    <td>Oldest Pending Date</td>
    <td>Oldest Pending DOS</td>
    <td>
        <ng-container *ngIf="selectedBtype==appConstants.BILLING_ID"> Number of Pending Fresh Cases</ng-container>
        <ng-container *ngIf="selectedBtype==appConstants.RE_BILLING_ID"> Number of Pending Rebilling Cases</ng-container>
     </td>
    <td>Number of Pending Remotelite Rejections</td>
    
</tr>
<tr>
    <td>Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr *ngFor="let lg of log">
    <td>{{lg.officeName}}</td>
    <td>{{lg.opdt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
    <td>{{lg.opdos | date: 'dd/MM/yyyy'}}</td>
    <td>{{lg.count}}</td>
    <td>{{lg.remoteLiteRejections}}</td>
</tr>
</table>

<br>
List of Claims
<br>
<input type="button" value="Fresh Claims" (click)="fetchClaims('Fresh')"/>
<input type="button" value="Claims Sent back by Other Teams" (click)="fetchClaims('sendBack')"/>
<br>
<table>
<tr>
    <td>Office Name</td>
    <td>Patient ID</td>
    <td>Patient Name</td>
    <td>Date of Service</td>
    <td>Claim Age</td>
    <td>Timely Filing Limit (Days)</td>
    <td>Claim Type</td>
    <td>Action Required</td>
    <td>Insurance Name</td>
    <td>Insurance Type</td>
    <td>Estimated Amount</td>
    <td *ngIf="selectedSubtype!='Fresh'">Billing Amount</td>
    <td>Last Team that Worked on this claim</td>
</tr>
<tr *ngFor="let det of claimDetail">
    <td>{{det.officeName}}</td>
    <td>{{det.patientId}}</td>
    <td>{{det.patientName}}</td>
    <td>{{det.dos | date: 'dd/MM/yyyy'}}</td>
    <td>{{det.claimAge}}</td>
    <td>{{det.timelyFilingLimitData}}</td>
    <!-- Claim Type START-->
    <td *ngIf="det.claimId | claimTypeFilter">Primmary</td> 
    <td *ngIf="! (det.claimId | claimTypeFilter)">Secondary</td> 
    <!-- Claim Type END-->
    <!-- Action Required START-->
    <td *ngIf="det.statusType == appConstants.BILLING_ID">Billing</td>
    <td *ngIf="det.statusType == appConstants.RE_BILLING_ID">Re-Billing</td>
    <!--Action Required END -->
    <!-- Insurance Name START-->
    <td *ngIf="det.claimId | claimTypeFilter">{{det.primaryInsurance}}</td>
    <td *ngIf="! (det.claimId | claimTypeFilter)">{{det.secondaryInsurance}}</td>
    <!-- Insurance Name END -->
    <!-- Insurance Type START-->
    <td *ngIf="det.claimId | claimTypeFilter">{{det.prName}}</td>
    <td *ngIf="! (det.claimId | claimTypeFilter)">{{det.secName}}</td>
    <!-- Insurance Type START-->
     <!-- Insurance Type START-->
     <td *ngIf="det.claimId | claimTypeFilter">{{det.primTotal}}</td>
     <td *ngIf="! (det.claimId | claimTypeFilter)">{{det.secTotal}}</td>
     <!-- Insurance Type START-->
     <td *ngIf="selectedSubtype!='Fresh'">{{det.billedAmount}}</td>
     <td>{{det.lastTeam==null?'N/A':det.lastTeam}}</td>
     
</tr>
</table>
