<div class="right-container manage-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm mt-4">
                <select  class="form-control" (change)="selectClient($event)">
                    <option selected="true" hidden="true">Select Client Name</option>
                    <option [value]="data.clientName" *ngFor="let data of clients">{{data.clientName}}</option>
                </select>
            </div>
            <div class="col-lg-12 pt-3">
                <div class="loader-data" role="status" *ngIf="loader &&  manageSectionData.length==0">
                </div>
                <div *ngIf="alert.showAlertPopup">
                    <div>
                        <div class="alert fade show text-center" [ngClass]="{'alert-success': !this.alert.isError,'alert-danger':this.alert.isError}" role="alert">
                            <strong>{{alert.alertMsg}}</strong>
                            <button type="button" (click)="alert.showAlertPopup=false;" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="main-container manage-section-2" *ngIf="!loader && manageSectionData.length>0">
                    <ul>
                        <li *ngFor="let data of manageSectionData;let index=index;trackBy: trackByFn">
                            <fieldset>
                                <legend>
                                    {{data.clientName}}
                                </legend>
                                <ul>
                                    <li *ngFor="let teams of data.teamsWithSections;let idx=index;trackBy: trackByFn">

                                        <details>
                                            <summary>
                                                <span>
                                                    {{teams.teamName}}
                                                </span>
                                            </summary>
                                            <div class="manage-section-row">
                                                <ng-container *ngFor="let sec of teams.sectionData;let i=index;trackBy: trackByFn">
                                                    <div class="manage-section-col-sm-3">
                                                        <strong> {{sec.sectionDisplayName}} <br> <small *ngIf="sec?.sectionCategory?.category"> ({{sec?.sectionCategory?.category|titlecase}})</small> </strong>
                                                        
                                                        <div class="manageCheckcontainer" *ngIf="!inputConfig?.isEditSection">
                                                            <div class="form-check">
                                                                <input class="form-check-input"  [(ngModel)]="sec.viewAccess" (change)="updateSelectedData($event,data.clientUuid,teams.teamId ,sec.sectionId,sec.viewAccess,sec.editAccess,'view')" type="checkbox" value="" id="view{{index}}{{idx}}{{i}}">
                                                                <label class="form-check-label" for="view{{index}}{{idx}}{{i}}">
                                                                    View
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" [(ngModel)]="sec.editAccess" (change)="updateSelectedData($event,data.clientUuid,teams.teamId ,sec.sectionId,sec.viewAccess,sec.editAccess,'edit')" type="checkbox" value="" id="edit{{index}}{{idx}}{{i}}">
                                                                <label class="form-check-label" for="edit{{index}}{{idx}}{{i}}">
                                                                    Edit
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="manageCheckcontainer" *ngIf="inputConfig?.isEditSection">
                                                            <div class="form-check">
                                                                <input class="form-check-input" [disabled]="true" [(ngModel)]="sec.viewAccess" (change)="editSelectedData($event,data.clientUuid,teams.teamId ,sec.sectionId,sec.viewAccess,sec.editAccess,'view')" type="checkbox" value="" id="view{{index}}{{idx}}{{i}}">
                                                                <label class="form-check-label" for="view{{index}}{{idx}}{{i}}">
                                                                    View
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input"  [checked]="sec.editAccess" (change)="editSelectedData($event,data.clientUuid,teams.teamId ,sec.sectionId,sec.viewAccess,sec.editAccess,'edit')" type="checkbox" value="" id="edit{{index}}{{idx}}{{i}}">
                                                                <label class="form-check-label" for="edit{{index}}{{idx}}{{i}}">
                                                                    Edit
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </details>
                                    </li>
                                </ul>
                                <div class="manage-action">
                                    <button class="btn btn-primary" *ngIf="!this.inputConfig?.isEditSection" (click)="saveManageSecData(index)">Save Button</button>
                                    <button class="btn btn-primary" *ngIf="this.inputConfig?.isEditSection" (click)="saveManageUserSecData(index)">Save Button</button>
                                </div>
                            </fieldset>
                        </li>

                    </ul>
                    <div class="section-list-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    