@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: "Montserrat", sans-serif!important;
    font-size: 16px;
}
.login-bg {
    background: url(../../../assets/img/RCM-Login.jpg) no-repeat;
    background-size: 100%;
    background-position:0px 30px;
}

.inner-container {
    position: relative;
    width: 33%;
    padding:50px 35px 20px;
    background: #fff;
    margin-top: 5%;
    border-radius: 20px;
    margin-right: 5%;
    font-family: "Montserrat", sans-serif;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.2);
}


.form-control:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #ddd;
    font-family: "Montserrat", sans-serif;
}


label {
    display: inline-block;
    margin-bottom: .5rem;
}
.logos {
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.googleRating {
    width:100px;
}
.incLogo {
    width: 58px;
    margin-right: 10px;
    margin-bottom: 11px;
}
.BBBLogo {
    width: 100px;
}
.page-header {
    background: #fff;
    height: 100px;
    z-index: 9;
    position: relative;
    display: flex;
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: inherit;
    padding: 0 10%;
}

.inner-page-bg {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}

.page-heading {
    font-size: 21px;
    color: #1c212d;
    margin-top: 5px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

    .page-heading strong {
        color: #333;
    }

.login-box {
    padding: 0px 25px;
}

.login-box label {
    font-size: 16px;
    color: #606161;
    margin-bottom: 5px;
    font-weight: 500;
}



.form-control-sm {
    padding: 0.25rem 0.5rem;
    width: 100%;
}

.form-control:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #767676;
}



.form-control {
    padding-left: 38px;
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid #53b4e3;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 0px;
}

.btn-bca {
    background: #36a7de;
    height: 55px;
    width: 100%;
    font-size: 25px !important;
    font-weight: 700;
    color: #fff;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 0px !important;
}

.btn-bca:hover {
    background: #36a7de;
    color: #fff;
    text-decoration: none;
}

input::placeholder {
    color: #bec1ce;
    font-size: 13px;
    font-weight: 500;
}


.focus-input::after {
    content: "";
    background: url(../../../assets/img/loginUser.png) no-repeat;
    position: absolute;
    top: 26px;
    left: -3px;
    padding-left: 60px;
    background-position: center center;
    height: 50px;
    background-size: 24px;
}

.focus-input.password::after {
    background: url(../../../assets/img/loginpassword.png) no-repeat;
    background-position: center center;
    background-size: 22px;
    top: 24px;
}



.remberMe {
    padding-left: 26px;
    display: flex;
    justify-content: space-between;
}



.remberMe a {
    color: #606161;
    font-weight: 500;
    font-size: 14px;
}

    .remberMe .custom-checkbox {
        line-height: 20px;
    }

.info-box {
    width: 58%;
    text-align: right;
    margin-top: 5%;
    padding-top: 50px;
    font-size: 38px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    position:relative;
}
.info-text-capline {
    text-align: left;
    float: right;
    text-shadow: 0px 3px 10px #0e0e0e;
    line-height: normal;

    span {
        font-size: 56px;
        line-height: normal;
        margin-top: 5px;
        display: block;
    }
}
.rcm-logo {
    font-size: 32px;
    font-weight: 700;
    color: #1c212d;
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;
    margin-bottom: 35px;
}

    .rcm-logo span {
        margin-left: 6px;
    }

.custom-control-label::before {
    background-color: #fff;
    border: #e3e3e3 solid 1px;
    box-shadow: 0px 0px 5px #ede6e6;
    top: 0;
    width: 18px;
    height: 18px;
}

.custom-control-label::after {
    top: 0;
    width: 18px;
    height: 18px;
    background: no-repeat 55%/55% 55%;
    border: 1px solid #dbdada;
    box-shadow: 0px 0px 5px #ede6e6;
    border-radius: 5px;
    border: 1px solid rgb(173, 182, 190);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #00c37f;
    background: rgb(52 219 161);
}



.info-box ul {
    list-style: none;
    padding: 0px;
}

.info-box h2 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 32px;
    position: relative;
    color: #1c212d;
}

.info-box ul li {
    width: 480px;
    font-size: 13px;
    background: #fff;
    border-radius: 60px;
    padding: 8px 36px 8px 65px;
    line-height: 15px;
    box-shadow: 0px 1px 6px #dfdfdf;
    margin-bottom: 25px;
    font-weight: 500;
    color: #555;
    min-height: 67px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
}

    .info-box ul li strong {
        color: #1c212d;
        margin-bottom: 3px;
        display: block;
        font-weight: 600;
        font-size: 14px;
    }

    .info-box ul li em {
        position: absolute;
        box-shadow: 2px 1px 8px #cfcfcf;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        line-height: 60px;
        left: -20px;
        font-size: 30px;
        font-style: normal;
        background: #34dba1;
        color: #fff;
        text-shadow: 1px 1px 0px #22b984;
    }

    .inner-container .errorMessage{
        width:200%;
    }

    .inner-container .closeIcon{
        cursor:pointer;
         font-size:25px;
    }

    .inner-container .cancel-link a{
        cursor:pointer;
         text-decoration:none;
    }

    .inner-container .cancel-link {
        margin-top:10px;
    }

    .forgot-pass-header{
        font-size: 22px;
        width: 225px;
        display: flex;
        margin: 0 auto 50px;
        background: #fff;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px #e7e7e7;
        font-weight: 700;
        color: #1c212d;
    }
    .forgot-pass-header span {
        margin-left: 6px;
    }

.forgot-password .cancel-link {
    font-size:14px;
    font-weight:600;
    margin-bottom:65px;
}
    .forgot-password .cancel-link:hover {
        text-decoration:underline;
    }
    .form-control.is-invalid, .was-validated .form-control:invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

.invalid-feedback {
    display: block;
}
.forgot-pass-box {
    position:relative;
}
    .forgot-pass-box .focus-input::after {
        left: -8px;
        top: 33px;
    
    }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    border-bottom: 2px solid #53b4e3;
    font-family: "Montserrat", sans-serif;
}
.note{
    font-size: 13px;
    color: #555555;
    line-height: normal;
    padding: 0 20px;
    margin-top: 10px;
}
.info{
    color: red;
    font-size: 15px;
    position: relative;
    margin-left: -6px;

}
